<div class="book-content" id="justificado">
    
    <h3>* Junho</h3>
    
    <h2><u>Expressão Cênica</u></h2>
    
    <p>A culminância desta disciplina aconteceu com uma apresentação 
    onde os participantes escolhiam os seus temas: cantavam e encenavam 
    sobre os assuntos que lhes fossem pertinentes. Os textos foram os mais variados. 
    Alguns utilizaram o modelo da récita, citando <i>Carlos Drummond</i>, 
    outros cantaram peças eruditas, outros imitaram algumas situações do 
    cotidiano e outros resolveram fazer comédia, tirada das dificuldades 
    do dia a dia. A docente <i>Katarina Meneses</i> também participou, 
    fazendo uma pequena apresentação das várias histórias que 
    aconteciam na sua sala de aula. A abertura foi realizada pelas 
    professoras <i>Jéssica Sabrina</i> (Português) e <i>Ana Paula Sá</i> 
    (Português e Produção Musical) que recitaram poemas de Cora Coralina 
    e Cecília Meireles. O evento também contou com a participação do 
    professor <i>Robson Ribeiro</i>, que acompanhou ao piano o aluno 
    <i>Adjair Cavalcante</i>. 
    <a class="fim">_______________________</a>

    
<span class="page-number">77</span>
</div>
