<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        Recife, Olinda, Pesqueira, e tantas outras opções 
        das redondezas, num raio de aproximadamente 300 km.
    </p>
    
    <p>
        O nível musical e cultural dos discentes era de uma imensa 
        diversidade. O curso abrigava alunos que já viviam da música, como 
        arranjadores, maestros, performistas, professores, desde muito 
        tempo. Porém a mesma licenciatura também comportava alunos que 
        estavam na fase inicial, nos primeiros passos da teoria e solfejo, 
        o que levava o grupo de discentes a uma grande discrepância musical. 
    </p>
    
    <p>
        Este quadro instalado nas salas de aulas da Licenciatura também 
        migrava para o lado cultural e cognitivo de outras disciplinas. A 
        falta do hábito da leitura e da escrita era uma constante, fazendo 
        o alunado, muitas vezes, questionar os conteúdos que fugiam à área 
        musical-performista. Era comum ouvir dos discentes que o “curso é 
        muito teórico”, porém a Licenciatura em Música do IFPE Campus 
        Belo Jardim se propunha a preparar educadores com todos os 
         <a class="fim"> _________________________________________ </a>
    </p>
    
    
<span class="page-number">251 </span>
</div>
