<div class="book-content" id="justificado">
    
    <h2>VISITA DO MEC</h2>
    
    <p>
        A Proden, no intuito de esclarecer os procedimentos a serem 
        tomados com toda a documentação, elaborou uma “Reunião 
        Preventiva”, com os membros do NDE e demais professores do Curso 
        de Música. A reunião objetivava discutir a concepção e 
        conceitos de avaliação, por meio do seguinte diálogo: 
        apresentação das legislações relacionadas aos 
        processos de Avaliação Nacional da Educação Superior (SINAES); 
        apresentação do Instrumento de Avaliação de Cursos de Graduação 
        presencial e a distância, utilizado pela Comissão de Avaliação 
        in loco, destacando os indicadores de qualidade, conceitos e os 
        critérios de análise definidos pelo MEC; apresentação do 
        Formulário Eletrônico do Curso, tendo em vista a importância da 
        articulação do planejamento com a avaliação; informação sobre a 
        organização da agenda dos avaliadores. A reunião preventiva 
        deixou o grupo todo mais angustiado do que este já se encontrava, 
        com a demanda de trabalho que ainda havia a ser feito e o 
        <a class="fim">_______________________________</a>
    </p>
    
    
    
    
<span class="page-number">266 </span>
</div>
