<div class="book-content" id="justificado">
    
        <h1>O Campus, Os Alunos, O Domitório e O Refeitório</h1>
    
    <h3><u> O Campus</u></h3>
    
    <p>
            O Campus Belo Jardim fica a 180 quilômetros de Recife, na 
            porta do Agreste, numa região conhecida como “Terra dos 
            Músicos”. O local é lindo, um ambiente bucólico, onde o 
            verde e as árvores são presentes para os quatro cantos 
            latitudinais.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/estfisica/estfisica_01.png" width="360" height="190" />
    </center>
    <div id="credito-img" > 
        <label>
           Acervo Marcos Nascimento.
        </label>
    </div>
    
    
<span class="page-number">249 </span>
</div>
