<div class="book-content" id="justificado">
    
    <h1>Eventos</h1>
    <center>
        <h3><u>Eventos - 2011</u></h3>
    </center>
    <br />
    
    
    <h2>*<u> Maio</u></h2>
    <br />
    <p>
        Em maio de 2011 o IFPE promoveu o “Fórum das Licenciaturas”, 
        onde foram realizadas palestras, rodas de conversas e falas 
        sobre as problemáticas dos Cursos Superiores dentro da 
        instituição. Neste encontro, o professor <i>Robson Ribeiro</i> 
        apresentou o curso de Música de Belo Jardim, iniciando sua fala 
        com a criação da Licenciatura na cidade tida como “terra dos 
        músicos”, explanando também as dificuldades enfrentadas pelos 
        docentes no campus. 
    </p>
    
<span class="page-number">204 </span>
</div>
