<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_12.png" width="360" height="325" />
    </center>
    <div id="credito-img-l">
        <label>
           Daiana Zenilda 
           <br />
</label>
    </div>
    
     <div id="credito-img">
        <label id="credito-img">
           Sônia Maria da Silva
           <br />
        </label>
    </div>
    
    
    
<span class="page-number"> 345 </span>
</div>
