<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_07.png" width="360" height="220" />
    </center>
    <div id="credito-img" > 
        <label>
           Leonardo da Silva - acervo Leonardo
           &
           Denys Nascimento - acervo Denys
        </label>
    </div>
    <br />
    <h2>* <u>Junho</u></h2>
    <br />
    <h2><u>WorkShopping</u></h2>
    <p>
        A Coordenação do Curso de Música, na pessoa de <i>Marinaldo 
        Lourenço</i>, promoveu neste ano de 2013 um Workshop com 
        <i>Cacá Malaquias</i>.
    </p>
<span class="page-number">215 </span>
</div>
