<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_24.png" width="360" height="250" />
    </center>
    <div id="credito-img" > 
        Alunos do professor Flávio Lima – acervo Flávio
    </div>
    
    <h2><u>Apresentações no  Palco Externo</u></h2>
    
    <p>
        No palco externo do IFPE aconteciam outros espetáculos, entre 
        eles o do grupo Virgulados, que, juntamente com o aluno de canto 
        <i>Pierre Tenório</i>, apresentou um espetáculo com música e 
        récita. Neste dia, além de <i>Pierre</i>, também dividiram o palco 
        <i>Maéve Oliveira, Eduardo Albuquerque, Eddie Murphy, André 
        Phanfãs, David Henrique</i>.
    </p>
<span class="page-number">134 </span>
</div>
