<div class="book-content" id="justificado">
    
    <p class="no-indent">
        de Clarinete em Belo Jardim, sai a convocação do docente para a 
        licenciatura. No primeiro semestre o professor ministrou aulas 
        de Clarinete, Seminários Temáticos, História da Música, além de 
        trabalhar no Ensino Médio e dar aulas de teoria e na Extensão.
    </p>
    
     <img class="left-pic zoom-this" src="pics/ano2013/ano2013_05.jpg" width="200" height="185">
     <br />     <br />     <br />     <br />
    <div id="credito-img"> Carlos Silva  - acervo Carlos    </div>
    <br />    <br />    <br /><br /><br /><br />
    <center><h3> Segundo Semestre</h3></center>
    
    <p>
        O Campus Belo Jardim sofre uma carência de salas de aulas: poucas 
        salas para muitas aulas. Para suprir esta dificuldade com relação 
        ao Curso de Música, o <a class="fim">_____________</a>
    </p>
    
<span class="page-number">61</span>
</div>
