<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_22.png" width="360" height="310" />
    </center>
    <div id="credito-img" > 
        <label>
           Evandro Sampaio - acervo Evandro
           <br />
           Orquestra de Frevo idealizada por Evandro Sampaio - acervo Elias Nascimento
           <br />
          Thiago Gregorio - acervo Thiago
        </label>
    </div>
    
<span class="page-number">241 </span>
</div>
