<div class="book-content" id="justificado">
<h1> A Aula Inaugural </h1>


<img class="left-pic zoom-this" src="pics/ano2010/Aula_Inaugural.jpg" width="405" height="181">
<div id="credito-img"> Acervo de Ronaldo França  </div>
<br />

<p >
Em fevereiro de 2011, o curso de Música tem início com a participação
dos professores e 25 alunos, num clima de expectativas e algumas conquistas
realizadas. O PPC - Plano Político Pedagógico que nortearia o curso
havia sido elaborado e aprovado, bem como vários documentos necessários para o começo do curso.

</p>


</div>
<span class="page-number">22</span>
