<div class="book-content" id="justificado">
    
        <h2><u>A Banda e João Almeida em 2015</u></h2>
    
    <p>
        <i>João Almeida</i>, Diretor de Ensino no Campus Belo Jardim e 
        professor de informática do Curso de Música, investigou por 
        algum tempo a criação de instrumentos musicais, por imagens 
        vistas na internet. Por curiosidade, testou a produção de som 
        criando instrumentos similares ao Tubofone ou Chinelotron, 
        construído por meio de tubos e executados com chineladas.
    </p>
    
    <p>
        A intenção de <i>João</i> era causar maior interação no desfile 
        de 7 de setembro com um instrumento que provocasse a 
        curiosidade dos transeuntes. Na perspectiva auditiva, o docente 
        tinha o intuito de provocar um efeito de distorção que chamasse 
        atenção dos que passavam. Isto pôde ser ouvido graças à 
        amplificação que foi dada ao instrumento.
    </p>
    
    
    
<span class="page-number">247 </span>
</div>
