<div class="book-content" id="justificado">
    
    <h2><u>
        No Meu Tempo Era Assim - Maelda Lacerda, Lucilene Lima, 
    Jéssica Sabrina, Sandra Maria Santos e Katarina Meneses (2014) 
    </u></h2>
    
    <p>
        No meu tempo era assim, projeto de extensão coordenado pela 
        professora <i>Maelda Lacerda</i> desenvolvido pelas professoras 
        <i>Lucilene Lima, Jéssica Sabrina, Sandra Maria e Katarina 
        Meneses</i>.  Foi um projeto realizado a partir da narração de 
        experiências socioculturais da memória de pessoas idosas. O 
        Projeto iniciou suas atividades em 2014, visando investigar a 
        vida, cotidiano e experiências de idosas do CRAES- Centro de 
        Referência de Assistência Social de Belo Jardim.
    </p>
    
    <p>
        <i>“É sabido que é através das lembranças que as pessoas idosas 
        refletem sobre seus tempos vividos. Quando narram suas memórias, 
        estão articulando signos e estruturas de significados 
        compartilhados. A memória da vivência humana imprime uma 
        temporalidade específica à experiência de envelhecer.</i>
    </p> 
    
<span class="page-number">192 </span>
</div>
