<div class="book-content" id="justificado">
    <h2><u>Quarteto de Metais - Evandro Sampaio </u></h2>
    
    <p>
        O professor <i>Evandro Sampaio</i> apresentou músicas do 
        repertório estudado naquele semestre, com a formação de um 
        quarteto de metais: <i>André Phanfãs, Denys Nascimento, Ivanar 
        Nunes e Alexandre Rodrigues</i>.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_23.png" width="360" height="270" />
    </center>
    <div id="credito-img" > 
        Quarteto de metais - acervo Flávio Lima
    </div>
    
<span class="page-number">132 </span>
</div>
