<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_16.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
           A Reitora Claudia Sansil e Carlos Silva 
           no
           Aniversário do IFPE 2014, apresentação da Missa de Clóvis Pereira - acervo Carlos Silva.
           <br />
           Grupo de Prática Profissional,  sob a regência de Robson Ribeiro, tendo como solista Katarina Meneses - acervo reitoria IFPE
           
        </label>
    </div>
    <br />
    
<span class="page-number">227 </span>
</div>
