<div class="book-content" id="justificado">
    
    <iframe width="370" height="205" src="https://www.youtube.com/embed/U-3gb-f9RCo" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Quinteto de Metais na biblioteca - acervo Flávio Lima
    </div>
    
    <br />
    
    <h2><u>O Quarteto de Metais - Flávio Lima</u></h2>
    <br />
    
    <p>
         O professor <i>Flávio Lima</i> também apresentou uma pequena 
         mostra do que fazia em sala de aula, com um quarteto de metais 
         composto por <i>Marcelo Moura, Lilian Danila, Rodrigues e 
         Budião.</i>
    </p>
<span class="page-number">133 </span>
</div>
