<div class="book-content" id="justificado">
    
    <p class="no-indent">
        tornar o ambiente mais aprazível.
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/estfisica/estfisica_04.png" width="360" height="210" />
    </center>
    <div id="credito-img" > 
        <label>
           Marcelo Moura, Marcos Nascimento, Marcos Gondim, Lucas Monteiro, Lílian Danila e Budião, no refeitório - acervo Marcos Nascimento
        </label>
    </div>
    
    
<span class="page-number">256 </span>
</div>
