<div class="book-content" id="justificado">
    
    <p>
        Segundo o bibliotecário <i>Rodriggo Leopoldino</i>, refletindo 
        sobre as palavras de <i>Luis Milanesi</i>, “É na biblioteca que 
        encontramos as ideias, o convívio com os nossos pares ou ímpares. 
        A biblioteca é uma bomba-relógio prestes a explodir de 
        informações, é o local de trocar os pensamentos. Lá, na 
        biblioteca, você ordena os sonhos para posteriormente 
        desordená-los, desordenando o mundo, recriando, assim, um novo 
        mundo”.
    </p>
    
    <p>
        “A biblioteca do Campus Belo Jardim especificamente é o 
        aglutinado de pensamentos agrícolas com ideais tecnológicos da 
        informática, ou o encontro de mentes musicais com os cuidados 
        que só a enfermagem pode propiciar. Lá, na biblioteca de Belo 
        Jardim, é o local que as diferenças se fizeram tão intensas que 
        só a arte da música pôde aniquilá-las, oferecendo belas melodias 
        aos corações rudes e endurecidos.” (Katarina Meneses)
    </p>
    
    
    <p>
        Os mais diferentes encontros e linguagens foram 
        <a class="fim">_______________________________</a>
    </p>
    
<span class="page-number">270 </span>
</div>
