<div class="book-content" id="justificado">
    
    <h2><u>Batuque na cozinha sinhá num qué!  Jandson Ferreira (2013 a 2015) </u></h2>
    
    <p>
        A música de Martinho da Vila “Batuque na Cozinha Sinhá Não Quer” 
        em 2013 inspirou o professor <i>Jandson Ferreira</i> a escrever 
        um projeto para a comunidade Quilombola do “Barro Branco”. O 
        projeto de <i>Jandson</i>, apesar de ser de extensão, tinha 
        também um caráter de pesquisa.
    </p>
    
    <p>
        O Barro Branco fica nas imediações da cidade de Belo Jardim, 
        numa área com poucos recursos hídricos, tendo apenas um olho 
        d’água que abastece aquela região. O intuito do docente a 
        princípio era realizar um trabalho de pesquisa das músicas 
        existentes na memória dos mais velhos, e no instante seguinte 
        trabalhar este repertório com crianças e adolescentes, 
        fortalecendo o sentimento de pertença dos jovens daquela 
        comunidade por meio do trabalho afetivo musical.
    </p>
    
    <p>
        A população luta com dificuldade no tocante <a class="fim">_______</a>
    </p>
    
    
<span class="page-number">182 </span>
</div>
