<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_10.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
            Apresentação na Igreja do Carmo & Visita ao Teatro de Santa Isabel para assistir Don Giovani - acervo Joermison Melo 
        </label>
    </div>
    
<span class="page-number">159 </span>
</div>
