<div class="book-content" id="justificado">
    
    <p class="no-indent">
        da missa celebrada pelo papa Urbano, nas catacumbas da via Ápia. 
        Ela decidiu viver casta, mas seu pai obrigou-a a casar com 
        Valeriano. Ao contar ao seu marido sua condição de virgem consagrada 
        a Deus, conseguiu convencê-lo de permanecer casta. Segundo a 
        tradição, Cecília teria cantado para Valeriano a beleza da 
        castidade e ele acabou decidindo respeitar o voto da esposa. Além 
        disso, Valeriano converteu-se ao catolicismo.
        <div id="credito-img"><a href="http://www.ombmg.org.br/ombmgv2/modules/news/article.php?storyid=13" target="_blank">http://www.ombmg.org.br/</a> em 05/04/2015 às 10:30</div>
    </p>
    
    <br />
    
    <center>
        <h3>
           Semana da Música  2012
        </h3>
    </center>
    
    <p>
        No ano de 2012, os professores realizaram o “<i>Dia da Cultura</i>”, 
        onde foram apresentados os trabalhos executados em sala de aula 
        até aquele momento, inclusive com a participação dos alunos das 
        extensões. Cada docente de música apresentou uma pequena mostra 
        do que estava sendo produzido no Campus.
    </p>
<span class="page-number">105 </span>
</div>
