<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_15.png" width="360" height="325" />
    </center>
    <div id="credito-img-l">
        <label>
           Arlindo Cosmo, 
           <br />
           Nelson Mano, 
           <br />
           Cícero Valdemir da Silva 
           <br />
           José Vicente
           <br />
</label>
    </div>
    
     <div id="credito-img">
        <label id="credito-img">
           Ronaldo Medeiros, 
           <br />
           Hugo César, 
           <br />
           Lenemirio Oliveira
        </label>
    </div>
    
    
<span class="page-number"> 348 </span>
</div>
