<div class="book-content" id="justificado">
    <h2><u>Extensão</u></h2>
    <p>
        Durante todo o ano de 2011 os professores <i>Robson Ribeiro, 
        Katarina Meneses, Evandro Sampaio, Frederico Andrade, Flávio 
        Lima e Mozart Vieira</i> trabalharam com grupos de extensão para 
        os futuros vestibulandos. Cada docente, na sua especialidade,
        tentava minimizar o problema da carência da cidade com relação 
        aos conservatórios. Alguns dos alunos extensionistas no final do 
        ano conseguiram ingressar no Curso de Música e muitos deles 
        participaram dos eventos realizados coletivamente.
    </p>
    
    <h2><u>Trombone, Trompete e Tuba com Flávio Lima (2011-2012)</u></h2>
    <p>
        Para preparar os instrumentistas de Trombone, Trompete e Tuba 
        para o vestibular, o professor <i>Flávio Lima</i> teve a 
        preocupação de oferecer um curso de extensão para a comunidade 
        externa. Durante dois anos executou esta tarefa, onde alguns de 
        seus alunos foram  
    </p>
<span class="page-number">150 </span>
</div>
