<div class="book-content" id="justificado">
    
    <img class=" zoom-this" src="pics/ano2014/ano2014_02.png" width="380" height="430" />
    <div id="credito-img" > 
        Vista do Paço da Alfândega 
        Imagens do Recife - acervo e imagem de Marcos Nascimento
    </div>
    
<span class="page-number">76</span>
</div>
