<div class="book-content" id="justificado">
    
    <p class="no-indent">
        tempo que se extinguia.
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/nde/nde_01.png" width="315" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Reunião do colegiado - acervo Katarina 
        </label>
    </div>
    
    <p>
        Com a chegada dos avaliadores, houve um momento único de analise 
        do NDE, onde posteriormente checariam as atas para 
        certificarem-se de que o que ouviram representava a verdade.
    </p>
    
    <p>
        O professor <i>Jandson Ferreira</i> elaborou uma explanação com 
        imagens em multimídia sobre o que era o Núcleo Docente 
        Estruturante, como este havia se 
        <a class="fim">______________________________</a>
    </p>
    
<span class="page-number">267 </span>
</div>
