<div class="book-content" id="justificado">
    
    <h2><u>Recital de Flauta, Trombone e Trompete</u></h2>
    
    <p>
        Os docentes <i>Marinaldo Lourenço e Mozart Vieira</i> realizaram 
        um recital com os alunos dos dois instrumentos, no Auditório do 
        IF.
    </p>
    
    <img class="left-pic zoom-this" src="pics/ano2013/ano2013_10.png" width="300" height="320">
    <div id="credito-img"> 
        
        <br /><br />
        Johnne Cardoso, Claudinaldo Silvestre e Marinaldo Lourenço
        <br /><br /><br /><br /><br />
        Marinaldo Lourenço e Mozart Vieira – acervo Marinaldo
    </div>
    
<span class="page-number">69</span>
</div>
