<div class="book-content" id="justificado">
    
    <h1>NDE</h1>
    
    <p>
        O Núcleo Docente Estruturante é um grupo formado por professores 
        que se reúnem para propor encaminhamentos a serem votados pelo 
        Colegiado do Curso<sup>6</sup>,  porém este núcleo apenas 
        aprecia as medidas a serem tomadas, constata alguns problemas, 
        mas não define medidas, pois as decisões são tomadas pelo 
        Colegiado do Curso.
    </p>
    
    
    <p>
        A primeira formação do Núcleo Docente Estruturante teve os 
        seguintes professores: a docente <i>Bernardina Araújo</i>, o 
        professor <i>Flávio Lima</i>, o professor <i>Robson Ribeiro</i> 
        e o professor <i>Jandson Ferreira</i>, porém, com o retorno da 
        professora <i>Bernardina</i> &nbsp;ao&nbsp; seu&nbsp; Campus&nbsp; de&nbsp; Origem&nbsp; - Pesqueira, - 
        
    </p>
    
    <div id="dic">
        <hr />
        <label>
            <sup>6</sup>   Colegiado do Curso é um grupo formado por 
            todos os professores do Curso, um pedagogo e um aluno que 
            faça a representação dos discentes. Este grupo vota os 
            encaminhamentos fornecidos pelo NDE, além de ter autonomia 
            para decidir todas as questões pertinentes ao Curso.
        </label>
    </div>
    
    
    
    
<span class="page-number">264 </span>
</div>
