<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/ano2015/ano2015_10.png" width="360" height="420" />
    </center>
    <div id="credito-img" > 
        Erisson Porto (foto 1) -  Edvane Pontes, Thiago Gregorio, Vanessa Braga, Gilmara Sousa e Erisson Porto <i>da esquerda para a direita</i> (foto 2) - acervo Gilmara Sousa e Katarina Meneses
    </div>
   
<span class="page-number">103</span>
</div>
