<div class="book-content" id="justificado">
    
    <p class="no-indent">
         num período que compreende do século 
        XVI  até o início do século XX.
    </p>
    
    <img class=" zoom-this" src="pics/ano2013/ano2013_04.png" width="375" height="185">
    <div id="credito-img"> Visita a Brennand - acervo de Marcos Gondim    </div>
    
    <h3>* Julho</h3>
    
    <h2><u>Nomeação de Carlos Antônio da Silva</u></h2>
    
    <p>
        Em Julho de 2013 o professor <i>Carlos Antônio da Silva</i> veio 
        integrar a equipe de professores do IFPE. <i>Carlos</i> havia 
        passado no concurso do IFPE em Barreiros, mas com  a necessidade 
        de mais um professor <a class="fim">____</a>
    </p>
<span class="page-number">60</span>
</div>
