<div class="book-content" id="justificado">
    
    <iframe width="370" height="200" src="https://www.youtube.com/embed/2xGx_W3O00o" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Missa Nordestina de Clóvis Pereira
    </div>
    <br />
    <h2><u>Orquestra de Frevo</u></h2>
    
    <p>
        A Orquestra de Frevo do professor <i>Evandro Sampaio</i> foi 
        formada apenas um mês antes de sua apresentação no Fórum, em uma 
        atividade hercúlea de juntar alunos e partituras para aquele 
        evento. O grupo realizou uma bela apresentação no Pavilhão de 
        Feiras do Centro de Convenções, como parte da programação que 
        encerraria as atividades do III Fórum Mundial de Educação 
        Profissional e Tecnológica. 
    </p>
    
    
<span class="page-number">239 </span>
</div>
