<div class="book-content" id="justificado">
    
    <center>
        <h3>Semana da Música 2013</h3>
    </center>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_06.png" width="360" height="325" />
    </center>
    <div id="credito-img" > 
        O folder acima foi elaborado pelo aluno Lucas Monteiro
    </div>
    
<span class="page-number">111 </span>
</div>
