<div class="book-content" id="justificado">
    <center>
       <img class=" zoom-this" src="pics/impres/impres_05.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Emanuel de Oliveira Batista - acervo Katarina
            <br />
            Casa da Música - acervo Katarina
        </label>
    </div>
    
     
<span class="page-number"> 329 </span>
</div>
