<div class="book-content" id="justificado">
    
    <iframe width="370" height="200" src="https://www.youtube.com/embed/Wl1g_yXrLDo" frameborder="0" ></iframe>
    <div id="credito-img"> 
        II Fórum Mundial - acervo Marcos Gondin
    </div>
    <br />
    
    <h2>*<u>Outubro</u></h2>
    
    <h2><u>Apresentação em Garanhuns</u></h2>
    
    <p>
        O Campus Garanhuns convidou o coro de Trombones do professor 
        <i>Marinaldo Lourenço</i>,  juntamente com o professor <i>Mozart 
        Vieira</i> e <i>Evandro Sampaio</i>, para juntos realizarem uma 
        apresentação na Semana de Cultura do referido Campus. Além da 
        linguagem da música, outras vertentes da arte foram 
        <a class="fim"> ____________________________________________ </a>
    </p>
    
    
<span class="page-number">212 </span>
</div>
