<div class="book-content" id="justificado">
    
    <iframe width="370" height="205" src="https://www.youtube.com/embed/-zqXyI5B6Hs" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Ensaio do PROEXT-MEC - Rejane Campelo e Eduardo Espindola - acervo Thiago Gregorio.
    </div>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_08.png" width="360" height="210" />
    </center>
    
    <div id="credito-img" > 
        PROEXT-MEC - acervo Internet.
    </div>
<span class="page-number">114 </span>
</div>
