
<div class="book-content">
<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> 
<p class="no-indent"><div id="justificado" align="right">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agradeço a Deus por ter 
me feito um ser criativo e tenaz, aos meus parceiros que, conjuntamente 
com o meu esforço, somaram os seus para juntos confeccionarmos este livro 
(Ana Paula Sá, Gilmara Francisca Souza e Wilson Braz de Lucena). 
Ao IFPE, na pessoa de Chagas, aos colegas de trabalho e alunos, que com 
boa vontade forneceram suas memórias, fotos, partituras e arquivos para 
podermos elaborar este acervo, e a todas as pessoas que direta ou 
indiretamente me ajudaram neste trabalho, meus mais sinceros 
agradecimentos. (Katarina Meneses) 

</div></p>
</div>
<span class="page-number">7</span>
