<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        e Tiago Mota</i>. 
    </p>
    
    <p>
        Em outubro, foi realizada, a pedido do professor <i>Jandson 
        Ferreira</i>, uma pré-defesa ou qualificação, onde os 
        professores diagnosticaram pontos a serem melhorados no TCC de 
        cada aluno.
    </p>
    
    <p>
        Os professores <i>Robson, Bernardina, Jandson e Jaildo</i> 
        participaram da qualificação de <i>Edvaldo, Thiago, Gutenberg e 
        Adjair</i>, e, posteriormente, de suas defesas.
    </p>
    
    <p>
        <i>Gutenberg Alves da Silva</i> foi orientado por <i>Jandson 
        Ferreira</i>, sendo sua banca de TCC: <i>Bernardina Araújo, 
        Jandson Ferreira</i> e o professor convidado <i>Filipe Augusto 
        Barreto Campello de Melo</i>, da UFPE. <i>Gutenberg</i> estudou 
        sobre a indústria cultural e sua produção. O título de seu 
        projeto foi: Quem é o cantor? Formação do Cantor de Forró e a 
        Indústria Cultural Musical no Agreste Pernambucano. 
    </p>
    
    
<span class="page-number">313 </span>
</div>
