<div class="book-content" id="justificado">
    
    <h2><u>Palestras realizadas pela coordenação</u></h2>
    
    <p>
        A coordenação do curso de Música, na pessoa do professor 
        <i>Marinaldo Lourenço</i>, traz ao campus Belo Jardim, em 
        novembro deste ano, dois professores que promoveram diferentes 
        palestras, são eles: o professor <i>Jean Márcio</i>, da UFCG, 
        que realizou uma palestra sobre a vida de  <i>Radegundis Feitosa</i>,  
        e o professor da UFG,  <i>Alexandre Magno</i>, que realizou uma 
        palestra sobre Distonia Focal. O evento foi encerrado com o 
        concerto da orquestra Rubacão Jazz, regida por <i>Alexandre Magno</i>.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_18.png" width="273" height="170" />
    </center>
    <div id="credito-img" > 
        <label>
           Radegundis Feitosa - acervo página do Facebook
        </label>
    </div>
    <br />
    
<span class="page-number">229 </span>
</div>
