<div class="book-content" id="justificado">
    
    
    <p class="no-indent">   discentes <i>Gutenberg 
        Alves, Junior Ston</i>. Realizaram apresentações agregando a 
        comunidade - jovens e idosos.
    </p>
    
    <iframe width="370" height="200" src="https://www.youtube.com/embed/dz_AdGu6t_Q" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Música na comunidade quilombola do Barro Branco 
    </div>
    
    <p>
        Em 2015 o projeto toma outro impulso, deixando de ser campo de 
        extensão e tornando-se um campo de estágio para os alunos 
        <i>Johnne Cardoso e Iago Rodrigues</i>. Os alunos semanalmente 
        compareciam à escola do município para observação das aulas, 
        oferecendo ajuda à professora que lá ministra 
        <a class="fim">____________________</a>
    </p>
    
<span class="page-number">184 </span>
</div>
