<div class="book-content" id="justificado">
    
    <p>
        Neste objetivo, o professor de teatro <i>Quiercles Santana</i> 
        desenvolveu uma aula com os cantores, oportunizando este 
        desempenho. A aula aconteceu no auditório do IFPE, onde foram 
        realizados exercícios com bolas imaginárias, falar em uma língua 
        que não existe, entre outras atividades, na intenção de promover 
        a liberdade em cena.  
    </p>
    
    <iframe width="370" height="260" src="https://www.youtube.com/embed/_Tj4-5XF81s" frameborder="0" ></iframe>
    <div id="credito-img"> Acervo Cênicas-Quiercles </a>  </div>
    
    
    
<span class="page-number">66</span>
</div>
