<div class="book-content" id="justificado">
    
    <iframe width="370" height="220" src="https://www.youtube.com/embed/1aw6clEKv3A" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Ponto de Cultura Ororubá - acervo Internet
    </div>
    
    <br />
    <br />
    <p>
    Em junho, o projeto promoveu uma visita técnica ao Museu do Barro, em 
    Caruaru - participando como ouvinte do evento “4º tocando Pífanos”, 
    juntamente com o professor <i>Mozart Vieira</i> e com membros do 
    PROEXT/MEC, os discentes: <i>Anderson Silva, Leonardo Araújo, 
    Marcílio Duarte e Eduardo Espíndola</i>.    
    </p>
    
<span class="page-number">171 </span>
</div>
