<div class="book-content" id="justificado">
    
    <h3>* <u>Outubro</u></h3>
    
    <h2><u>ABEM Nordeste, em São Luís</u></h2>
    
    <p>
        O XXII Encontro da ABEM Nordeste aconteceu em São Luís do 
        Maranhão, onde vários alunos da Licenciatura em Música 
        participaram. Como representante dos professores, a docente 
        <i>Rejane Campelo</i> acompanhou o grupo no encontro. Foram 
        realizadas rodas de conversa, palestras e uma vasta programação 
        oferecida pela ABEM – Associação Brasileira de Educação Musical.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_14.png" width="360" height="170" />
    </center>
    <div id="credito-img" > 
        <label>
           Encontro da ABEM no Maranhão - acervo Fabrícia Soares
        </label>
    </div>
    <br />
<span class="page-number">224 </span>
</div>
