<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_17.png" width="203" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           acervo Reitoria IFPE
        </label>
    </div>
    <br />
    
<span class="page-number">228 </span>
</div>
