<div class="book-content" id="justificado">
    
    <p>
        Em agosto de 2014 a avaliação do MEC chega ao Campus,  com os 
        docentes <i>Pedro Aurélio Persone</i> (Pianista e Cravista, 
        professor da Universidade de Santa Maria) e <i>Alexandre Reche</i> 
        (professor de Composição da UFRN).
    </p>
    
<span class="page-number"> 322 </span>
</div>
