<div class="book-content" id="justificado">
    
    <h3>* Agosto</h3>
    
    <h2><u>Cine teatro: Canto e Coro de Trombones</u></h2>
    
    <p>
        O Sesc de Belo Jardim, no intuito de promover a cultura na cidade, 
        realiza frequentemente vários eventos na região. Um destes é a 
        mostra de Música. O evento 
        aconteceu no Cine Teatro Cultura, na cidade, possibilitando aos alunos 
        de Canto do IFPE participarem com uma apresentação de temática sacra/erudita. 
        O violonista <i>Marcos Gondim</i> acompanhou o grupo de cantores, 
        composto só por homens. Na foto, contamos com a presença de 
        <i>Joermison Melo, Gutenberg Alves, Elton Lima, Katarina Meneses, 
        Marcos Gondim, Adjair Cavalcante, Lucas Monteiro</i> (da 
        esquerda para a direita).
    </p>
    
    <p>
        O projeto do Sesc Sonora Brasil também realizou uma mostra com o 
        Coro de Trombones do Professor <i>Marinaldo Lourenço</i>. No 
        repertório constavam algumas músicas populares do nosso cancioneiro 
        como: <i>"Não </i> <a class="fim">____________</a>
    </p>
<span class="page-number">82</span>
</div>
