<div class="book-content" id="justificado">
    
    <h2><u>Introdução à fonética da Língua Inglesa</u></h2>
    <p>
        A disciplina tem como objetivo conhecer e utilizar os símbolos da 
        língua inglesa, visando à pronúncia, à leitura de palavras e versos 
        de letras de músicas em língua inglesa, contribuindo, principalmente, 
        para a performance dos estudantes da habilitação Canto. Uma das 
        propostas da professora <i>Tatiana Valério</i> foi apresentar 
        uma canção onde todos da disciplina participassem e se apresentassem 
        no mini-auditório para a apreciação do público.
    </p>

    <img class=" zoom-this" src="pics/ano2014/ano2014_12.png" width="350" height="180" />
    <div id="credito-img" > 
        Ensaio na sala de aula - acervo Tatiana Valério
    </div>
    
<span class="page-number">91</span>
</div>
