<div class="book-content" id="justificado">
    
    <iframe width="400" height="190" src="https://www.youtube.com/embed/I4HifY3c55I" frameborder="0" ></iframe>
    <div id="credito-img"> Cantata Natalina 2011 - Reis magos: Thiago Gregorio, Adjair Cavalcante e Valdir Almeida - acervo Gilmara Sousa  </div>
    
    <img class="left-pic zoom-this" src="pics/ano2011/ano2011_05.jpg" width="400" height="175">
    <div id="credito-img"> Markson Wilker , Adilma Andrade, José Carlos,  Gilmara Sousa, no papel de Maria, e Vanessa Braga - acervo de Gilmara Sousa  </div>
    
<span class="page-number">37</span>
</div>
