<div class="book-content" id="justificado">
    
    <h3>* Novembro e Dezembro</h3>

    <h2><u>Técnico em Assuntos Educaconais: Jamires Pereira da Silva</u></h2>

    <p>
        Em dezembro de 2014, a TAE (Técnico em Assuntos Educacionais) veio 
        compor o grupo, da Licenciatura em Música. <i>Jamires Pereira da 
        Silva</i>, ao passar em um concurso realizado no IFPE Recife, veio 
        integrar o quadro de funcionários de Música.
    </p>
    
    <img class=" zoom-this" src="pics/ano2014/ano2014_10.png" width="350" height="195" />
    <div id="credito-img" > 
        Jamires Pereira – acervo Jamires
    </div>
    
<span class="page-number">88</span>
</div>
