<div class="book-content" id="justificado">
    
    <p>
        O grupo apresentou frevos de rua, frevos canções e cirandas. 
        Ainda contou com a participação de alguns cantores, como 
        <i>Ivanar Nunes, Marcos Gondim, Katarina Meneses, Rejane 
        Campelo, Thiago Gregorio</i>, além do próprio maestro <i>Evandro 
        Sampaio</i>.
    </p>
    
    <p>
       No repertório estavam frevos conhecidos, como Evocação 
        n° 1, Último Dia, entre outros.
    </p>
    
    <iframe width="370" height="200" src="https://www.youtube.com/embed/67hyPl2AW-c" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Vídeo do III Fórum Mundial
    </div>
    <br />
<span class="page-number">240 </span>
</div>
