<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        <i>
            fez isto ou 
            aquilo?’  E eu perguntava: ‘Isso é atributo meu? Eu nem 
            sabia!’ Eu não sabia, pois nunca foi me dito quais eram 
            todas as minhas tarefas como coordenador, já que não existia 
            quem me informasse.” 
        </i>
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/coordenacao/coordenacao_01.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Robson Ribeiro - acervo de Robson
        </label>
    </div>
    
    <br />
     
    <h2><u>Coordenador 2012 - 2013</u></h2>
    
    <p>
        O segundo Coordenador do Curso de Música foi o professor 
        <i>Jaildo Gurgel</i>, que assumiu no lugar do professor 
        <i>Robson</i>, em Junho de 2011, e seguiu na 
        <a class="fim">____________________________________________</a>
    </p>
    
    
<span class="page-number">318 </span>
</div>
