<div class="book-content" id="justificado">
    
    <p>
        O Fórum Mundial de Educação Profissional e Tecnológica (FMEPT) 
        nasceu a partir da junção do Fórum Mundial de Educação e do 
        Fórum Social Mundial. O evento faz parte de um movimento pela 
        Cidadania e pelo direito universal à Educação, reunindo 
        instituições, entidades e associações de todo o planeta.
    </p>
    
    <p>
        Em 2012 o Curso de Licenciatura em Música de Belo Jardim recebeu 
        um convite para participar do II Fórum Mundial de Educação 
        Profissional e Tecnológica realizado em Florianópolis, com uma 
        apresentação musical. Naquele ano estava sendo realizada a data 
        comemorativa dos 100 anos de Luiz Gonzaga e havia sido elaborado 
        um projeto na disciplina da professora <i>Rejane Campelo</i> em 
        alusão ao <a href="pics/relise.pdf" target="_blank">rei do Baião</a>. Os arranjos para as músicas saíram das 
        várias “cabeças de alunos”, pois esta era a proposta do projeto 
        de “Luiz a Cem”, como era intitulado o trabalho. Entre os 
        arranjadores, encontramos: <i>Elias de Oliveira, Marcos Gondim, 
        Eliseu dos Santos e Eduardo Albuquerque</i>. No repertório 
        constavam músicas como: Baião, Assum Preto, 
        <a class="fim">________________________</a>
    </p>
    
<span class="page-number">208 </span>
</div>
