<div class="book-content" id="justificado">
    
   <h1>Coordenadores do Curso</h1>
    
    <h2><u>Coordenador 2010 - 2012</u></h2>
    
    <p>
        Na criação e elaboração da Licenciatura em Música os professores 
        precisavam de um Coordenador que os representassem e, assim, 
        unanimemente escolheram o docente <i>Robson Ribeiro</i> para 
        levar adiante a árdua tarefa de administrar os primeiros 
        momentos do curso. A coordenação de <i>Robson</i> foi de outubro 
        de 2010 até Junho de 2011, quando o mesmo precisou entregar o 
        cargo por necessitar dedicar-se ao mestrado que cursava naquele 
        momento.
    </p>
    
    <p>
        Porém, antes que <i>Robson</i> saísse do seu posto, muitas 
        reuniões foram realizadas com a Proden, incluindo uma delas com 
        o próprio Reitor <i>Sérgio Gaudêncio</i>. Entre os inúmeros 
        questionamentos do que era de fato a Licenciatura, havia uma 
        pergunta muito comum entre os membros da Reitoria: por que o 
        curso devia ter aulas individuais? Diziam que isto era um curso 
        caro para o 
            <a class="fim">____________________________________</a>
    </p>
    
<span class="page-number">316 </span>
</div>
