<div class="book-content" id="justificado">
    
     
   <p class="no-indent">
        funcionamento do curso (2011 – 2015).
   </p>
   
   <p>
        A Terra dos Músicos, com a implantação da Licenciatura em Música 
        Popular em nosso Campus, viu surgir uma nova partitura para seu 
        repertório centenário. As páginas seguintes surpreenderão os 
        leitores pela capacidade de produção acadêmico-científica e 
        cultural dos docentes, desde o primeiro ano do curso até agora: 
        são recitais, cantatas, apresentações culturais, performances, 
        projetos de pesquisa, projetos de extensão, visitas técnicas, 
        palestras, workshops e tantas ações que aquecem nossa alma, pela 
        beleza possível de ser vista e ouvida, graças aos hiperlinks 
        presentes na obra! É só clicar e assistir a interpretações 
        primorosas!
   </p>
   
   <p>
        Essa obra, além de cumprir a função do gênero literário memorial, 
        registra não só a memória do curso de música e dos seus pioneiros 
        - quer sejam docentes, discentes ou colaboradores. Ela 
        apresenta-nos uma lição grandiosa de como cultivar belos jardins, 
        mesmo 
        <a class="fim"> ___________________________________________ </a>
    </p>
    
<span class="page-number"> 09 </span>
</div>
