<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_27.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        Oficinas de Música- acervo Joermison Melo 
    </div>
    <br />
    <iframe width="370" height="205" src="https://www.youtube.com/embed/S-u3kGpyN5c" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Metodologia 2014 - Rejane Campelo - acervo Thiago Gregorio.
    </div>
<span class="page-number">138 </span>
</div>
