<div class="book-content" id="justificado">
    
     <center>
       <img class=" zoom-this" src="pics/semana/semana_19.png" width="360" height="420" />
    </center>
    
    <div id="credito-img" > 
         Tarciana  dos Santos (foto 1). 
         Auda Moraes e Tarciana dos Santos (foto 2) - acervo Tarciana
    </div>
    
<span class="page-number">127 </span>
</div>
