<div class="book-content" id="justificado">
    
    <h2><u>Teoria Musical com Robson Ribeiro e Carlos Silva (2010 a 2015)</u></h2>
    
    <p>
        O projeto de Extensão para o ensino de teoria musical havia 
        começado com o professor <i>Robson Ribeiro</i>, em 2010, para os 
        futuros vestibulandos, e em 2011 para o mesmo público, porém, no 
        final de 2011, <i>Robson</i> interrompeu o curso, pela demanda 
        das atividades na licenciatura.
    </p>
    
    <p>
        Com a chegada do professor <i>Carlos Silva</i>, no segundo 
        semestre de 2013, o projeto das aulas de teoria musical foi 
        retomado.
    </p>
    
    <p>
        A princípio as aulas aconteciam nos finais das tardes de 
        terça-feira. O público-alvo era a comunidade que desejava prestar 
        vestibular para música, e que não detinha o conhecimento da 
        teoria. A cidade de Belo Jardim carece de Conservatórios e 
        escolas especializadas para o ensino de Teoria e Solfejo, por 
        este motivo há grande procura pelos cursos de Extensão  
    </p>
<span class="page-number">186 </span>
</div>
