<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_16.jpg" width="287" height="385" />
    </center>
    <div id="credito-img" > 
        <label>
           Imagem após finalização do Livro. Wilson e Katarina - acervo Thiago Gregorio
        </label>
    </div>
    
    
<span class="page-number"> 351 </span>
</div>
