<div class="book-content" id="justificado">
    
        <p class="no-indent">
        discentes: alguns 
        que desejam terminar as aulas e rapidamente voltar para suas 
        casas, outros se preocupam meramente em angariar o título de 
        curso superior, e outros que amam o que fazem e desejariam viver 
        em maior harmonia dentro do IFPE - seja nos dormitórios ou nas 
        salas de aulas. 
    </p>
    
    <p>
        Já diz um aluno: “Quem vive nos dormitórios está preparado para 
        viver em qualquer canto do mundo, tamanha é a diversidade de 
        gostos e pensamentos naquele espaço!”
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/estfisica/estfisica_03.png" width="360" height="190" />
    </center>
    <div id="credito-img" > 
        <label>
           Dormitorio/Alojamento
        </label>
    </div>
    
    
<span class="page-number">254 </span>
</div>
