<div class="book-content" id="justificado">
    
    <p class="no-indent">
         momento era a 
        Copa do Mundo, realizada naquele ano, e as várias manifestações 
        que ocorriam pelo Brasil. Nesta perspectiva, os funcionários da 
        ESPN resolveram fazer um vídeo com os alunos <i>Weldes Nogueira, 
        Diego Batista</i>, entre outros.
    </p>
    
    <img class="left-pic zoom-this" src="pics/ano2013/ano2013_06.jpg" width="370" height="255">
    <div id="credito-img"> Garoto propaganda do vídeo: Weldes Nogueira <br /> acervo Weldes Nogueira    </div>
    
<span class="page-number">63</span>
</div>
