<div class="book-content" id="justificado">
    
    <p class="no-indent">
        avaliados são inúmeros.
    </p>
    
    <p>
        A vinda do MEC era uma incógnita para todos os docentes e 
        discentes. Na prática, havia um programa do que seria avaliado, 
        porém, o que cada um dos avaliadores colocaria no papel ninguém 
        podia prever. Os professores e corpo administrativo sabiam pelos 
        SINAES<sup>9</sup>  o que seria observado: a estrutura física, 
        a biblioteca, o corpo de professores (seus currículos e 
        produções), o PPC (Plano Pedagógico do Curso), se era compatível 
        com o que apresentavam, o NDE (núcleo Docente Estruturante) e, 
        por certo, também fariam uma sondagem com os alunos. Enfim, 
        realizariam uma averiguação do que o IFPE dizia possuir e 
        executar, e a veracidade disso tudo com a realidade.
    </p>
    
    
    <p>
        Porém, os professores, alunos e o diretor, Sr. 
        <a class="fim">_____________________________________</a>
    </p>
    
    <div id="dic">
        <hr />
        <label>
            <sup>9</sup>   O SINAES é uma lei que estabelece e organiza 
            a avaliação do ensino superior no Brasil. Portanto, compete 
            ao MEC investigar se os SINAES estão sendo cumpridos. 
            (Texto fornecido por Robson Ribeiro)
        </label>
    </div>
    
    
    
<span class="page-number">283 </span>
</div>
