<div class="book-content" id="justificado">
    
    <h3>* Junho</h3>
    
    <h2><u> Estudos sociológicos contemporâneos </u></h2>
    
    <p>
        A docente <i>Maelda Lacerda</i> realizou uma discussão sobre
        o livro A Identidade Cultural na Pós-modernidade, de Stuart 
        Hall, abordando a identidade na teoria social: as velhas 
        identidades, que por um longo tempo estabilizaram o mundo social.     
    </p>
    
    <p>
        Os alunos da disciplina Seminários Temáticos em Educação 
        apresentaram<sup>*</sup> e debateram os temas abordados no livro. Entre cada 
        debate havia uma apreciação voltada para as músicas e os aspectos 
        dos temas em questão. O debate ocorreu no mini-auditório, 
        envolvendo, além das falas, muita música voltada para os aspectos 
        em questão. Os arranjos foram de <i>Elias de Oliveira, Alexandre 
        Rodrigues e Marcos Gondim</i>.    
    </p>
    
    <br />
    
    <div id="dic">
       <sup>*</sup> Este material encontra-se na biblioteca do Campus, intitulado Identidade Musical: Entre o Moderno e o Pós-Moderno.
    </div>
<span class="page-number">100</span>
</div>
