<div class="book-content" id="justificado">
    
    <p>
        A docente <i>Katarina Meneses</i> participou do projeto apenas 
        com uma cooperação técnica, tirando dúvidas de <i>Thiago</i> e 
        esclarecendo alguns problemas que ele poderia encontrar na sala 
        com os professores.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_34.png" width="360" height="320" />
    </center>
    <div id="credito-img" > 
        <label>
           Joseane Brito - acervo Joseane
           <br />
           Thiago Gregorio no Enext 2014 - acervo Thiago Gregorio
        </label>
    </div>
<span class="page-number">196 </span>
</div>
