<div class="book-content" id="justificado">
    
    
    <p>
        Por fim, queremos agradecer a <i>Emanuel de Oliveira Batista</i>, 
        pela sua presteza em auxiliar sempre com boa vontade e carinho 
        todos os que passaram pela “Casa da Música”. <i>Emanuel</i> 
        entrou no IFPE como prestador de serviços em 2008, tendo 
        trabalhado até 2010 no patrimônio da escola. Ele nos contou 
        sobre o início da 
        banda da escola, a preocupação com a guarda 
        dos instrumentos e a aquisição do espaço “Casa da Música”  para 
        alocação daqueles bens (o instrumental).
    </p>
    
    <p>
        Em 2011 <i>Emanuel</i> fez um curso em São Paulo pela “Weril”, 
        de Auxiliar de Oficina de Instrumentos Musicais, e neste mesmo 
        período foi afastado do IFPE, voltando àquele espaço apenas em 
        2014, como prestador de serviços pela Serval.
    </p>
    
    
    
<span class="page-number"> 328 </span>
</div>
