<div class="book-content" id="justificado">
    
    <h3>* <u>Agosto</u></h3>
    
    <h2><u>Coro de Trombone</u></h2>
    
    <p>
        O Coro de Trombones do professor <i>Marinaldo Lourenço </i>
        realizou uma apresentação no Cine Teatro, pelo projeto Sonora 
        Brasil do Sesc. No repertório estavam músicas como “Não vou 
        Ficar”, de Roberto Carlos, e “Brasil”, de Cazuza. 
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_13.png" width="360" height="220" />
    </center>
    <div id="credito-img" > 
        <label>
           Coro de trombones Marinaldo Lourenço - acervo Breno Novaes
        </label>
    </div>
    <br />
<span class="page-number">223 </span>
</div>
