
<div class="book-content" id="justificado">
    <div id="letras">

        <p class="no-indent">
            <i>
            Campus Belo Jardim culminou com a seleção de 5 (cinco)
            professores de música, especialistas nas áreas de Canto popular,
            Saxofone/Clarinete, Violão/Guitarra, Trombone/Metais e Bateria/Percussão. A
            instituição ainda nomeou um professor aprovado em seleção anterior na área
            de Teoria e Educação musical e conta com um professor efetivo especialista na
            área de Flauta transversal. O corpo docente, portanto, constituiu-se na fase
            inicial do curso de uma equipe com 7 (sete) professores, devendo ainda contar com a
            colaboração de outros professores da própria instituição que ficarão
            responsáveis pela formação na área didático-pedagógica<sup>2</sup>.
            </i>
        </p>

        <p>
            Após a averiguação do MEC de que a cidade de Belo Jardim abrigaria
            um curso superior de música, ocorre o concurso e a efetivação destes
            docentes para as referidas especificidades citadas acima. 
            Várias etapas deveriam ser percorridas para que o curso
            fosse aprovado, entre eles: 
        </p>

        <p>
            <div id="dic"><!-- Rodapé -->
                <hr>
                <SUP>2</SUP> Texto retirado do PPC do Curso de Música.
            </div>
        </p>

        
    </div>
</div>
<span class="page-number">26</span>
