<div class="book-content" id="justificado">
    
    <h2><u>Aulas de violão</u></h2>
    
    <p>
        No final do ano anterior, o professor de Violão <i>Frederico Cunha</i>
         fora acometido de uma doença e, por esta razão, obteve uma 
         remoção, aparentemente, temporária. Porém, ao longo do ano de 
         2012, o mesmo não regressara. Além dos alunos veteranos, uma 
         nova turma de Violão/Guitarra havia ingressado no IF, apesar 
         da ausência de professor naquele instrumento. Ninguém sabia 
         dizer na verdade quando <i>Frederico</i> voltaria.
    </p>
    
    <p>
        Como a Reitoria não informava se o código permanecia em Belo 
        Jardim ou se estava com o professor <i>Frederico</i> em Recife, 
        os docentes de Belo Jardim também não sabiam se outro professor 
        poderia ser nomeado para este código, se poderia ser feita uma 
        seleção.
    </p>
    
    <p>
        Somente após vários meses, na verdade, apenas no ano de 2013, 
        a gestão do campus, através da funcionária  <a class="fim">______________</a>
    </p>
<span class="page-number">46</span>
</div>
