<div class="book-content" id="justificado">
    
    <iframe width="370" height="205" src="https://www.youtube.com/embed/Yy2UCyY9Vfg" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Jesu Salvator Mundi - Katarina, Rejane e Vanessa - acervo Thiago Gregorio
    </div>
    
    <iframe width="370" height="205" src="https://www.youtube.com/embed/rJrfc_EMzYg" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Stabat Matter - Katarina e Rejane - acervo Thiago Gregorio
    </div>
    
<span class="page-number">119 </span>
</div>
