<div class="book-content" id="justificado">
    
    <p>
        A “Casa da Música” era outro espaço onde as aulas eram 
        realizadas. Neste ambiente aconteciam lições de bateria (na sala 
        de bateria), de Flauta, Clarinete e Sax. 
    </p>
    
    <p>
        Por trás da Casa da Música havia um galpão que os professores de 
        música tomaram como sala de aula para ministrarem oficinas e 
        trabalhos com grandes grupos. Também foi criado o LAPPEM<sup>11
        </sup> (Laboratório de Práticas Pedagógicas e Musicais), onde 
        eram realizadas as aulas de Violão, Guitarra e também aconteciam 
        algumas reuniões, como a do PIBID, em um anexo atrás deste galpão. 
        A criação do LAPPEM foi uma iniciativa do professor <i>Jaildo 
        Gurgel</i>, com apoio do Comitê Gestor do Renafor<sup>12</sup>, 
        de onde vinha o recurso.
    </p>
    
    <div id="dic">
        <hr />
        <label>
            <sup>11</sup> O LAPPEM é um laboratório de música, que 
            abriga computadores para pesquisas nesta área, localizado 
            por trás da casa da música. Implementado pelo docente Jaildo 
            Gurgel, com recursos advindos do Renafor (Curso de Formação 
            Continuada oferecido no Campus para professores de Artes), 
            que abriga, além de computadores e mesas, projetor, som e 
            armários.
        </label>
        <br />
        <label>
            <sup>12</sup>
            Renafor - Curso de Formação Continuada oferecido no Campus 
            para professores de Artes do Estado e Município.
        </label>
    </div>
    
    
    
<span class="page-number">286 </span>
</div>
