<div class="book-content">
<div id="justificado">
<p class="no-indent">
   conta da equipe, 

    principalmente pela ausência de comprometimento da gestão do Campus, e por 

    que não  
     
     dizer, da gestão do IFPE como um todo? Era como se os professores 

    lutassem por um ideal solitário em um campus que os abrigava, mas onde ninguém  

    entendia o porquê da instalação do curso naquele local, nem sabia como dar 

    andamento ao processo. A luta continuava com reuniões diárias onde a pedagoga 

    <i>Rosa</i> tonara-se a principal aliada na luta contra os 

    papéis. Assim foi estabelecido o SIAPE de cada um da equipe, ocorreu a 

    criação dos  e-mails institucionais para cada docente e a 
     
     elaboração do  

    currículo do curso, com programas  e ementas.
</p>
<img class="left-pic zoom-this" id="center" src="pics/ano2010/oInicio02.png" width="262" height="168" align="center"/>
<div id="credito-img" > <br /><br /><br /> Robson Ribeiro e Frederico Andrade - acervo dos próprios</div>






</div></div>
<span class="page-number">18</span>
