<div class="book-content" id="justificado">
    
    <h2><u>Grupo de Clarinete</u></h2>
    
    <p>
        O grupo do professor <i>Carlos Silva</i> também apresentou um 
        variado repertório de canções brasileiras para Clarinete. 
        Juntamente com seus alunos, realizou uma belíssima apresentação 
        que abrilhantou a Semana da Música.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_13.png" width="360" height="230" />
    </center>
    
    <div id="credito-img" > 
      Mayke Feliciano, Alexandre Rodrigues, Claudinaldo Silvestre, Flávio Pitt, Rivaldo Gomes, André Luis, Rebeca Oliveira, Carlos Santos, o professor Carlos Antonio da Silva - acervo Carlos Antônio
     </div>
    
<span class="page-number">120 </span>
</div>
