<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_02.png" width="360" height="325" />
    </center>
    <div id="credito-img">
        <label>
           Pedro José Júnior
           <br />
          Genézia da Conceição Alencar
           <br />
</label>
    </div>
    
     <div id="credito-img-l">
        <label>
           Jailson Tenório
           <br />
</label>
    </div>
    
    
    
<span class="page-number"> 344 </span>
</div>
