<div class="book-content" id="justificado">
    
    
    <h1>Intercâmbio e Pesquisas Recentes 2014-2015</h1>
    
    <p>
        Os professores <i>Tatiana Valério e Jandson Ferreira</i> 
        coordenam a linha de pesquisa "Construção de significados sobre 
        experiências musicais", ligada ao grupo de pesquisa Práticas 
        Culturais, Música e Sociedade, este liderado pelo prof. 
        <i>Jaildo Gurgel</i>. Em 2014 iniciaram algumas ações (grupo de 
        estudo com alunos da Licenciatura em Música; elaboração de 
        projetos; parcerias e colaboração nacional e internacional).
    </p>
    
    <p>
         Em abril de 2015, o IFPE Campus Belo jardim recebeu a visita da 
         Profª Drª <i>Maria Lyra</i> - UFPE, que coordena o Laboratório 
         de Estudos do Desenvolvimento na Cultura: Comunicação e 
         Práticas Sociais - LabCCom/UFPE, e de dois pesquisadores da 
         universidade de Aalborg, Dinamarca: prof. Dr. <i>Brady 
         Wagoner</i> e sua orientanda <i>Elisa Krause-Kjaer</i> - a qual, 
         
         <a class="fim">________________________________________</a>
     </p>
     
<span class="page-number"> 330 </span>
</div>
