<div class="book-content" id="justificado">
    
    <img class=" zoom-this" src="pics/ano2014/ano2014_01.png" width="380" height="420" />
    <div id="credito-img" > 
        As duas turmas no Recife Antigo 
        Caminhada pela ponte do  Mauricio de Nassau acervo - imagem de Marcos Nascimento
    </div>
    
<span class="page-number">75</span>
</div>
