<div class="book-content" id="justificado">
    
    <p>
        O aluno <i>Daniel Victor</i> elaborou uma série de arranjos de 
        Roberto Carlos, que foi executada também neste palco externo. 
        Esta apresentação recebeu o nome de RC2 (Roberto Carlos 2)<sup>*</sup>. 
        Também ocorreram apresentações do grupo de Prática Profissional III, 
        tocando <i>Jackson do Pandeiro, Djavan, Lenine</i> e algumas 
        músicas do aluno <i>Erison Porto</i>.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_25.png" width="360" height="240" />
    </center>
    <div id="credito-img" > 
        Pierre e os Virgulados na área externa do IFPE - acervo Pierre Tenório
        Daniel Victor - acervo Daniel
    </div>
    
    <div id="dic">
        <label><sup>*</sup> Este conteudo encontra-se na biblioteca.</label>
    </div>
<span class="page-number">135 </span>
</div>
