<div class="book-content" id="justificado">
    
    <p class="no-indent">
        próprios pacientes, alegrando um pouco mais os
        momentos de sofrimento daqueles enfermos.
    </p>
    
    <p>
        O professor <i>José Davison</i> tinha mestrado em Musicoterapia 
        e acreditava que através da música era possível melhorar a 
        vida dos pacientes.
    </p>
    
    <iframe width="370" height="240" src="https://www.youtube.com/embed/HqGjfO0amC0" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Música nos Hospitais, projeto de Davison
    </div>
    <br />
    <div id="dic">
        <label><sup>*</sup>  Este artigo encontra-se na biblioteca do Campus Belo Jardim, bem como toda a matéria da TV Asa Branca.</label>
    </div>
<span class="page-number">145 </span>
</div>
