
<div class="book-content">

    <iframe width="370" height="225" src="https://www.youtube.com/embed/mkXY8q5ETME" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Acervo Katarina Meneses
    </div>
    <br />
    <div id="justificado"><p class="no-indent">
    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A memória de um povo tem a função de contribuir com o sentimento de “pertença” daquela coletividade, simbolizando com registros os acontecimentos marcantes deste povo e garantindo sua identidade. A memória seria a lembrança do passado e observa-la é como revivê-la, mantendo vivos os fatos marcantes do que já se foi. (Katarina Meneses)


 
</b></p>
</div></div>
<span class="page-number">5</span>
