<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_14.png" width="360" height="350" />
    </center>
    <div id="credito-img" > 
        <label>
           Apresentação com extensionistas e discentes do curso, em 2011
           <br />
           Katarina Meneses
           <br />
           Apresentação com extensionistas e discentes do curso, em 2011 - acervo Katarina 
        </label>
    </div>
    
<span class="page-number">164 </span>
</div>
