<div class="book-content" id="justificado">
    
     <p>
        A aula da saudade foi pensada pelas professoras <i>Andreza 
        Cordeiro</i> e <i>Rejane Campelo</i>, que, após algumas 
        brincadeiras iniciais, realizaram o segundo momento, com a fala 
        do professor <i>Mozart Vieira</i>, que se mostrava muito 
        emocionado. Em seu discurso, o professor narrou os momentos 
        difíceis da criação do curso e a satisfação de ter feito parte 
        desta história de muitas conquistas, levando um curso superior 
        ao Agreste pernambucano.  Ao término, alunos e professores 
        abraçaram-se, beijaram-se e cantaram juntos, afinal era uma 
        vitória de todos.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/aulasa/aulasa_02.png" width="315" height="185" />
    </center>
    <div id="credito-img" > 
        <label>
           Acervo - Marcos Nascimento
        </label>
    </div>
    
<span class="page-number">298 </span>
</div>
