<div class="book-content" id="justificado">
    
    <h3>* Março</h3>
    
    <h2><u>Palestra com Bernardina</u></h2>
    
    <p>
        A violência contra a mulher é um tema bem recorrente em nossa 
        sociedade. Pensando nisso, a docente <i>Bernardina Araújo</i> 
        realizou uma palestra sobre “Violência contra a mulher, 
        homofobia e xenofobia”, realizada no auditório do IFPE para os 
        alunos.
    </p>
    
    <img class=" zoom-this" src="pics/ano2013/ano2013_02.jpg" width="180" height="230">
    <div id="credito-img"> Bernardina Araújo - acervo Bernardina    </div>
    
<span class="page-number">58</span>
</div>
