<div class="book-content" id="justificado">
    
    <h2><u>Preparação Vocal para Professores de EJA - Joseane de Brito, Katarina Meneses e Thiago Gregorio (2014)</u></h2>
    
    <p>
        A professora <i>Joseane Brito</i> e o aluno <i>Thiago Gregorio</i> 
        realizaram um projeto sobre a poesia e os cuidados com a voz. O 
        trabalho foi desenvolvido com professores da EJA (Educação de 
        Jovens e Adultos), tendo como finalidade abordar a poesia e os 
        conteúdos ligados a Língua Portuguesa, com a observação de 
        <i>Joseane</i>, e um outro trabalho simultâneo, realizado por 
        <i>Thiago</i>, de preparação vocal e sobre as consequências do 
        uso inadequado da voz na sala de aula. 
    </p>
    
    <p>
        Os encontros aconteceram em escolas do estado, nas quais o 
        discente <i>Thiago</i> falava aos professores sobre a 
        importância da saúde vocal, os cuidados que os mesmos deveriam 
        ter com a voz e como melhorá-la; também fornecia exercícios 
        práticos de respiração, apoio vocal, entre outros, para manter 
        uma voz saudável.
    </p>
    
    
<span class="page-number">195 </span>
</div>
