<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_31.png" width="340" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
           Banner do trabalho do CEAPES.
        </label>
    </div>
    
<span class="page-number">190 </span>
</div>
