<div class="book-content" id="justificado">
    
    <p class="no-indent">
        duas apresentações, uma em São Caetano e outra no dia 
        11 de setembro em Belo Jardim, tendo seu início na escola - IFPE 
        - e o seu término na Avenida Siqueira Campos. Recebeu outra 
        roupagem e o repertório daquele ano foi uma mostra de frevos 
        pernambucanos.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/bandas/bandas_01.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Desfile da banda 2011 - acervo imagens do IFPE Belo Jardim
        </label>
    </div>
    
<span class="page-number">243 </span>
</div>
