<style type="text/css">
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000000;
    }
</style>

<div class="book-content" id="justificado">
    
    <h1>Referências</h1>
    
    <label>
    <b>Aniversário de Belo Jardim-PE banda do IFPE. </b>
Disponível em: <https://www.youtube.com/watch?v=G1GIfTMBmks>. Acesso em: 16 out. 2015, 22:30. 
</label>  <br /><br />

<label>
    <b>Biblioteca professor Elny Sampaio - IFPE campus Belo Jardim. </b>
Disponível em: < https://pt.foursquare.com/v/biblioteca-professor-elny-sampaio--ifpe-campus-belo-jardim/5061f4dce4b096c1abb90773>. Acesso em: 19 out. 2015, 07:05. 

</label>  <br /><br />

<label>
    <b>Brady Wagoner. </b>
Disponível em: <https://aalborg.academia.edu/BradyWagoner>. Acesso em: 19 out. 2015, 07:18. 
</label>  <br /><br />

<label>
    <b>Carlos Carty - tubofone solo. </b>
Disponível em: <https://www.youtube.com/watch?v=L6T5mflCdMA>. Acesso em: 19 out. 2015, 06:51.
</label>  <br /><br />

<label>
FERREIRA, Aurélio Buarque de Holanda. 
    <b>Novo dicionário aurélio da língua portuguesa. </b>
3. ed. Curitiba: Positivo, 2004. 

</label>  <br /><br />

    
    
<span class="page-number"> 352 </span>
</div>
