<div class="book-content" id="justificado">
    
    <h1>Colação de Grau e Festa de Formatura</h1>
    
    <h3>* Dezembro de 2014</h3>
    
    <h2><u>A Colação de Grau</u></h2>
    
    <p>
        A Colação de Grau da primeira turma de Música (2011) respeitou 
        os padrões normais de protocolos exigidos, com a formação da 
        mesa e fala das autoridades presentes. A mesa foi composta, 
        dentre outras pessoas, pela Reitora <i>Claudia Sansil</i>, o 
        Diretor do Campus, <i>Francisco das Chagas Lino</i>, o 
        Coordenador do Curso de Música, <i>Marinaldo Lourenço</i>, o 
        professor <i>Sérgio Galdêncio</i>, a madrinha da turma, 
        professora <i>Bernardina Araújo</i>, o homenageado da turma, o 
        professor <i>Mozart Vieira</i> e o DDE, <i>João Almeida</i>.
    </p>
    
    <p>
        Tanto a colação de grau como o jantar receberam um toque 
        especial da docente <i>Andreza Cordeiro</i> e da técnica em 
        assuntos educacionais <i>Fernanda Lopes</i>.
    </p>
<span class="page-number">300 </span>
</div>
