<style type="text/css">
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000000;
    }
</style>

<div class="book-content" id="justificado">
    
   
<label>
    <b>O Brasil da copa do mundo. </b>
Disponível em: <w.youtube.com/watch?v=https://wwCa_OWezAN44>. Acesso em: 26 abr. 2015, 09:10. 
</label>  <br /><br />

<label>
    <b>Ordem dos Músicos. </b>
CRMG. Disponível em: <http://www.ombmg.org.br/ombmgv2/modules/news/article.php?storyid=13> Acesso em: 05Abr, 10:30. 
</label>  <br /><br />

<label>
    <b>Ponto de Cultura – Ororubá. </b>
Disponível em: <https://www.youtube.com/watch?v=1aw6clEKv3A>. Acesso em: 18 out. 2015, 21:48. 
</label>  <br /><br />

<label>
SILVA JÚNIOR, José Davison da. 
    <b>Música e saúde: a humanização como objetivo da educação musical.</b> 
Disponível em<http://www.abemeducacaomusical.com.br/revistas/revistaabem/index.php/revistaabem/article/view/99>.
</label>  <br /><br />

<label>
    <b>TV Belo Jardim - IFPE campus Belo Jardim em 07-09-2011. </b>
Disponível em: <https://www.youtube.com/watch?v=W_NR8_SsAko>. Acesso em 16 out. 2015, 22:15. 
</label>  <br /><br />

    
<span class="page-number"> 355</span>
</div>
