<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        conduzido até aquele momento, 
        quais as atribuições deste grupo, falou sobre os membros do 
        núcleo, em suma, realizou uma abordagem muito oportuna que 
        configurava o que de fato existiu: muito trabalho.
    </p>
    
    <p>
         No final de todo o processo, a nota dos avaliadores para o 
         Núcleo Docente Estruturante não poderia ser outra. O grupo 
         ficou com a nota 5 (cinco), nota máxima, sendo um dos itens que 
         elevou a pontuação total do Curso de Música.
    </p>
    
<span class="page-number">268 </span>
</div>
