<div class="book-content" id="justificado">
    
    <h2><u>Coro de Extensão - Robson Ribeiro (2012-2015)</u></h2>
    
    <p>
        O professor <i>Robson Ribeiro</i>, no ano 2012, desenvolveu uma 
        atividade de Canto Coral com alunos do curso, professores e 
        comunidade externa que gostariam de cantar e melhorar sua 
        técnica vocal. O trabalho foi elaborado com base em um repertório 
        previamente escolhido, com excelentes dicas para a respiração e 
        projeção vocal.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_08.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Coro de extensão 2012 - acervo Thiago Gregorio
        </label>
    </div>
<span class="page-number">156 </span>
</div>
