<div class="book-content" id="justificado">
    
     
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_05.png" width="315" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Júnior Ston com a Reitora Claudia Sansil - acervo Marcos Nascimento
        </label>
    </div>
    
    
<span class="page-number">305 </span>
</div>
