<div class="book-content" id="justificado">
    
    <p class="no-indent">
        <i>Lima</i>, que assistiu a tudo muito emocionada.
    </p>
    
     <img class="left-pic zoom-this" src="pics/ano2013/ano2013_11.png" width="350" height="320" />
    <div id="credito-img" style="float:left"> 
        <br /><br /><a href="http://cidadebelojardim.blogspot.com.br/2010/09/morreu-o-maestro-ulisses-lima.html" target="_blank"> http://cidadebelojardim.blogspot.com.br/2010/09/morreu-o-maestro-ulisses-lima.html</a>, acessado às 17:41 em 23/06/2015
    </div>
    
    
<span class="page-number">71</span>
</div>
