<div class="book-content" id="justificado">
    
    <p class="no-indent">
        O docente laureado da turma foi o aluno 
        de bateria <i>Tiago Mota</i>.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_02.png" width="360" height="250" />
    </center>
    <div id="credito-img" > 
        <label>
           Discurso de Adjair Cavalcante, com tradução simultânea de Tarciana Ramos (em Libras) - acervo Marcos Nascimento
        </label>
    </div>
    
    
    
<span class="page-number">302 </span>
</div>
