<div class="book-content" id="justificado">
    
     <h1>Big Band e Marching Band</h1>
    <center>
        <h3><u>2011 a 2015</u></h3>
    </center>
    <br />
    <h2><u>Marching Band</u></h2>
    
    <p>
        A Marching Band do IFPE Belo Jardim (banda de marcha “Professor 
        <i>Ulisses de Lima</i>”) existia antes de o curso de música se instalar; 
        realizou seus primeiros ensaios em 2007. Era um projeto do 
        professor <i>Mozart Vieira</i>, que juntamente com o colaborador 
        “Taninha”, o futuro aluno <i>Marcílio Duarte e Emanuel Oliveira</i>, 
        ensaiava todos os anos para sair no desfile de 07 de setembro.      
    </p>
    
    <p>
        No ano de 2011, o docente <i>Jaildo Gurgel</i>, veio somar 
        esforços ao trabalho da Marching Band. Esta modalidade de banda 
        de Fanfarra é muito comum nos Estados Unidos, onde a principal 
        característica é de caráter competitivo. Neste mesmo ano a banda 
        realizou  <a class="fim">_____________________________</a>
    </p>
    
    
    
    
    
<span class="page-number">242 </span>
</div>
