
<div class="book-content" id="justificado">
<div id="letras">

<img class="left-pic zoom-this" src="pics/ano2010/construcao_musica_01.jpg" width="400" height="181">
<div id="credito-img"> Casa da música, foto do instrumental – acervo Emanuel Oliveira  </div>

<p>
    Os docentes reuniam-se sistematicamente para descobrir como resolver
    os problemas que fugiam de seus domínios, como questões de estrutura física,
    da falta de livros e da falta de professor. Porém, a cada nova reunião, novos
    problemas e novos desabafos que não chegavam a lugar algum, pois as
    dificuldades eram maiores do que estes docentes podiam resolver. Entretanto,
    a visita do MEC tornava-se mais próxima e os problemas se avolumavam.
</p>

</div>

</div>
<span class="page-number">28</span>
