<div class="book-content" id="justificado">
    
    <h3>* Outubro</h3>
    <h2><u>Nomeação de César Berton e João Alberto</u></h2>
    <p>
        Em outubro de 2014 a Licenciatura em Música fez duas importantes 
        nomeações: uma do professor <i>César Berton</i> (Violão/ Guitarra) 
        e a outra do professor <i>João Alberto</i> (Piano). O docente 
        <i>César</i> já trabalhava no Curso como professor substituto e 
        ao ser classificado no concurso de Violão e Guitarra para 
        professor efetivo tornou-se membro do grupo de professores Efetivos da 
        Licenciatura em Música. 
    </p>
    
    <center><img class=" zoom-this" src="pics/ano2014/ano2014_08.png" width="180" height="165" /></center>
    <div id="credito-img" > 
        César Berton - acervo César
    </div>
    
<span class="page-number">85</span>
</div>
