<div class="book-content" id="justificado">
    
    <p>
        <i>Rodriggo</i> relatou que, na sua chegada, os esforços realizados por 
        <i>Edneide Rodrigues</i> (antiga responsável pela biblioteca), a 
        situação da biblioteca era precária, apenas 10% dos livros que 
        estavam no ementário faziam parte do acervo daquele espaço de 
        leitura.
    </p>
    
    <p>
        <i>Rodriggo</i> constatou que os dias se passavam e era 
        necessária urgência com a compra dos livros de música. 
        O que fazer? 
    </p>
    
    <p>
        Primeiramente o bibliotecário realizou um levantamento do que 
        havia naquele espaço em conformidade com o ementário do Curso. 
        Depois se muniu de documentos comprobatórios da realidade da 
        biblioteca, já que no IFPE tudo é documento. Criou um dossiê com 
        memorando para os responsáveis (Diretor do Campus, Coordenador do 
        Curso de Música, entre outros), colocando-os a par da situação 
        dos livros que existiam naquele momento na biblioteca. Realizada 
        esta primeira etapa, pediu ajuda aos docentes, para que juntos 
        conseguissem obter o maior volume de <a class="fim">________</a>
    </p>
    
    
    
<span class="page-number">277 </span>
</div>
