<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_17.png" width="360" height="420" />
    </center>
    <div id="credito-img" > 
        <label>
           Trabalho com as crianças das comunidades visitadas com Jaildo 
           Gurgel e Mozart Vieira - acervo Jaildo Gurgel
        </label>
    </div>
    
<span class="page-number">169 </span>
</div>
