<div class="book-content" id="justificado">
    
    <p class="no-indent">
        rancorosos que nutriam um pelo outro. 
    </p>
    
    <p>
        O espetáculo foi montado com as falas dos alunos, que contavam um 
        pouco daquela história de rivalidades. Paralelo a isto, dois 
        personagens se contrapunham: <i>Claudio Zerbasy</i> como Noel 
        Rosa e <i>Ivanar Nunes</i> na figura de Wilson Batista. Na 
        realização da parte musical, uma orquestra foi formada, com 
        arranjos de <i>Elias de Oliveira, Alexandre Rodrigues e Daniel 
        Victor</i>, e ao piano o professor <i>João Ventura</i>.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/ano2015/ano2015_02.png" width="360" height="210" />
    </center>
    <div id="credito-img" > 
        João Alberto – acervo João Alberto
    </div>
<span class="page-number">94</span>
</div>
