<div class="book-content" id="justificado">

    <h1> Ano de 2011 </h1>

    <h3> * Fevereiro</h3>
    
    <h2><u>Quinteto de Metais</u></h2>

    <p>
        O professor <i>Flávio Lima</i>, no ano anterior, ministrava aulas de Trompete, Trombone e Tuba, 
        e assim que o ano letivo de 2011 teve início, formou um quinteto de Metais com a seguinte 
        formação: dois trompetistas, dois trombonistas e um tubista. 
        
    </p>
    
    <img class="left-pic zoom-this" src="pics/ano2011/ano2011_01.jpg" width="290" height="181">
    <div id="credito-img"> Quinteto 2011 - acervo Flávio Lima  </div>

</div>
<span class="page-number">32</span>
