<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/biblioteca/biblioteca_02.png" width="187" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Banner biblioteca - acervo Katarina Meneses
        </label>
    </div>
    
    
    
<span class="page-number">272 </span>
</div>
