<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_28.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        Teatro de Santa Isabel – acervo do Teatro
        <br />
        Um dos ensaios da missa, no auditório – acervo Carlos Silva
    </div>
    <br />
    <iframe width="370" height="200" src="https://www.youtube.com/embed/Ye56RLq5Cjo" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Kyrie da Missa Nordestina - acervo internet
    </div>
    
<span class="page-number">140 </span>
</div>
