<div class="book-content" id="justificado">
    
    <p>
        O Renafor<a id="dic"><sup>3</sup></a> é um projeto para capacitar professores de Artes das 
        escolas estaduais e municipais, implementados pela PRODEN. Durante 
        os anos de 2013 e 2014 o Curso de Licenciatura em Música ofereceu 
        essa formação para professores da rede estadual de diversas áreas 
        (professores de Filosofia, Sociologia, Português, entre outros) que, 
        para complementarem a carga horária, ensinavam Artes, porém, sempre 
        ocorria uma defasagem na área específica de música.
    </p>
    
    <p>
        O Renafor foi coordenado pelo professor <i>Jaildo Gurgel</i>, 
        tendo o professor <i>Jandson Ferreira</i> como assistente de 
        Laboratório e a servidora <i>Emanuelle Sales</i> como a 
        responsável pela logística do curso, com atividades como abrir 
        salas e gerenciar o lanche (que na época era oferecido), ajudar 
        na prestação de contas, entre outras atividades. 
    </p>
    
    <div id="dic"><!-- Rodapé -->
        <hr>
        <SUP>3</SUP>  O Renafor – Rede Nacional de Formação Iniciada e 
        Continuada de Professores do Magistério da Educação Básica.
    </div>
<span class="page-number">178 </span>
</div>
