<div class="book-content" id="justificado">
    
    <p>
        Um curso de licenciatura agrega muitos saberes, entre eles o de 
        unir as teorias estudadas e as práticas para ministrar com 
        eficiência os conteúdos necessários. Com este olhar, a 
        professora <i>Bernardina Araújo</i> e o professor <i>Arlindo 
        Mozart</i> trabalharam durante o ano de 2013 com o público 
        externo, na perspectiva da diversidade que é encontrada em cada 
        aluno na sala de aula, na tentativa de minimizar estas diferenças 
        e promover uma formação continuada para o alunado. Participaram 
        também <i>Adjair Cavalcante, José Carlos e Gilmara Sousa</i>, 
        como monitores voluntários, e <i>Cláudio Zerbasy e Ivanar Nunes</i> 
        como bolsistas.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_21.png" width="222" height="150" />
    </center>
    <div id="credito-img" > 
        <label>
           Mozart Vieira e Bernardina Araújo ministrando aula para o curso de Extensão - acervo Thiago Gregório
 
        </label>
    </div>
    
<span class="page-number">174 </span>
</div>
