<div class="book-content" id="justificado">
    
    <p>
        No ano de 2013, o docente <i>Evandro Sampaio</i>, juntamente com alguns de seus 
        alunos de Sax, participou do ENSAX - Encontro de Saxofonistas, realizado em Natal. 
        Observaram o que os saxofonistas de outras localidades do país estavam realizando, 
        além de participarem de masterclass com alguns grandes nomes. Os discentes 
        participantes deste evento foram  <i>Ivanar Nunes, Waldicleyton Chaves, Caio Bruno, 
        Denys Nascimento e Leonardo Araújo</i>. 
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_06.png" width="360" height="220" />
    </center>
    <div id="credito-img" > 
        <label>
           Ivanar Nunes e Caio Bruno - acervo Ivanar 
           & 
           Waldicleyton Chaves - acervo Waldicleyton 
        </label>
    </div>
    
<span class="page-number">214 </span>
</div>
