<div class="book-content" id="justificado">
    
    <p>
        A professora <i>Rejane Campelo</i>, dando continuidade ao 
        projeto que teve início no ano de 2014, no ano de 2015 agregou 
        mais uma linguagem. Além do Violão de <i>Marcos Gondim</i> e do 
        Canto Coral realizado por ela própria, as crianças do CEAPES 
        também tiveram a participação de <i>Erisson Porto</i>, que 
        trabalhava a linguagem do repente e, juntamente com <i>Campelo e 
        Gondim</i>, executou atividades ligadas ao ritmo e às melodias.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_32.png" width="360" height="220" />
    </center>
    <div id="credito-img" > 
        <label>
           Erisson Porto no CEAPES - acervo Marcos Gondim
             
        </label>
    </div>
<span class="page-number">191 </span>
</div>
