<div class="book-content" id="justificado">
    
    <h2><u>Expressão Cênica</u></h2>
    
    <p>
        Ao término da disciplina de Cênicas II, ministrado pela professora 
        <i>Katarina Meneses</i>, os alunos realizaram um espetáculo sobre 
        os 100 anos de Orlando Silva. O nome do espetáculo era: ”Orlando 
        Silva em 50 minutos” e contou com a participação dos alunos da 
        disciplina, além de instrumentistas convidados. Os arranjos 
        ficaram por conta de <i>Elias Nascimento</i>. 
    </p>
    
    <p>
        O espetáculo, construído coletivamente, narrava a vida, sofrimentos 
        e a carreira do cantor, sob a direção da docente <i>Katarina Meneses</i>.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/ano2015/ano2015_09.png" width="360" height="125" />
    </center>
    <div id="credito-img" > 
        Orlando Silva em 50 minutos - acervo Katarina Meneses
    </div>
    
<span class="page-number">102</span>
</div>
