<div class="book-content" id="justificado">
    
    <h2><u>Encerramento de Bateria </u></h2>
    
    <p>
        Em dezembro de 2013, o professor <i>Jaildo Gurgel</i> e
        seus alunos de bateria realizaram uma apresentação em
        um recital de encerramento das turmas de 
        Bateria/Percussão popular no Auditório do campus.
    </p>
    
    <img class="left-pic zoom-this" src="pics/ano2013/ano2013_12.png" width="330" height="290" />
    
<span class="page-number">72</span>
</div>
