<div class="book-content" id="justificado">
    
    <p class="no-indent">
        Santa Isabel, e se apresentou na Igreja do Carmo.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_09.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
            Folder da ópera de Don Giovanni realizada no Santa Isabel
        </label>
    </div>
<span class="page-number">158 </span>
</div>
