<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_03.png" width="360" height="325" />
    </center>
    <div id="credito-img-l">
        <label>
           Yarianne Melo de Sousa
           <br />
           Edneide Rodrigues Lopes 
           <br />
            Almerinda Diniz Miranda
           <br />
        </label>
    </div>
    
     <div id="credito-img">
        <label id="credito-img">
           Rosana Nascimento Freitas
           <br />
           Carla Bruna Araújo
           <br />
        </label>
    </div>
    
    
<span class="page-number"> 335 </span>
</div>
