<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_27.png" width="360" height="420" />
    </center>
    <div id="credito-img" > 
        <label>
           LAPPEM - acervo Katarina Meneses
           <br />
           Jandson Ferreira - acervo Márcio Rodrigues
           <br />
           Emanuelle Sales - acervo de Emanuelle
        </label>
    </div>
    
<span class="page-number">181 </span>
</div>
