<div class="book-content" id="justificado">
    
    
    <p>
        O Bloco B foi pintado e recebeu um gabinete com quatro 
        compartimentos munidos de birôs, cadeiras e computadores, além 
        de material de escritório, para os professores de música 
        ministrarem suas reuniões, oferecerem orientações aos alunos, 
        entre outras particularidades, tudo isto graças ao esforço do 
        diretor <i>Francisco Chagas Lino</i>, que, sensibilizado com a 
        situação, resolveu o problema sem esperar orçamentos advindos da 
        Reitoria. 
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/vismec/vismec_02.png" width="315" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Casa da Música - acervo Katarina Meneses
        </label>
    </div>
    
    
    
<span class="page-number">285 </span>
</div>
