<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_11.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
           Tiago Mota, Thiago Gregorio, Katarina Meneses e Lucas Monteiro
           <br />
           Anderson Silva
           &
           Grupo de Flauta do professor Mozart Vieira
           <br />
           Grupo Francês hospedado na casa do professor Jaildo Gurgel - acervo Jaildo
        </label>
    </div>
    <br />
    
<span class="page-number">221 </span>
</div>
