<div class="book-content" id="justificado">
    
    <h1> Semana da Música</h1>
    
    <p>
        Ao longo dos anos, os professores resolveram promover o Dia da 
        Música, 22 de novembro. Assim, vários eventos ocorreram para 
        homenagear esta data.
    </p>
    
    <p>
         No ano de 2011 não foi possível realizar a homenagem ao Dia da 
         Música, porém aconteceram momentos isolados. A partir de 2012, 
         várias apresentações, oficinas e palestras ocorreram, agregando 
         professores, alunos, bem como os profissionais da Biblioteca 
         (na Semana da Biblioteca que ocorreu paralela à Semana da Música, 
         em 2013). A Semana da Música de vários anos também contou com a 
         parceria do Sesc e grupos de outras localidades, como alguns 
         grupos de Recife.
    </p>
    
    <p>
        Mas o que se diz sobre o Dia da Música?
    </p>
    
    <p>
        Acontece no dia de sua padroeira, Santa Cecília que viveu 
        em Roma, no século III, e participava diariamente 
        
    </p>
    
<span class="page-number">104</span>
</div>
