<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_07.png" width="220" height="225" />
    </center>
    <div id="credito-img" > 
        Lucas Monteiro - acervo Lucas
    </div>
    
    <p>
        A Semana da Música 2013 aconteceu em quatro dias muito intensos, 
        com variados estilos e apresentações diversas. Os eventos 
        ocuparam todo o Campus, indo desde o auditório e mini-auditório 
        até a área externa do IFPE.    
    </p>
    
    <p>
        Entre vários eventos apresentados na Semana da Música, contamos 
        com a participação do senhor <i>João do Pife</i> e seu grupo. 
        Esta apresentação ocorreu dentro 
        <a class="fim">_______________________________</a>
    </p>
    
<span class="page-number">112 </span>
</div>
