<div class="book-content" id="justificado">
    
    <h1>Pesquisa e Extensão</h1>
    
    <h3>Pesquisa e Extensão 2011</h3></center>
    
    <h2><u>As Primeiras Pesquisas-José Davison</u></h2>
    
    <p>
        A primeira pesquisa em música do Campus Belo Jardim foi 
        desenvolvida em 2011, pelo professor <i>José Davison da Silva</i>, 
        cedido temporariamente pelo Campus Barreiros. A pesquisa de 
        <i>Davison</i> tinha como título "Música Como Estratégia de 
        Humanização no <i>Hospital Júlio Alves de Lira</i><sup>*</sup>", onde o 
        docente era o orientador responsável pelo projeto.
    </p>
    
    <p>
        Na época, a TV Asa Branca realizou uma reportagem com o professor 
        e os discentes participantes daquele trabalho. Nesta atividade, 
        além do professor <i>José Davison</i>, também faziam parte os 
        alunos <i>Ivanar Nunes, Allan Leandro, Sebastião Cristiano e 
        Romualdo Costa</i>, que semanalmente  adentravam o ambiente 
        hospitalar para tocar e cantar um repertório escolhido pelos 
         <a class="fim">_____________________________________________</a>
    </p>
    
    
<span class="page-number">144 </span>
</div>
