<div class="book-content" id="justificado">
    
    <h3>* Setembro</h3>
    
    <h2><u>Ciclo de Música de Câmara do SESC</u></h2>
    
    <p>
        O Sesc, na intenção de fomentar a arte na cidade de Belo Jardim, 
        realiza eventos para promoção dos artistas locais. Os alunos de 
        Canto foram convidados a participar do Ciclo de Câmara  em um 
        recital que permeava o erudito e o sacro. O grupo de cantores 
        fez a abertura para a violonista <i>Daniela Falcão</i>, aluna 
        de <i>Mirael Lima</i>. Tudo isto foi possível graças ao apoio do 
        Sesc e à pessoa de <i>Juvêncio Junior</i>, coordenador de cultura 
        daquela unidade.
    </p>
    
    
    <img class="left-pic zoom-this" src="pics/ano2013/ano2013_07.png" width="280" height="145">
    <div id="credito-img"> <br  /><br  /><br  />Ciclo de Música de Câmara no mini-auditório - acervo de Thiago Gregorio    </div>
    
<span class="page-number">64</span>
</div>
