<div class="book-content" id="justificado">
    
    <img class=" zoom-this" src="pics/ano2014/ano2014_07.png" width="360" height="400" />
    <div id="credito-img" > 
        Coro de trombones com a regência do Professor Marinaldo Lourenço – acervo Marinaldo
    </div>
    
    
<span class="page-number">84</span>
</div>
