
<div class="book-content" id="justificado">

<p class="no-indent">  equipe, em uma vã tentativa de
    esclarecimento e de auxílio quanto aos
    problemas relacionados ao curso, foi à
    reitoria à procura do “Portas Abertas”, na tentativa de dialogar sobre a situação
    instalada, e esperou pacientemente durante seis meses para a marcação de
    uma única reunião com a reitora, que jamais aconteceu, apesar de o grupo ter
    tentado outros contatos várias vezes. Este era o quadro do Curso de Música
    durante os dois primeiros anos.
</p>

    <img class="left-pic zoom-this" src="pics/ano2010/construcao_musica_02.jpg" width="405" height="191">
    <div id="credito-img"> Retirado da internet  </div>

    



</div>
<span class="page-number">30</span>
</div>
