<div class="book-content" id="justificado">
    
    
    <p class="no-indent"> heroicamente aulas 
        sem a mínima condição. A comunidade de Barro Branco, por ser 
        paupérrima, possui apenas uma escola do município, em que muitas 
        vezes são aglutinados alunos de diferentes salas, por falta de 
        professor. 
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_28.png" width="360" height="285" />
    </center>
    <div id="credito-img" > 
        <label>
           Júnior e Gutenberg em Olinda, no Enext de 2013 - acervo Joermison Melo
           <br />
          Johnne Cardoso - acervo Johnne
           <br />
           Iago Rodrigues - acervo Iago
        </label>
    </div>
    
<span class="page-number">185 </span>
</div>
