<div class="book-content" id="justificado">
    
    <h3>* <u>Maio</u></h3>
    
    <h2><u>A Missa Nordestina de Clóvis Pereira e a Orquestra de Frevo</u></h2>
    
    <p>
        O III Fórum Mundial de Educação Profissional e Tecnologia 
        aconteceu em Maio de 2015, no Centro de Convenções de Pernambuco.
    </p>
    
    <p>
        <i>
            “A terceira edição do FMEPT é capitaneada pelo Instituto 
            Federal de Educação Ciência e Tecnologia de Pernambuco 
            (IFPE), com apoio do Ministério da Educação (MEC), e foi 
            realizada entre os dias 26 e 29 de maio de 2015, no Centro 
            de Convenções de Pernambuco. A programação reúniu desde 
            conferências, palestras e debates, até apresentações 
            culturais, mostras tecnológicas, oficinas, além de feiras 
            temáticas. Todas as atividades foram relacionadas ao tema 
            central do evento: Diversidade, Cidadania e Inovação. Como 
            nas edições anteriores, o FMEPT 2015 foi construído 
            coletivamente, com o apoio e a  
            <a class="fim"> _______________________________________ </a>
        </i>
    </p>
    
<span class="page-number">234 </span>
</div>
