<div class="book-content" id="justificado">
    <p class="no-indent">
    canção e maracatu. O musical teve a participação do professor 
    <i>Flávio Lima</i>, com arranjos de duas músicas natalinas tradicionais 
    adaptadas para os nossos ritmos. A Cantata também contou com a 
    participação das professoras <i>Katarina Meneses e Rejane Campelo</i>, 
    que confeccionaram o texto para o evento. Este musical possuía dois 
    personagens chaves que eram os narradores: 
    <i>Gutenberg Alves e Ivanar Nunes</i>. Eles contracenavam com a 
    própria plateia, fazendo comentários engraçados e inteligentes, 
    enquanto os demais alunos se revezavam cantando e tocando. O 
    espetáculo<sup>*</sup> foi realizado no auditório do IFPE e na comunidade de 
    Santa Luzia, em um distrito próximo à Belo Jardim, em novembro e 
    início de dezembro do referido ano.
    </p>

    <br />
    <br />
    <br />
    <div id="dic">
        
        * Este material encontra-se na biblioteca do Campus, intitulado a “1° Cantata Natalina do Curso de Música de Belo Jardim”, em DVD, cópia das partituras e o texto das autoras.
    </div>
<span class="page-number">36</span>
</div>
