<div class="book-content" id="justificado">
    
    <h1> Aula da Saudade</h1>
    
    <p>
        Em dezembro de 2014 foi realizada a primeira “Aula da Saudade”, 
        tendo como professor homenageado o docente <i>Mozart Vieira</i>. 
    </p>
    
    <p>
        Dos vinte e cinco primeiros alunos da turma de 2011, estavam se 
        formando apenas cinco. Eram eles: <i>Adjair Cavalcante</i> 
        (Canto), <i>Francisco José</i> (Trombone), <i>Gutenberg Alves</i> 
        (Canto), <i>Júnior Ston</i> (Bateria) e <i>Tiago Motta</i> 
        (Bateria). 
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/aulasa/aulasa_01.png" width="315" height="180" />
    </center>
    <div id="credito-img" > 
        <label>
           Acervo - Marcos Nascimento
        </label>
    </div>
    
   
<span class="page-number">297 </span>
</div>
