<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_16.png" width="360" height="250" />
    </center>
    
    <div id="credito-img" > 
         Atividades de Metodologia - acervo de Joermison Melo
    </div>
    
    <h2><u>Coro de Extensão</u></h2>
    
    <p>
        O Coro Comunitário vem desenvolvendo atividades relevantes dentro 
        do Instituto, apresentando-se em Igrejas, em outras cidades e 
        em teatros. Na Semana da Música houve uma apresentação do grupo 
        no mini-auditório do IFPE, sob a regência do professor e 
        regente <i>Robson Ribeiro</i>.
    </p>
<span class="page-number">124 </span>
</div>
