<div class="book-content" id="justificado">
    
    
    <p>
        <i>Em cada lugar e momento ritmos diferentes se impõem e estão 
        relacionados às ocupações dos espaços socioculturais e às 
        relações afetivas estabelecidas no presente que servem como 
        apoio coletivo para a evocação das lembranças. Assim, a 
        legitimação de práticas e saberes cotidianos através de 
        narrativas de pessoas idosas e a reinvenção de suas trajetórias 
        sociais, podem ser entendidas como um esforço sistemático de 
        produção e interpretação de sentidos. Esses aspectos 
        constitutivos formam a base denominada de “identidade narrativa”. 
        As pessoas idosas que narram sua condição sociocultural estão 
        definindo relacionalmente suas identidades; formulam uma 
        trajetória social inscrita em uma rede complexa de relações 
        sociais.”</i>(Texto Maelda Lacerda). 
    </p>
    
    <p>
        Bolsistas do ano de 2014: <i>Fellipe Almeida Soares, Luana 
        Cândido dos Santos</i>. Voluntárias: <i>Larissa Helen Vasconcelos 
        Regis, Maria Eduarda Santos da Silva, Mônica Fernanda de Souza, 
        Emanuely Barros</i>.
    </p>
    
<span class="page-number">193 </span>
</div>
