<div class="book-content" id="justificado">
    
    <h2><u>Música no Refeitório</u></h2>
    
    <p>
        Na Semana da Música, o professor <i>Mozart Vieira</i> levou os 
        seus alunos para o refeitório, onde fizeram uma apresentação 
        homenageando o Dia da Música.
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/semana/semana_14.png" width="360" height="250" />
    </center>
    
    <div id="credito-img" > 
          Imagens do Refeitório – acervo IFPE
          <br />
          Mozart Vieira – acervo Mozart
    </div>
    
    <br />
    
    
<span class="page-number">121 </span>
</div>
