<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        marcados na biblioteca Elny Sampaio<sup>7</sup> , com toda a 
        diversidade de cursos que havia no Campus Belo Jardim. 
    </p>
    
    
    <p>
        De 2010 (criação do Curso) a 2014, quando ocorreu a visita do 
        MEC, o quadro de funcionários daquele espaço oscilou bastante, 
        até a chegada do bibliotecário <i>Rodriggo Leopoldino</i>. 
    </p>
    
    <p>
        Quando os avaliadores chegaram, aquele espaço era composto por: 
        <i>Tarciana dos Santos Silva, Nadilson Nunes, 
        Auda Moraes Arcoverde, Edson Lucena de Melo</i>, e o 
        bibliotecário <i>Rodriggo Leopoldino Cavalcanti</i>.
    </p>
    
    <br />
    <br />
    <br />
    
    <div id="dic">
        <hr />
        <label>
            <sup>7</sup>   
            Elny Sampaio foi redator do jornal Mensageiro em Salvador, 
            vigário,  diretor gerente da Mafisa,  professor do colégio 
            Frei Cassiano, professor da Escola Agrícola "atualmente IFPE", 
            e por fim, candidato a vereador em Belo Jardim em 1982.
        </label>
    </div>
    
    
<span class="page-number">271 </span>
</div>
