<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        nenhum serviço de secretaria. 
        Abriu diário, auxiliou os alunos no que estes necessitaram 
        diante do curso, informou muito sobre os processos, enfim, 
        ajudou a gerenciar durante a visita do MEC e para que de fato 
        existisse um serviço de T.A.E (Técnico em Assuntos Educacionais) 
        no Curso de Música. Há quem diga 
        (e concordamos inteiramente), 
        que fazia sozinha o trabalho de três pessoas. Muito obrigada, 
        <i>Fernanda Pereira</i>.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/impres/impres_04.png" width="76" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Fernanda Lopes - acervo Fernanda 
        </label>
    </div>
    
    
        <a class="fim">____________________________________________</a>
    </p>
    
<span class="page-number"> 327 </span>
</div>
