<div class="book-content" id="justificado">
    
    <h2><u>Instrumento Complementar I</u></h2>
    
    <p>
        A disciplina de Instrumento Complementar I era ministrada pela 
        professora <i>Katarina Meneses</i>, que realizou uma pequena 
        mostra de um repertório Renascentista, abordando canções que 
        privilegiavam aquele período. Antes de cada peça apresentada, 
        a professora <i>Katarina</i> oferecia uma pequena explicação do 
        que seria cantado, contextualizando a canção no tempo histórico.
    </p>
    
    
    <iframe width="370" height="205" src="https://www.youtube.com/embed/-IXCgFGQOK4" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Semana da biblioteca Tutti Venit - acervo Thiago Gregorio
    </div>
    
    
<span class="page-number">130 </span>
</div>
