<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/colegiado/colegiado_04.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Reunião do colegiado - acervo Katarina Meneses 
        </label>
    </div>
    
<span class="page-number">263 </span>
</div>
