<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        Os docentes vindos da 
        Reitoria quase tornaram a noite um karaokê, todos queriam cantar.
        A noite era uma criança, para a alegria que se instalou no 
        refeitório, e no final o espaço tornou-se um dancing.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_10.png" width="315" height="320" />
    </center>
    <div id="credito-img" > 
        <label>
           Homenagem de Adjair Cavalcante (Voz) e Marcos Gondim (Violão) - Acervo Marcos Nascimento
           <br />
        </label>
    </div>
    
    
    
<span class="page-number">310 </span>
</div>
