<div class="book-content" id="justificado">
    
    <p>
        Em maio de 2013, dentro da programação da Caravana de Extensão 
        (evento promovido pela PROEXT-IFPE), ocorreu uma roda de 
        conversa intitulada “Práticas musicais em contextos de tradição 
        oral”, da qual participaram a professora <i>Bernardina Araújo</i>, 
        o professor <i>Jandson Silva</i>, o aluno <i>Elizeu dos Santos</i> 
        e o coordenador do ponto de cultura Ororubá de Pesqueira, 
        <i>Floriano Lins da Silva Júnior</i>. Neste mesmo dia, foi 
        organizada a visita e a apresentação do grupo de Bacamarteiros 
        de Santa Luzia, que se apresentou na frente do prédio do IFPE.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_18.png" width="127" height="187" />
    </center>
    <div id="credito-img" > 
        <label>
           Eliseu dos Santos - acervo Eliseu 
        </label>
    </div>
<span class="page-number">170 </span>
</div>
