<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_11.png" width="360" height="325" />
    </center>
    <div id="credito-img-l">
        <label>
          Emanuelle Sales
           <br />
           Jaqueline Dayse Torres
           <br />
</label>
    </div>
    
     <div id="credito-img">
        <label>
           Cícero Marrocos
           <br />
</label>
    </div>
    
    
    
<span class="page-number"> 343 </span>
</div>
