<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        conteúdos e pré-requisitos exigidos para a docência, e não 
        unicamente formar instrumentistas.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/estfisica/estfisica_02.png" width="360" height="210" />
    </center>
    <div id="credito-img" > 
        <label>
           Acervo site da escola.
        </label>
    </div>
    
    
<span class="page-number">252 </span>
</div>
