<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_35.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
           Mateus Henrique - acervo Mateus
           <br />
           Marcelo Moura - acervo Marcelo 
           <br />
           Erick Bryan – acervo Erick 
           <br />
           Maéve Oliveira – acervo Maéve
        </label>
    </div>
    
<span class="page-number">199 </span>
</div>
