<div class="book-content" id="justificado">

	<p class="no-indent">
		encerramento da disciplina, promoveu em Junho de 
		2011 
		
		uma pequena mostra com canções em Inglês, 
		
		onde os alunos 
		<i>Adjair Cavalcante e Claudio Zerbasy </i>apresentaram-se. 
		O evento aconteceu no mini-auditório do IFPE.
	</p>
	
	<h2><u> Metodologia da Pesquisa em Educação Musical </u></h2>
	
	<p>
		No segundo semestre de 2011, os alunos da disciplina Metodologia
		 da Pesquisa em Educação Musical, ministrada pelo professor 
		 <i>José Davison da Silva</i>, visitaram o Programa de Pós-Graduação 
		 em Música da Universidade Federal da Paraíba, sendo recebidos 
		 pelo professor <i>Luis Ricardo Silva Queiroz</i>. Na ocasião, 
		 os alunos de metodologia puderam conhecer um pouco mais sobre a
		  Universidade de Música da Paraíba e a realidade daquele local.
	</p>
<span class="page-number">34</span>
</div>
