<div class="book-content" id="justificado">
    
    <img class=" zoom-this" src="pics/ano2014/ano2014_11.png" width="350" height="400" />
    <div id="credito-img" > 
        Imagens do Espetaculo Tortura Nunca Mais - acervo Thiago Gregorio
    </div>
    
    <div id="dic">
        <br />
        * O DVD da apresentação e o texto encontram-se arquivados na biblioteca.
    </div>
<span class="page-number">90</span>
</div>
