<div class="book-content" id="justificado">
    
    <p class="no-indent">
        oferecendo Cantatas Natalinas, 
        Recitais Sacros, apresentações com Grupos de Sopro, Recitais de
        Violão, Coral para a comunidade externa, eventos ligados as 
        áreas pedagógicas etc. Todos estes fatos somados provocaram 
        uma visibilidade positiva para o Curso de Música, bem como para o 
        Campus. Várias destas realizações não recebem o devido 
        registro, e muitas acabam por ser esquecidas pela ausência de 
        memória. 
    </p>
    
    <p>
        Pensando nisso, a docente <i>Katarina Meneses</i> acreditou que 
        poderia levantar esta memória do curso desde sua formação até 
        meados de 2015, e assim o fez. Este livro é o resultado de muita 
        paciência, determinação e esforço pessoal da docente, além da 
        colaboração da professora <i>Ana Paula Sá</i>, que corrigiu os 
        textos, o brilhante trabalho de <i>Wilson Braz</i>, que realizou 
        toda a parte da informática e da aluna <i>Gilmara Sousa</i>.
    </p>
    
<span class="page-number">202 </span>
</div>
