<div class="book-content" id="justificado">
    
     <p>
        O segundo espetáculo, também nesta mesma perspectiva de concerto 
        aula, foi realizado com os temas dos ritmos nordestinos, intitulado: 
        Forró e outros Balanços Nordestinos. Os dois espetáculos 
        aconteceram no auditório do IFPE Belo Jardim.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/ano2015/ano2015_03.png" width="360" height="305" />
    </center>
    <div id="credito-img" > 
        Claudio Zebarsy no  papel de Noel Rosa e Ivanar Nunes no papel de Wilson Batista - acervo dos mesmos.
    </div>
<span class="page-number">95</span>
</div>
