<div class="book-content" id="justificado">
    
    <img class="left-pic zoom-this" src="pics/ano2013/ano2013_13.png" width="310" height="210">
    <div id="credito-img"> <br  /><br  /><br  />ProEXT MEC - acervo Thiago Gregorio    </div>
    <br />
    <br /><br /><br />
    <h3> * Novembro</h3>
    
    <h2><u>Fisiologia II </u></h2>
    
    <p>
        Os alunos da disciplina de Fisiologia da Voz II, juntamente com 
        a professora <i>Katarina Meneses</i>, realizaram uma visita 
        Técnica ao CEMO – Centro de Educação Musical de Olinda, no 
        intuito de oportunizar esclarecimentos sobre higiene vocal e as 
        suas <a class="fim">__________</a>
    </p>
<span class="page-number">67</span>
</div>
