<div class="book-content" id="justificado">
    
    <p>
        Em 2015 o projeto continua, com novos alunos de música, além de 
        ter preparado intervenções com Rádio Web; Cine Musical; Grupos 
        de coro e percussão; Coordenação de grupos musicais das 
        escolas, entre outras atividades
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_36.png" width="100" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Jaildo Gurgel - acervo Jaildo 
        </label>
    </div>
    <br />
    <br />
    
<span class="page-number">200 </span>
</div>
