<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
           escolas o 
        que ficou acordado, concluindo o projeto com um relatório do que 
        fizeram.
    </p>
    
    <p>
        No ano de 2014 trabalham com jogos musicais (ex: Jogos dos 
        Lenços e Jogos dos Copos), com cinco turmas durante a semana. 
        Além do trabalho realizado em sala, também ocorreu a preparação 
        de dois grupos musicais: coro e percussão.
    </p>
    
    <p>
         Em dezembro de 2014 houve uma apresentação de encerramento no 
         auditório do IF; no colégio São Tomás Alves ocorreu um trabalho 
         de percussão liderado por <i>Mateus Henrique e Erick Bryan</i>; 
         já no Erem, houve uma apresentação com <i>Maéve Oliveira</i>, 
         sobre o Samba, e <i>Marcelo Moura</i>, sobre o frevo. 
    </p>
    
    
<span class="page-number">198 </span>
</div>
