<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        foi: Tocar como quem 
        Canta. A banca do TCC era composta por <i>Mozart Vieira, 
        Marinaldo Lourenço e Jean Márcio Souza da Silva</i>, da UFMG.
    </p>
    
    <p>
        <i>Tiago Rodrigo da Silva Mota</i>, orientando de <i>Jaildo 
        Gurgel</i>, realizou sua pesquisa sobre vida e obra de 
        Dominguinhos, sendo o seu título: A diversidade musical na obra 
        de <i>José Domingos de Moraes Dominguinhos</i>. Como banca, 
        teve os seguintes professores: <i>Marinaldo Lourenço, Jaildo 
        Gurgel e José do Rego Barreto Filho</i> (UFPE) - professor 
        convidado.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/primeiro/primeiro_01.png" width="226" height="200" />
    </center>
    <div id="credito-img" > 
        
    </div>
    
    
    
<span class="page-number">315 </span>
</div>
