<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/colegiado/colegiado_01.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Reunião do colegiado – acervo Katarina Meneses
        </label>
    </div>
    
    <h2><u>Reformulação do PPC</u></h2>
    
    <p>
        O PPC – Projeto Pedagógico do Curso havia sido elaborado em 2010, 
        com a criação do Curso Superior, porém, esse documento deve estar 
        sempre em reformulação, à medida que novas demandas e propostas 
        surgem. A reformulação do PPC é bem vista pelo MEC e seus 
        avaliadores como uma construção de novas ideias e concepções, e 
        uma constatação de que os profissionais do curso pretendem 
        sempre melhorar o Projeto Pedagógico do mesmo.
    </p>
<span class="page-number">258 </span>
</div>
