<div class="book-content" id="justificado">
    <label><i>Vou Ficar", de Roberto Carlos, e "Brasil", de Cazuza</i>.</label>
    <img class=" zoom-this" src="pics/ano2014/ano2014_06.png" width="350" height="185" />
    <div id="credito-img" > 
        Mostra de Música no Cine Teatro-Acervo de Marcos Gondim
    </div>

    <iframe width="370" height="225" src="https://www.youtube.com/embed/FKbGcVTDcBE" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Os trio masculino cantado Dona Nobis - acervo Thiago Gregorio
    </div>
<span class="page-number">83</span>
</div>
