<div class="book-content" id="justificado">
    
    <h1>Os Primeiros Formandos - 2014</h1>
    
    <p>
        Os meses de outubro, novembro e dezembro de 2014 foram bem 
        agitados na Licenciatura em Música. Muitos preparativos para a 
        qualificação e defesa dos cinco formandos, além da formação das 
        bancas avaliadoras, a organização da colação de grau, da aula da 
        saudade e da festa de formatura.
    </p>
    
    <p>
        Para todos estes eventos é necessário citar nomes como 
        <i>Fernanda Lopes, Andreza Cordeiro, Rejane Campelo</i>, e todos 
        os professores que diretamente ou indiretamente se envolveram 
        com o processo de conclusão e formatura dos discentes.
    </p>
    
    <p>
        Para a conclusão dos alunos foi acordado entre o grupo de 
        professores que seria realizado um pequeno evento com mesa 
        redonda, falas de professores trazidos de outros Cursos e Campi 
        e, posteriormente, as defesas dos cinco discentes. Eram eles: 
        <i>Adjair Cavalcante, Francisco José, Gutenberg Alves, Edvaldo 
        Júnior Ston </i>
        <a class="fim">__________</a>
    </p>
    
<span class="page-number">312 </span>
</div>
