<div class="book-content" id="justificado">
    
    <h2><u>Big Band - Flávio Lima, Mozart Vieira e Marinaldo Lourenço (2013 e 2015)</u></h2>
    
    <p>
        A primeira Big Band do IF Belo Jardim foi criada pelo professor 
        <i>Flávio Lima</i>, no primeiro semestre de 2013. Os ensaios 
        aconteciam na casa da Música. A Big Band, como já diz o nome, é 
        uma grande banda que envolve vários instrumentistas e vários 
        instrumentos. Com a remoção do professor <i>Flávio</i> para o 
        Campus Recife, a banda teve que interromper suas atividades.
    </p>
    
    <p>
        No ano de 2015 os professores <i>Mozart Vieira e Marinaldo 
        Lourenço</i> deram impulso para a continuidade da “Big Band” na 
        escola, com participação de alunos de vários instrumentos. A 
        banda recebeu o nome de Idiomas Nordestinenses, em uma 
        homenagem ao poema de <i>Ivanildo Vila Nova e Bráulio Tavares</i>. 
        No ano de 2015 o repertório contou com uma mescla de música 
        brasileira e música eletrônica.
    </p>
    

<span class="page-number">246 </span>
</div>
