<div class="book-content" id="justificado">
    
    <p class="no-indent" >
        <b>
            Autora
        </b>
        <br />
        
        Katarina Meneses de Lourenço
        
        <br />

        <b>
            Colaboradora
        </b>
        <br />
        
        Gilmara Francisca Silva Sousa
        
        <br />

        <b>
            Revisão
        </b>
        <br />
        
        Ana Paula Lourenço de Sá
        
        <br />

        <b>
            Diagramação eletrônia/Editoração
        </b>
        <br />
        
        Wilson Braz de Lucena Neto
        <br />
        
        <b>Foto da capa</b>
        <br />
        Antônio Marcos do Nascimento
    </p>

    <center>
       <img class="zoom-this" src="pics/ficha.jpg" width="360" height="245" />
    </center>
    
    
</div>

