<div class="book-content" id="justificado">
    
    <p>
        O professor <i>João Alberto</i> (mais conhecido como <i>João 
        Ventura</i>) no mesmo ano de 2014  é classificado como professor 
        de Piano. O instrumento ainda não era oferecido, sendo ofertado 
        somente em 2015, com a chegada do professor <i>João Alberto</i>.
    </p>
    
    <img class=" zoom-this" src="pics/ano2014/ano2014_09.png" width="350" height="165" />
    <div id="credito-img" > 
        João Alberto - acervo João
    </div>
    
    <h2><u>Palestra sobre Patrimônio Material e Imaterial</u></h2>
    
    <p>
        Em Outubro de 2014, o professor <i>César Berton</i>, de 
        Violão/guitarra, e a professora <i>Katarina Meneses</i>, 
        de Canto, promoveram um encontro com o 
        <a class="fim">____________________________________</a>
        
    </p>
    
    
<span class="page-number">86</span>
</div>
