
<div class="book-content" id="justificado">
<div id="letras">

<p class="no-indent">
    o Projeto Pedagógico de Curso - PPC, devidamente aprovado pelo 
    Instituto Federal, a elaboração do ementário das disciplinas, a montagem de uma 
    biblioteca com os
    livros que constavam nas ementas, a disponibilização de estrutura física de salas de aulas, laboratórios,
    entre eles o de Música, contratação de docentes das várias áreas, capacitados para ministrar
    as referidas disciplinas do curso, capacitação de discentes, para que o curso seja oferecido
    e, por fim, como última etapa, a aprovação do MEC, com a visita de seus
    representantes, para averiguar se o que está descrito nos documentos
    corresponde à realidade dos fatos. No caso do curso de Música, ainda ocorre a
    necessidade de instrumental, com pianos, ou teclados, violões, e demais
    instrumentos que constam na grade curricular daquela Licenciatura.
</p>

<p>
    Porém, de todos os itens necessários para a aprovação do Curso, só
    uma pequena parte disso existia no Campus Belo Jardim: eram os
    instrumentos e o número mínimo de docentes para levar o Curso adiante.
    
     <!-- Final da Página --> <a style="visibility:hidden"> ___________________________ </a> <!-- FIM -->
</p>

</div></div>
<span class="page-number">27</span>
