<div class="book-content" id="justificado">
    
    <p class="no-indent">
        Música no Instituto Federal de 
        Educação, Ciência e Tecnologia de Pernambuco (IFPE) - Campus 
        Belo Jardim: um exemplo de interiorização das políticas públicas 
        em educação musical”. Seus mentores foram: <i>Arlindo Mozart 
        Vieira do Nascimento, José Davison da Silva Júnior, Robson 
        Rodrigues Ribeiro e Rosa Maria Oliveira Teixeira de Vasconcelos</i>.
    </p>
    <p>
        O trabalho completo pode ser visto nos ANAIS, disponíveis em 
        <a href="http://www.abemeducacaomusical.com.br/sistemas/anais/congressos/Anais_nordesteabem_2011_1.pdf#page=375" target="_blank">
            ABEM Educação Musical
        </a>,das páginas 375 a 384.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_02.png" width="260" height="190" />
    </center>
    <div id="credito-img" > 
        <label>
           Certificado participação de Robson Ribeiro
        </label>
    </div>
    <br />
<span class="page-number">206 </span>
</div>
