<div class="book-content" id="justificado">
    
    <p>
        Uma semana antes de os avaliadores chegarem foi realizado um 
        encontro entre o diretor <i>Francisco Chagas Lino</i>, 
        professores, alunos, <i>Fernanda Lopes</i> (a secretária na 
        época), no auditório, em uma espécie de sabatina, para 
        esclarecer os discentes mais desavisados sobre os documentos 
        do curso, caso fossem arguidos pelos avaliadores sobre aquele 
        material. Perguntas como: o que é o PPC, o que é o LAPPEM, o 
        que é NDE, o que é o Colegiado do Curso, e para que estes servem. 
        Estas, entre inúmeras outras perguntas, foram realizadas 
        no intuito de prevenir os discentes sobre o que os avaliadores 
        podiam sondar sobre o curso.
    </p>
    
    <p>
        Em agosto de 2014 ocorreu a tão esperada visita do MEC. Durante 
        dias e meses toda a equipe de docentes, discentes, 
        administrativos aguardavam estes dois dias de expectativa. Os 
        avaliadores eram: <i>Pedro Aurélio Persone</i> 
        (pianista e cravista, professor da Universidade de Santa Maria) 
        e <i>Alexandre Reche</i> (professor de composição da UFRN).
    </p>
    
    
    
<span class="page-number">292 </span>
</div>
