<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        <i>Oliveira</i>, do 
        Campus Jaboatão, ao Campus Belo Jardim, para uma conversa 
        informal sobre o que os docentes e discentes podiam esperar.
    </p>
    
   <center>
       <img class=" zoom-this" src="pics/vismec/vismec_06.png" width="175" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
            www.jaboatao.pe.gov.br › Página Inicial › Notícias - página da internet retirada em 21/06/2015, às 10:00
        </label>
    </div>
    
    
<span class="page-number">291 </span>
</div>
