<div class="book-content" id="justificado">
    
    <p class="no-indent">
        concursos para 
        professor substituto de violão e, para a
        surpresa de todos, em nenhum dos dois houve classificados. 
        Somente no final de 2013, com a chegada do professor <i>César 
        Berton</i>, o problema foi sanado.
    </p>
    
    <img class="left-pic zoom-this" src="pics/ano2012/ano2012_03.jpg" width="300" height="345">
    <div id="credito-img"> <br /><br /><br />Anderson Mariano - acervo de Anderson  </div>
    
    <br />
    <br />
    <br />
    
    <div id="credito-img"> <br /><br /><br />Ronaldo França - acervo de Ronaldo  </div>
    
<span class="page-number">48</span>
</div>
