<div class="book-content" id="justificado">
    
    <center>
        <h3>2013/2014</h3>
        <br />
        <h3><u>(Pronatec e Renafor)</u></h3>
    </center>
    
    <p>
        O Pronatec é um curso de extensão oferecido anualmente aos 
        interessados em adquirir maior experiência em determinado 
        assunto. Nos anos de 2013/2014, foram oferecidos os cursos de 
        Regência de Banda e Regência de Coro.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_23.png" width="300" height="186" />
    </center>
    <div id="credito-img" > 
        <label>
           Encerramento do Pronatec, com Robson e Rejane, em dezembro de 
           2013 - acervo site do IFPE
 
        </label>
    </div>
<span class="page-number">176 </span>
</div>
