<div class="book-content" id="justificado">
    
    <p class="no-indent">
        das atividades do PROEXT-MEC, 
        expandindo-se para os eventos da Semana da Música. Com ajuda do 
        professor <i>Jaildo Gurgel</i>, coordenador do PROEXT-MEC 
        (2012-2013), ocorreram apresentações como a dos bacamarteiros, de 
        seu João do Pife e a visita dos Violeiros. Os dois primeiros 
        tocaram em cortejo pelo Campus do IFPE em Belo Jardim, reunindo 
        um bom número de pessoas, entre alunos, professores e comunidade 
        externa.
    </p>
    
    <iframe width="370" height="205" src="https://www.youtube.com/embed/GSwsSQxVetU" frameborder="0" ></iframe>
    <div id="credito-img"> 
       acervo <a href="http://map-mundosmusicais.blogspot.com.br/p/videos.html">map-mundosmusicais</a>
    </div>
    
<span class="page-number">113 </span>
</div>
