<div class="book-content" id="justificado">
    
    <h2><u>Palestra sobre Música na Escola – Robson Ribeiro (2013)</u></h2>
    
    <p>
        A pedido da docente <i>Jéssica Sabrina</i> (coordenadora de 
        Pesquisa e Extensão no ano de 2013), o professor <i>Robson 
        Ribeiro</i> foi convidado para ministrar uma palestra na 
        caravana de extensão: “A música na escola”. O professor realizou 
        uma explanação abordando as dificuldades que a atividade implica 
        e as possibilidades de transformação na inserção da música nas 
        salas de aulas.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_16.png" width="264" height="190" />
    </center>
    <div id="credito-img" > 
        <label>
           Jéssica Sabrina - acervo Jéssica
        </label>
    </div>
    
<span class="page-number">166 </span>
</div>
