<div class="book-content" id="justificado">
    
    <h2><u>Sesc e demais localidades na Semana da Música</u></h2>
    
    <p>
        Outras apresentações também eram realizadas em Belo Jardim, porém 
        em outras localidades, como as ocorridas no Sesc. Os alunos de Canto 
        foram convidados a participar deste evento que ocorreu no  
        Sesc Ler de Belo Jardim.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_30.png" width="360" height="210" />
    </center>
    <div id="credito-img" > 
        Alunos e professoras participando da Semana da Música no Sesc - acervo Joermison Melo
        <br />
        Sesc Belo Jardim - acervo Gilmara Sousa
    </div>
    
<span class="page-number">143 </span>
</div>
