<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_01.png" width="160" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Robson Ribeiro - acervo Cleacy Ribeiro 
        </label>
    </div>
    <br />
    
    <br />
    <h2>*<u>Junho</u></h2>
    <br />
    
    <h2><u>Apresentação de trabalhos na ABEM</u></h2>
    
    <p>
        O X Encontro Regional Nordeste da ABEM foi a primeira 
        participação da Licenciatura de Belo Jardim em um congresso. O 
        evento ocorreu em 2011, onde foi apresentado o trabalho 
        intitulado "Licenciatura em <a class="fim">_____________________</a>
    </p>
    
    
<span class="page-number">205 </span>
</div>
