<div class="book-content" id="justificado">
    
    <iframe width="370" height="205" src="https://www.youtube.com/embed/OzOLczms-IU" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Apresentação de Seminários Temáticos - acervo Maelda Lacerda
    </div>
    
     <center>
       <img class=" zoom-this" src="pics/ano2015/ano2015_08.png" width="360" height="220" />
    </center>
    <div id="credito-img" > 
        Maelda Lacerda – acervo Maelda
    </div>
    
<span class="page-number">101 </span>
</div>
