<div class="book-content" id="justificado">
    
    <h2><u>PROEXT/MEC – Mundos Musicais do Agreste – Robson Ribeiro e Jaildo Gurgel (2012-2013)</u></h2>
    
    <p>
        No final do ano de 2011 o professor <i>Robson Ribeiro</i> 
        elaborou um projeto de extensão que visava mapear os grupos 
        musicais do Agreste pernambucano e viria a ser realizado no 
        período de julho de 2012 a outubro de 2013.
    </p>
    
    <p>
        O docente <i>Jaildo Gurgel</i> encarregou-se da tarefa de 
        coordenar o projeto, que recebeu o nome de “Mundos Musicais do 
        Agreste Pernambucano”. Entre as localidades que fizeram parte do 
        projeto estavam: 1.Tacaimbó - com as cantorias (duplas de 
        violeiros) e os cantos de sentinelas/incelenças; 2.Belo Jardim - 
        com dona Alice (cantora de dramas); 3.Aboiadores de Xucuru 
        (sítio Palhas) - com o Coco Raiz; 4.Santa Luzia (Volta do Rio) e 
        os Bacamarteiros de Sta. Luzia; 5.Caruaru - seu João do Pife; 
        banda de pífanos “Zé do Estado”.
    </p>
    
<span class="page-number">167 </span>
</div>
