<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_37.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
           Capa do livro    
           <br />
           Gilmara e Katarina - acervo Katarina 
           <br />
           Ana Paula Sá - acervo Ana
           <br />
           Wilson Braz - acervo Wilson
        </label>
    </div>
    
    
<span class="page-number">203 </span>
</div>
