<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_30.png" width="360" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Fotos do CEAPES, com Rejane Campelo e Marcos Gondim
           <br />
           Apresentação do trabalho do CEAPES com Marcos Gondim - acervo Marcos Gondim
        </label>
    </div>
    
<span class="page-number">189 </span>
</div>
