<div class="book-content" id="justificado">
    
    <center><h3><u>Colegiado do Curso</u></h3></center>
    
    <p>
        Um dos grupos que alicerçam um curso superior é o Colegiado do 
        Curso, onde todos os membros da Licenciatura devem estar 
        envolvidos. São muitas as atribuições do Colegiado, entre elas: 
        analisar e validar o Projeto Pedagógico do Curso (PPC), 
        acompanhar a execução didático-pedagógica do Projeto Pedagógico 
        do Curso, propor oferta de turmas, aumento ou redução do número 
        de vagas, pensar nas modificações que devem ocorrer no Projeto 
        Pedagógico do Curso e nos Programas dos Componentes Curriculares, 
        entre inúmeras outras deliberações. 
    </p>
    
    <p>
        Muitas das demandas votadas pelo Colegiado do Curso são pensadas 
        pelo NDE<sup>5</sup>, mas as decisões devem ser tomadas pelo grande grupo.
    </p>
    
    <br />
    <br />
    
    <div id="dic">
        <hr />
        <label>
             <sup>5</sup> NDE-Núcleo Docente Estruturante do Curso.
        </label>
    </div>
    
<span class="page-number">257 </span>
</div>
