<div class="book-content" id="justificado">
    
    <h1>Ano de 2014</h1>
    
    <p>
        O Curso de Música recebeu a <i>Uni Jazz Orchester</i> da 
        Alemanha, que realizou um Workshop de “Prática de Ensaio de Banda”. 
        Após o curso, foi realizado um Concerto no Auditório do IFPE.
    </p>
    
    <img class=" zoom-this" src="pics/ano2014/ano2014_001.png" width="300" height="250" />
    <div id="credito-img" > 
        Plateia assistindo a Uni Jazz Orchester da Alemanha no Auditório – acervo Internet
    </div>
    
<span class="page-number">73</span>
</div>
