<div class="book-content">
<div id="justificado">
    <p class="no-indent">
     Campus Belo Jardim. Foi graças aos
    esforços do professor <i>Mozart Vieira</i>, naquela época funcionário da antiga
    Escola Agrícola, que o curso de Música foi criado, atendendo a um desejo da
    cidade de possuir uma Licenciatura em Música.
  </p>
  <p>
    Assim começa a nossa história.
  </p>
  
<img class="left-pic zoom-this" src="pics/ano2010/aCidade01.jpg" width="375" height="240" />
<div id="credito-img" > Acervo - <a href="http://www.google.com.br">Google</a> </div>

</div> </div>
<span class="page-number">14</span>
