<div class="book-content" id="justificado">
    
   <center>
       <img class=" zoom-this" src="pics/semana/semana_26.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        Carlos Silva – acervo Carlos 
    </div>
    
    <br />
    
    <h2><u>Oficinas de Música</u></h2>
    
    <p>
        As oficinas de música da professora <i>Rejane Campelo</i> em 2014 
        foram sobre “Corpo Musical”, com uma abordagem de Dalcroze, 
        “Oficinas de Música” na ótica de <i>Murray Schafer</i>, e o 
        “Passo”, de Lucas Ciavatta.    
    </p>
    
<span class="page-number">137 </span>
</div>
