<div class="book-content" id="justificado">
    
    <iframe width="360" height="230" src="https://www.youtube.com/embed/W_NR8_SsAko" frameborder="0" ></iframe>
    
    <p>
        Em 2012 a banda não saiu, porém a partir de 2013 a mesma tem 
        saído todos os anos, unindo esforços dos professores e 
        <i>Marinaldo Lourenço</i> e dos discentes <i>Austrigésilo Souza 
        e Marcílio Duarte</i>. 
    </p>
    
    <p>
        Em 2013 a Marching Band apresentou o seguinte repertório: A 
        Batalha do Tuiuti e um repertório de canções populares, além dos 
        hinos classicamente solicitados, como o Hino Nacional.
    </p>
<span class="page-number">244 </span>
</div>
