<div class="book-content" id="justificado">
    
    <h2><u>Coro de extensão</u></h2>
    
    <p>
        Neste mesmo ano, o professor <i>Robson Ribeiro</i> também realizou 
        uma apresentação com o coro dos discentes do curso e alunos da 
        extensão.
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/semana/semana_02.png" width="360" height="300" />
    </center>
    <div id="credito-img" > 
        Dia da Cultura: Coral de Extensão do professor Robson-Acervo Thiago Gregorio.
    </div>
    
<span class="page-number">107 </span>
</div>
