<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_06.png" width="360" height="325" />
    </center>
    <div id="credito-img">
        <label>
           Luciene Venâncio da Silva
           <br />
</label>
    </div>
    
     <div id="credito-img-l">
        <label>
           Auciran Roque da Silva
           <br />
           Jamires Pereira da Silva
           <br />
</label>
    </div>
    
    
    
<span class="page-number"> 338 </span>
</div>
