<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_19.png" width="360" height="420" />
    </center>
    <div id="credito-img" > 
        <label>
           Museu do Barro, em Caruaru - acervo no site do Museu <br />
           Anderson Silva - acervo Anderson <br />
           Leonardo Araujo - acervo Leonardo 
        </label>
    </div>
    
<span class="page-number">172 </span>
</div>
