<div class="book-content" id="justificado">
    
     <p>
         Como solistas, tivemos a participação da professora 
         <i>Katarina Meneses</i> e do aluno <i>Adjair Cavalcante</i>, 
         também contando com a participação do professor <i>Evandro 
         Sampaio</i>, que participou cantando juntamente com os tenores.
    </p>
    
    <p>
        Para abrilhantar o Fórum, inúmeras atividades artísticas 
        fizeram parte do evento: corais, grupos de teatro, entre outros 
        espetáculos. O Campus Belo Jardim foi representado pela Missa de 
        <i>Clóvis Pereira</i>, com arranjos de <i>Carlos Silva</i>, e a 
        Orquestra de Frevo, conduzida pelo professor <i>Evandro Sampaio</i>.
    </p>
    
    <p>
        A Missa foi ovacionada pela plateia que havia se instalado no 
        Teatro Guararapes naquela tarde. Ao final, o grupo reapresentou 
        o Kyrie (a primeira peça da Missa). Nos bastidores ajudando-lhes, 
        os professores e alunos contaram com a presença alegre da 
        docente <i>Andreza Cordeiro</i>.
    </p>
    
<span class="page-number">237 </span>
</div>
