<div class="book-content" id="justificado">
    
    <h1>Os Imprescindíveis</h1>
    
    <p>
        Em uma história com tantos personagens, é provável que tenhamos 
        esquecido alguém. Porém, para evitar esta falha, queremos aqui 
        nos desculpar por algum esquecimento e agradecer a todos que 
        direta ou indiretamente fizeram e fazem parte desta história que 
        é recontada a cada dia.
    </p>
    
    <p>
        Neste capítulo, colocamos cinco personagens que foram 
        imprescindíveis para que o Curso de Música exista no IFPE Belo 
        Jardim.
    </p>
    
    <p>
        Nossos agradecimentos ao antigo diretor <i>Francisco Henrique 
        Duarte Filho</i>, que somado aos esforços do professor <i>Mozart 
        Vieira</i> conseguiu mostrar junto ao MEC a importância de um 
        Curso de Música para esta região e trazer a Licenciatura em 
        Música para a cidade de Belo Jardim.
    </p>
    
<span class="page-number"> 323 </span>
</div>
