<div class="book-content" id="justificado">
    
    <h2><u>PROEXT-MEC</u></h2>
    <iframe width="370" height="190" src="https://www.youtube.com/embed/aYDuyfXKrDE" frameborder="0" ></iframe>
    <div id="credito-img"> 
        João do Pife PROEXT-MEC - acervo Jaildo Gurgel
    </div>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_09.png" width="360" height="190" />
    </center>
    
    <div id="credito-img" > 
        PROEXT-MEC na Semana da Música: Bacamarteiros (foto 1),
        Sr. João do Pife (foto 2) - acervo Jaildo Gurgel
    </div>
    
<span class="page-number">115 </span>
</div>
