<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_22.png" width="360" height="300" />
    </center>
    <div id="credito-img" > 
        Eddie Murphy, Robson Cavalcante, André Phanfãs, Jeminis Silva, Thiago Gregorio, Vanessa Oliveira, Maéve Oliveira, Katarina Meneses e Eduardo Albuquerque com o violão (foto 1). Katarina Meneses (foto 2) - acervo Flávio Lima 
    </div>
    <br />
    <br />
    
    
    
<span class="page-number">131 </span>
</div>
