<div class="book-content" id="justificado">
    
    <p class="no-indent">
        e <i> Rafaela 
        Albuquerque</i>, realizando algumas visitas chamadas pela 
        Reitoria de “Preventivas”. Estas reuniões tinham o caráter de 
        ajudar a nortear os documentos que seriam exigidos pelo MEC e o 
        trâmite do que seria cobrado pelos avaliadores. A última visita 
        “Preventiva” aconteceu em 15/07/2014, na Casa da Música.
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/vismec/vismec_05.png" width="270" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Edlamar Santos e Rafaela Albuquerque - acervo Edlamar Santos
        </label>
    </div>
    
    <p>
        Outras medidas foram tomadas para prevenir o que seria a visita 
        do MEC, entre elas a ida do professor <i>Iran </i>
        <a class="fim"> __________________________________________ </a>
    </p>
    
   
<span class="page-number">290 </span>
</div>
