<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/biblioteca/biblioteca_05.png" width="360" height="275" />
    </center>
    <div id="credito-img" > 
        <label>
           Folder da biblioteca
        </label>
    </div>
    
   
    
<span class="page-number">275 </span>
</div>
