<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/biblioteca/biblioteca_03.png" width="270" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Acervo - <a href="https://pt.foursquare.com/v/biblioteca-professor-elny-sampaio--ifpe-campus-belo-jardim/5061f4dce4b096c1abb90773" target="_blank">Foursquare Biblioteca</a>
        </label>
    </div>
    
    <br />
    <h2><u>Semana da Biblioteca em 2013</u></h2>
    
    <p>
        Em novembro deste ano, paralelo à Semana de Música que acontecia 
        no Campus, os funcionários da biblioteca criaram a Semana da 
        Biblioteca. O evento foi realizado em dois dias, começando com 
        um café literário, concomitantemente com a fala da professora 
        <i>Jéssica Sabrina</i> sobre o ato de ler. Durante os dois dias, 
        na biblioteca, aconteceram palestras, poesias, 
        <a class="fim">____________________________________________</a>
    </p>
    
    
<span class="page-number">273 </span>
</div>
