<div class="book-content">
<div id="justificado">
    
<p class="no-indent">
docentes se dividiam, dando 
aulas de extensão de instrumentos e de canto para justificar, 

naquele momento, a ausência de alunos na Licenciatura.
</p>
<p>
Neste  cenário, os professores, juntamente com a Diretora de Ensino 

<i>Tatiana Valério</i>, passaram a "garimpar" onde seriam oferecidas as aulas de 

extensão e, posteriormente, as aulas para a primeira turma de música em 2011, 

já que não havia salas suficientes no campus. 

 Muitos  memorandos foram elaborados 
 
para solicitar contratação de funcionários, compra de <a class="fim">_______________</a>
<div id="credito-img" > Jaildo Gurgel e Mozart Vieira - acervo dos próprios </div>
<img class="left-pic zoom-this" src="pics/ano2010/oInicio03.png" width="360" height="171">

</p>



</div>
</div>
<span class="page-number">20</span>
