<div class="book-content" id="justificado">
    
    <h3>* <u>Novembro e Dezembro</u></h3>
    
    <h2><u>A Missa Nordestina de Clóvis Pereira</u></h2>
    <br />
    <p>
        Na disciplina de Prática Profissional, ministrada pelo professor 
        <i>Carlos Antônio da Silva</i>, participaram instrumentistas e 
        cantores do curso. No ano de 2014 o docente <i>Carlos</i> 
        resolveu executar a “Missa Nordestina” de <i>Clóvis Pereira</i>. 
        A missa, escrita para cordas, sofreu uma adaptação para os 
        instrumentos de sopro existentes no IFPE. O trabalho realizado 
        pelo professor <i>Carlos</i> teve uma repercussão tão positiva 
        que em novembro de 2014 foi convidado a participar do VI 
        aniversário do IFPE, na Faculdade dos Maristas, em Apipucos - 
        Recife.
    </p>
    
    
    
<span class="page-number">226 </span>
</div>
