<div class="book-content" id="justificado">
    
    <h2><u>Grupo de Canto</u></h2>
    
    <p>
        Fazendo parte das apresentações da Semana da Música de 2013, os 
        alunos de Canto fizeram uma mostra entre o sacro erudito e o 
        sacro popular, cantando em duos, trios, solos, bem como com todo o 
        grupo de cantores.    
    </p>
    
    <center>
        <img class=" zoom-this" src="pics/semana/semana_12.png" width="360" height="250" />
    </center>
    <div id="credito-img" > 
        Semana da Música, grupo de Canto (foto 1) - 
        Katarina Meneses, Rejane Campelo e 
        Vanessa Braga da esquerda para a direita (foto 2) - acervo Thiago Gregorio
    </div>

    
<span class="page-number">118 </span>
</div>
