<div class="book-content" id="justificado">
    
    <p class="no-indent">
        o Coral de Prática Profissional II, que em seu repertório 
        abordava a temática regional, os Virgulados, entre outros grupos 
        do IF.
    </p>
    
    <p>
        Abertura da fala com <i>Rodriggo Leopoldino</i>, preparando o 
        público para os eventos que aconteceriam na biblioteca.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_18.png" width="360" height="250" />
    </center>
    
    <div id="credito-img" > 
         Rodriggo Leopoldino - acervo Flávio Lima
    </div>
<span class="page-number">126 </span>
</div>
