<div class="book-content" id="justificado">
    
    <h2><u>Cênicas e Tortura Nunca Mais</u></h2>
    
    <p>
        O ano de 2014 marca os 50 anos do Golpe Militar de 1964, e para 
        lembrar estes momentos difíceis do país a docente <i>Katarina 
        Meneses</i> realizou um espetáculo intitulado “Tortura Nunca 
        Mais”<sup>*</sup>, onde são narrados alguns fatos marcantes daquela época, 
        juntamente com imagens e textos associados a canções e récitas. 
        
        Foi apresentado no mini-auditório, em formato de ensaio aberto. 
        Além da professora <i>Katarina</i>, ainda participaram: a 
        professora <i>Ana Paula Sá (com as récitas), Elias Nascimento 
        (piano e voz), Gutenberg Alves (piano e voz), Marcos Gondim 
        (violão), Diego Batista (flauta), Austrigésilo Souza (percussão), 
        Thiago Gregório (voz), Erisson Porto (voz), Vanessa Braga (voz)</i>. 
        As imagens e edição ficaram a cargo do aluno <i>Marcílio Duarte</i>, 
        e os textos, bem como a direção geral, ficaram por conta da 
        professora <i>Katarina Meneses</i>, que ministrava a disciplina 
        na época.
    </p>
    
    <div id="dic">
        <label><sup>*</sup> Este material encontra-se na biblioteca.</label>
    </div>
    
<span class="page-number">141 </span>
</div>
