<div class="book-content" id="justificado">
    
    <p class="no-indent">
        em música. 
        O professor <i>Carlos</i> ministrou aulas de 2013 a 2015.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_29.png" width="190" height="185" />
    </center>
    <div id="credito-img" > 
        <label>
           Carlos Silva – Acervo Carlos Silva
        </label>
    </div>
    <br />
    <h2><u>CEAPES e o Coro Infantil – Rejane Campelo (2014-2015)</u></h2>
    
    <p>
        A docente <i>Rejane Campelo</i> elaborou um projeto de Extensão 
        realizado no “CEAPES” – Centro de Apoio a Projetos Especiais. O 
        CEAPS é localizado em uma comunidade carente da Cohab, com 
        crianças e adolescentes que variam entre 8 e 13 anos. Para 
        executar 
    </p>
    
    
<span class="page-number">187 </span>
</div>
