<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        aulas-concertos, 
        saraus, mostra de vídeos, uma inovação completa do pensamento 
        arcaico do que pode ser uma biblioteca. Vários professores e 
        alunos passaram por aquele espaço abrilhantando aquele momento.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/biblioteca/biblioteca_04.png" width="308" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Jéssica Sabrina, Francisco das Chagas, André Gonçalves - Acervo IFPE Belo Jardim
        </label>
    </div>
    
    
    
<span class="page-number">274 </span>
</div>
