<div class="book-content" id="justificado">
    <h2><u>O Livro – Katarina Meneses (2015)</u></h2>
    <p>
        No ano de 2015 a docente <i>Katarina Meneses</i> resolveu 
        escrever sobre as memórias do Curso de Música. <i>Katarina</i> 
        esteve presente na Licenciatura em Música desde o ano de 2010 e 
        sabia das dificuldades da implantação do curso, do passo-a-passo 
        que cada docente havia dado e que, como ela, todos os colegas de 
        trabalho, sem exceção, haviam se empenhado ao máximo para dar 
        conta de todos os encargos que lhes foram oferecidos. Cada um na 
        sua especificidade, além das aulas ministradas e extensão 
        oferecidas, ainda procurava criar espaços para desenvolver a 
        performance dos alunos e, para tal, inúmeras apresentações 
        ocorreram ao longo destes 5 anos (2011- 2015).
    </p>
    
    <p>
        Desde o início do curso até o ano de 2015, os professores 
        juntamente com alunos e Extensionistas já realizaram vários 
        eventos nas cidades de Belo Jardim, de Garanhuns, em Recife, 
        Tacaimbó, São Caetano,  
        <a class="fim"> ____________________________________________ </a>
    </p>
    
    
<span class="page-number">201 </span>
</div>
