<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_11.png" width="315" height="380" />
    </center>
    <div id="credito-img" > 
        <label>
           Cláudio Zerbasy (Violão), Mozart Vieira (Flauta), Tiago Mota (Percussão) 
           <br />
           Júnior Ston, Austrigésilo Souza, Katarina Meneses, Gutenberg Alves e Francisco José (da esquerda para a direita) - acervo Marcos Nascimento
           
           
        </label>
    </div>
    
    
    
    
<span class="page-number">311 </span>
</div>
