
<div class="book-content"id="justificado">
<p>
    Os dois primeiros anos após o início do curso foram 
    de muitas dificuldades, pois a falta de estrutura e de material humano que esclarecesse
    os docentes de todo o processo do Curso e seu encaminhamento eram
    enormes.
</p>

<p>
    A gestão do Campus naquela época (2011 e 2012) se fazia muito
    descomprometida, ou por não saber  
    das peculiaridades de um Curso de
    Música, ou por 
    outro motivo que os professores não sabiam identificar.
    Inúmeras vezes os docentes entregavam documentos, memorandos
    importantes em vários setores cobrando ou solicitando demandas necessárias
    ao curso, e após alguns dias descobriam que os documentos haviam sido
    arquivados antes mesmo de os prazos serem extintos, sem nada ser resolvido;
    outros documentos eram perdidos, enfim, uma falta de compromisso total daquela
    gestão do Campus. Várias vezes os docentes tentaram esclarecer o porquê de
    todo aquele descaso por parte da gestão, porém nenhuma notícia era oferecida.
    Houve momentos em que uma parte da   <a class="fim">___________</a>
</p>
    


</div>
<span class="page-number">29</span>
