<div class="book-content" id="justificado">
    
    <p class="no-indent">
        professor <i>Marinaldo Lourenço</i> resolveu ministrar suas aulas 
        de Prática Profissional na Cantina do IF. Pelo espaço ser aberto, 
        começou a chamar muita atenção dos transeuntes que por ali 
        passavam. Em determinado dia, a ESPN Brasil (canal de televisão de 
        esportes) adentrou o ambiente do IF e observou aquela 
        cena de alunos que assistiam uma aula de Música em um ambiente 
        aberto ao público. O foco do canal de TV naquele 
        <a class="fim">------------------</a>
    </p>
    
    <iframe width="400" height="230" src="https://www.youtube.com/embed/Ca_OWezAN44" frameborder="0" ></iframe>
    <div id="credito-img"> Acervo <a href="https://www.youtube.com/user/thaispf1/featured" target="_blank">Filarmônica São Sebastião</a>  </div>
    
    
<span class="page-number">62</span>
</div>
