<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_09.png" width="360" height="325" />
    </center>
    <div id="credito-img-l">
        <label>
           Joelma Fortunato Alves
           <br />
           Josalice de Lima Araújo 
           <br />
             Leide Freitas
           <br />
           Marcos Germano do Nascimento
            <br />
</label>
    </div>
    
     <div id="credito-img">
        
<label>
           Maria do Socorro Santos
           <br />
           Maria Verônica Marinho 
           <br />
            Amanda Maria Rodrigues
           <br />
</label>
    </div>
    
    
    
<span class="page-number"> 341 </span>
</div>
