<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/vismec/vismec_03.png" width="315" height="375" />
    </center>
    <div id="credito-img" > 
        <label>
            Sala para os professores de música criada na gestão de 
            Chagas - acervo Katarina Meneses
            <br />
            LAPPEM - acervo Katarina Meneses
        </label>
    </div>
    
    
<span class="page-number">287 </span>
</div>
