<div class="book-content" id="justificado">
    
    
    <p>
        Uma pequena homenagem foi realizada pelas professoras 
        <i>Katarina Meneses e Rejane Campelo</i>, com a música “Amigo é 
        Casa”, de <i>Capiba</i> e letra de <i>Hermínio Belo</i>. Ao 
        piano, o professor <i>Deneil Laranjeira</i>, do campus Vitória, 
        e o aluno <i>Austrigésilo Sousa</i>, na percussão.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_08.png" width="315" height="280" />
    </center>
    <div id="credito-img" > 
        <label>
           Austrigésilo Souza (Pandeiro), Deneil Laranjeira (Piano), Katarina Meneses (Voz) e Rejane Campelo (Voz)-Acervo Marcos Nascimento
        </label>
    </div>
  
<span class="page-number">308 </span>
</div>
