<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
         estabeleceram no SOE. No 
        período da tarde, realizaram entrevistas com os alunos, com os 
        professores, e com os membros do NDE. Os professores <i>Pedro e 
        Alexandre</i> valorizaram a assistência estudantil e o 
        Laboratório de Informática, o NDE, além da Biblioteca, que 
        recebeu inúmeros elogios pela organização da mesma e pelo 
        trabalho laborioso do bibliotecário <i>Rodriggo Leopoldino</i>. 
        Estes foram alguns dos pontos importantes que pesaram na nota 
        dos avaliadores. 
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/vismec/vismec_09.png" width="315" height="210" />
    </center>
    <div id="credito-img" > 
        <label>
           Chagas Lopes - acervo Chagas Lopes
           <br />
           Edilene Guimarães - acervo Edilene Guimarães
        </label>
    </div>
    
    
    
<span class="page-number">295 </span>
</div>
