<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        contribuiu da sua forma, 
        participando da instalação da Licenciatura, 
        brigando para implantar o curso ligado às artes, quando a 
        natureza do Campus era agrícola. Graças aos seus esforços, hoje 
        existe a Licenciatura em Música no Campus Belo Jardim. Para 
        tanto, o antigo diretor travou uma batalha 
        contra os que não 
        queriam Música naquele local, e assim os cinco professores 
        puderam tomar posse.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/impres/impres_02.png" width="273" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Mozart Vieira e Geraldo Vieira - acervo Emanuel de Oliveira
        </label>
    </div>
    
    <p>
        Agradecemos também ao professor <i>Romero Araújo </i> 
        <a class="fim"> ___________________________________________ </a>
    </p>
    
    
    
    
<span class="page-number"> 325 </span>
</div>
