<div class="book-content" id="justificado">
    
    <p class="no-indent">à ausência de água e 
        total esquecimento das políticas públicas, tornando-se 
        desagregada e enfraquecida. Estas reflexões iniciais foram 
        trazidas ao projeto do docente e seriam um pontapé inicial 
        oferecido pelo professor, para que por meio da música e da 
        memória da coletividade pudessem unir a comunidade. 
    </p>
    
    <p>
        No ano de 2013 o professor <i>Jandson</i> teve como colaboradora 
        a professora <i>Katarina Meneses</i> e os dicentes <i>Gutenberg 
        Alves e Júnior Ston</i>.
    </p>
    
    <p>
        Foram realizadas gravações e entrevistas com os mais velhos 
        sobre o que resistia na memória deles. Os alunos do IFPE 
        participaram ativamente, tocando e cantando com a comunidade. 
        No meio do ano de 2013, outros discentes agregaram-se a 
        <i>Júnior</i> e <i>Gutenberg</i>, eram: <i>Johnny Cardoso, 
        Salatiel, Lilian Danila, Ruy Victor e Wesley Santos</i>.
    </p>
    
    <p>
        No ano de 2014 o projeto continuou, porém com a cooperação da 
        professora <i>Rejane Campelo</i> e os <a class="fim">________</a>
        
    </p>
    
    
<span class="page-number">183 </span>
</div>
