<div class="book-content" id="justificado">
    
    <h3>* <u>Maio</u></h3>
    
    <h2><u>Coro de trombones no refeitório</u></h2>
    
    <p>
          No aniversário da escola, que acontece no dia 5 de 
          Maio, o docente <i>Marinaldo Lourenço</i> realizou uma 
          apresentação com o Coro de Trombones. A 
          apresentação aconteceu no refeitório da escola, tendo 
          como repertório “O que é o que é”, de Gonzaguinha, 
          “Andar com Fé”, de Gil e “Flor de Liz”, de Djavan, 
          realizando, assim, um almoço musical.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_12.png" width="160" height="180" />
    </center>
    <div id="credito-img" > 
        <label>
           Marinaldo Lourenço - acervo Marinaldo
        </label>
    </div>
    <br />
<span class="page-number">222 </span>
</div>
