<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        este projeto, <i>Rejane</i> obteve no ano de 2014 o 
        apoio do aluno de extensão <i>Marcos Gondim</i>, que ministrava 
        aulas de Violão para o grupo de crianças, enquanto a docente 
        ministrava atividades ligadas ao ensino da música e à formação 
        de um coro.
    </p>
    
    <p>
        O trabalho realizado no CEAPES incluía um repertório com novos 
        estilos musicais e canções ainda desconhecidas pelas crianças. 
        <i>Rejane e Marcos</i> executaram um trabalho laborioso levando 
        arte àquela comunidade que ainda não havia tido oportunidade de 
        ouvir e ver tudo o que os docentes lhes falavam. 
    </p>
    
    <p>
        A atividade foi realizada durante todo o ano de 2013, tendo no 
        seu término uma pequena apresentação entre os próprios alunos, 
        o repertório constava de: 
        <i>Meninos</i> (Xangai); 
        <i>Sol, Lua, Estrela; Criança Não Trabalha </i>(Palavra Cantada); 
        <i>Meu Anel </i>(Márcio Coelho); 
        <i>O Palhaço e a Bailarina </i>(Cecília Cavalieri); 
        <i>Canto do Povo de Algum Lugar </i>(Caetano Veloso) 
        e, por fim, 
        <i>Crepúsculo Sertanejo </i>(Luiz Gonzaga).
    </p>
    
<span class="page-number">188 </span>
</div>
