<div class="book-content">
<div id="justificado">
<p >
 A aula  inaugural foi realizada com docentes e discentes, dando por iniciada a primeira turma da Licenciatura em Música Popular do IFPE.
</p>

<img class="left-pic zoom-this" src="pics/ano2010/oInicio033.jpg" width="360" height="271">

</div>
</div>
<span class="page-number">23</span>
