<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        possuía apenas uma 
        TAE (Técnica em Assuntos Educacionais), <i>Fernanda Lopes</i>, 
        que, desejosa por trabalho, ajudou muito na preparação dos 
        documentos e tramitação do que seria necessário para a visita 
        dos avaliadores. <i>Fernanda Lopes</i> foi um braço forte nesta 
        preparação de documentos para o MEC, preenchimento de vários 
        formulários e recepção dos avaliadores.
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/vismec/vismec_04.png" width="180" height="180" />
    </center>
    <div id="credito-img" > 
        <label>
            Fernanda Lopes - acervo Fernanda
        </label>
    </div>
    
    <p>
        As duas pessoas vindas da Reitoria que muito ajudaram 
        o curso de música foram <i>Edlamar Santos</i> 
        <a class="fim"> ____________________________________ </a>
    </p>
    
<span class="page-number">289 </span>
</div>
