<div class="book-content" id="justificado">
    
    <p>
        Em uma viagem técnica proporcionada durante a disciplina, no ano 
        de 2014, o grupo foi à Livraria Cultura observar os mecanismos 
        de inserção e venda do produto CD na Livraria, verificar o local 
        de apresentação e como era possível acessar aquele espaço, além 
        de realizar uma reunião com um representante comercial da Livraria, Cultura. 
        Outro aspecto investigado pela turma de Produção foi observar o Show do aluno 
        <i>Pierre Tenório</i>, não na ótica da técnica, mas no olhar da 
        produção - entre vários elementos, o que podia ser melhorado.
    </p>
    
    <img class=" zoom-this" src="pics/ano2014/ano2014_04.png" width="370" height="180" />
    <div id="credito-img" > 
        Livraria Cultura - Pierre Tenório e os Virgulados - acervo de Pierre Tenório
    </div>
    
<span class="page-number">80</span>
</div>
