<div class="book-content" id="justificado">
    
    <p>
        De 2013 a 2015 o projeto de <i>Evandro</i> continuou, e ao final do ano de 2015, 
        uma mostra do trabalho foi apresentada em parceria com o Sesc, no 
        projeto Ciclo de Câmara daquela instituição. O repertório era 
        voltado para o frevo: Lucinha no frevo.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_07.png" width="360" height="290" />
    </center>
    <div id="credito-img" > 
        <label>
            Participação na II e III mostra de Extensão do IFPE - acervo Evandro Sampaio.
        </label>
    </div>
    
<span class="page-number">155 </span>
</div>
