<div class="book-content" id="justificado">
    
    <img class="left-pic zoom-this" src="pics/ano2011/ano2011_09.jpg" width="400" height="420">
    <div id="credito-img"> Foto 1 - acervo de Gilmara Sousa. Foto 2 - acervo Joermison Melo  </div>
    
    
<span class="page-number">42</span>
</div>
