<div class="book-content" id="justificado">
    
    <center><h3><u> Eventos - 2014</u></h3></center>
    
    <br />
    
    <h2>* <u>Abril</u></h2>
    
    <br />
    
    <p>
        Em abril de 2014, o PROEXT/MEC, coordenado pelo professor <i>Jaildo Gurgel</i>,
        promoveu a vinda do grupo francês “La Talvera”, ligado à Associação Cordae/La 
        Talvera, que investiga, documenta e divulga o patrimônio cultural Occitan<sup>4</sup>, predominante na região 
        Midi-Pyrénées, no sul da França. 
    </p>
    
    <p>
        Como mostra e intercâmbio da cultura dos dois 
        países (Brasil e França), houve uma apresentação 
        realizada no auditório da escola, iniciada pelos alunos e 
        
    </p>
    
    <div id="dic">
        <hr />
        <label>
              <sup>4</sup>
              A Occitan diz respeito ao povo e a uma determinada região da França, e reúne expressões culturais desde a Idade Média, tais como um idioma próprio, culinária, dança, música, contos e poesia etc. O respectivo grupo é responsável pela investigação e divulgação da música Occitan mundo afora. (Texto fornecido por Jaildo Gurgel)
        </label>
    </div>
    
<span class="page-number">219 </span>
</div>
