<div class="book-content" id="justificado">
    
     <center>
       <img class=" zoom-this" src="pics/eventos/eventos_20.png" width="360" height="375" />
    </center>
    <div id="credito-img" > 
        <label>
           Imagem do Sesc
           <br />
           Apresentação da docente Bernardina Araújo 
           e
           Katarina Meneses - acervo Katarina Meneses
        </label>
    </div>
    <br />
    
<span class="page-number">232 </span>
</div>
