<div class="book-content" id="justificado">
    <p class="no-indent">
            Essa formação permaneceu ao 
            longo do ano, e posteriormente o docente realizou uma apresentação com algumas das peças 
            ensaiadas para o quinteto.
    </p>

    <br />
    <h3> * Junho</h3>
    
    <h2><u> O Inglês e a Música </u></h2>
    
    <p>
        O professor de Inglês <i>Hudson Marques</i>, no início do Curso de 
        Música, ministrava aulas de Inglês Instrumental para a primeira 
        turma, e como <a class="fim">________________</a>
    </p>
    
    <img class="left-pic zoom-this" src="pics/ano2011/ano2011_02.jpg" width="200" height="140">
    <div id="credito-img"> Professor Hudson Marques - acervo do próprio docente  </div>

<span class="page-number">33</span>
</div>
