<div class="book-content" id="justificado">
    
    <img class="left-pic zoom-this" src="pics/ano2011/ano2011_07.jpg" width="400" height="380">
    <div id="credito-img"> Folder do Evento, elaborado por Adjair Cavalcante e Gilmara Sousa  </div>
    
    
<span class="page-number">40</span>
</div>
