<div class="book-content">
<div id="justificado">


<img class="left-pic zoom-this" src="pics/ano2010/oInicio04.jpg" width="355" height="181">
<div id="credito-img" > 
    
    Tatiana Valério e Rosa Vasconcelos - acervo das próprias </div>
<p >
Outra demanda nesta mesma época foi o processo de vestibular. Várias

reuniões aconteceram para a confecção deste primeiro edital e a elaboração 

das provas para este concurso. A equipe de professores também precisava 

de um coordenador que os representasse diante da Proden, entre outras 

coisas, e assim votaram no professor <i>Robson Ribeiro</i>, que prontamente 

assumiu a Coordenação do Curso. Inúmeras reuniões foram realizadas para a 

elaboração do PPC que nortearia o Curso. Paralelo a isto, os 
 <a class="fim">___________________</a>

</p>


</div></div>
<span class="page-number">19</span>
