<div class="table-contents">
    <h1>Sumário</h1>
    <ul>
        <li><a href="#page/13">A Cidade e o Curso de Música<span>13</span></a></li>
        <li><a href="#page/15">O Início<span>15</span></a></li>
        <li><a href="#page/22">A Aula Inaugural<span>22</span></a></li>
        <li><a href="#page/24">Construção do Curso de Música <span>24</span></a></li>
        <li><a href="#page/32">Ano de 2011 <span>32</span></a></li>
        <li><a href="#page/43">Ano de 2012 <span>43</span></a></li>
        <li><a href="#page/57">Ano de 2013  <span>57</span></a></li>
        <li><a href="#page/73">Ano de 2014 <span>73</span></a></li>
        <li><a href="#page/92">Ano de 2015 <span>92</span></a></li>
        <li><a href="#page/104">Semana da Música <span>104</span></a></li>
        <li><a href="#page/144">Pesquisa e Extensão <span>144</span></a></li>
        <li><a href="#page/204">Eventos<span>204</span></a></li>
        <li><a href="#page/242">Big Band e Marching Band<span>242</span></a></li>
        
    </ul>
</div>
<span class="page-number">11</span>
