<div class="book-content" id="justificado">
    
    <p class="no-indent">
        Pau de Arara e Crepúsculo Sertanejo, entre outras. Os alunos 
        apresentaram-se numa terça-feira, cantando e tocando sob a 
        regência do professor <i>Evandro Sampaio</i>, que conduziu o 
        grupo neste evento.
    </p>
    
    <p>
        O professor <i>Evandro Sampaio</i> foi incumbido da árdua tarefa 
        de levar o grupo a Florianópolis (onde seria realizado o Fórum) 
        e ser responsável pelas apresentações, ensaios, bem como a 
        unicidade do grupo.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_03.png" width="360" height="190" />
    </center>
    <div id="credito-img" > 
        <label>
           acervo Evandro Sampaio
        </label>
    </div>
    <br />
    
<span class="page-number">209 </span>
</div>
