<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/ano2015/ano2015_04.png" width="360" height="325" />
    </center>
    <div id="credito-img" > 
        Claudio Zebarsy no  papel de Noel Rosa e Ivanar Nunes no papel de Wilson Batista - acervo dos mesmos.
    </div>
    
    <br />
    <br />
    <br />
    <br />
    <br />
    
    <div id="dic">
        * Este material encontra-se na biblioteca.
    </div>
<span class="page-number">96</span>
</div>

