<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_11.png" width="360" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
            Folder da apresentação na Igreja do Carmo em Olinda
        </label>
    </div>
    
    <p>
        A partir de 2014, o professor <i>Robson Ribeiro</i> resolveu 
        modificar o nome do grupo, intitulando-o de "Coro Comunitário". 
        Os bolsistas deste ano foram <i>Joermison Melo (Técnica Vocal) 
        e Lucas Monteiro (Piano)</i>. Ao longo deste ano, os três - 
        <i>Robson</i>, e os discentes <i>Lucas e Joermison</i> -
        trabalharam intensamente <a class="fim">________________________</a>
    </p>
<span class="page-number">160 </span>
</div>
