<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/ano2015/ano2015_06.png" width="360" height="325" />
    </center>
    <div id="credito-img" > 
       
    </div>
    
    <br />
    <br />
    <br />    
    <br />
    <br />
    
    
<span class="page-number">98</span>
</div>
