<div class="book-content" id="justificado">
    
    <center>
        <h3><u> Eventos - 2012</u></h3>
    </center>
    <br />
    <h2>* <u>Maio</u></h2>
    <br />
    <h2><u>ELIFPE – Encontro das Licenciaturas do IFPE</u></h2>
    
    <p>
        Os professores <i>Evandro Sampaio, Frederico Andrade, Flávio 
        Lima, Jaildo Gurgel, Katarina Meneses, Mozart Vieira, Robson 
        Ribeiro</i> participaram, no mês de maio, do Encontro das 
        Licenciaturas realizado pelo IFPE no auditório do Campus Recife, 
        onde tiveram a oportunidade de conhecer a realidade dos outros 
        campi.
    </p>
    <br />
    <h2><u>II Forum Mundial de Educação Profissional e Tecnológica</u></h2>
<span class="page-number">207 </span>
</div>
