
<div class="book-content" id="justificado">
<div id="letras">
<i>
<p class="no-indent">

     que já vinha sendo 
    desenvolvido contemporaneamente no IFPE Campus Belo Jardim, na área da Música e 
    das Artes. Antes do início do curso em 2010, eram oferecidas oficinas de Violão, 
    Flauta transversal, Saxofone, Canto popular, Banda de música, Prática de 

    conjunto e Percussão, idealizados pelo professor de Arte com ênfase em 

    Música da Instituição, Maestro Mozart Vieira.  Além do professor, vários 

    profissionais colaboraram com o desenvolvimento do trabalho nas oficinas 

    direcionadas à comunidade interna e externa da Instituição.

</p>

<p>
    Assim, o curso de Licenciatura em Música nasce da confluência de
    vários fatores: a vocação do povo da região para a música, as atividades
    artísticas já realizadas na instituição, a demanda local por formação superior na
    área e, por fim, mas não menos importante, a visão e o empreendedorismo do
    Maestro Mozart Vieira para viabilizar ações em prol da concretização do curso.
    O último capítulo que constitui a história da criação do curso de Graduação em
    Música no IFPE
    
    <!-- Final da Página --> <a style="visibility:hidden"> ___________________________ </a> <!-- FIM -->
</p></i>
</div></div>
<span class="page-number">25</span>
