<div class="book-content" id="justificado">
    
    <h3><u>O Domitório</u></h3>
    
    <p>
        O curso de música abriga alunos de diversas cidades vizinhas, e 
        o ato de ir e vir para casa torna-se difícil, à medida que os 
        quilômetros se avolumam. O campus Belo Jardim oferece a 
        possibilidade de abrigo aos discentes em dormitórios 
        compartilhados: femininos e masculinos. Os dormitórios 
        viabilizam aos menos afortunados realizarem seus estudos sem se 
        preocuparem com os custos de uma moradia na cidade. Muitos 
        alunos já foram e são diariamente abonados com este benefício.
    </p>
    
    <p>
        Porém, muitas vezes este ambiente se torna hostil, por abrigar 
        as diversas mentes, com seus problemas, solidões e antagonismos, 
        gerando discórdias e guerras frias no mesmo espaço. Alguns 
        acreditam que é necessária uma avaliação mais ampla para 
        entender o que se passa naquele reduto de descanso. 
    </p>
    
    <p>
        Os dormitórios possuem um público variado de 
        <a class="fim">__________________________</a>
    </p>
    

<span class="page-number">253 </span>
</div>
