<div class="book-content" id="justificado">
    
    <h3>*   Outubro</h3>
    
    <h2><u> Expressão Cênica </u></h2>
    
    <p>
        A disciplina Expressão Cênica faz parte do curso de Canto e tem 
        por objetivo promover a atuação cênica do cantor por meio de 
        exercícios específicos voltados à cena, valorizando, assim, a 
        descoberta do corpo como elemento necessário para uma excelente 
        performance vocal. 
    </p>
    <img class="left-pic zoom-this" src="pics/ano2013/ano2013_08.jpg" width="310" height="210">
    <div id="credito-img"> <br  /><br  /><br  />Aula de Cênicas no Auditório - acervo de Katarina Meneses    </div>
    
<span class="page-number">65</span>
</div>
