<div class="book-content" id="justificado">
    
    <h1>A Visita do MEC</h1>
    
    <center><h3>2014</h3></center>
    
    <p>
        Por que a visita do MEC é importante?
    </p>
    
    <p>
        O MEC<sup>8</sup>  é um órgão que legitima e garante o 
        funcionamento da Educação no Brasil e, como tal, é também o 
        responsável pela investigação dos Cursos Superiores, garantindo 
        um bom funcionamento destes. 
    </p>
    
    <p>
        Para que um curso superior se estabeleça no país é necessária a 
        aprovação do MEC com no mínimo conceito 3,0 (três), sendo 5,0 
        (cinco) a pontuação máxima dos avaliadores deste órgão, onde os 
        critérios 
    </p>
    
    
    <div id="dic">
        <hr />
        <label>
            <sup>8</sup>   O  MEC- Ministério da Educação e Cultura - 
            é um órgão do Governo Federal do Brasil, fundado no decreto 
            n.º 19.402, em 14 de novembro de 1930, com o nome de 
            Ministério dos Negócios da Educação e Saúde Pública, pelo 
            então presidente Getúlio Vargas, e era encarregado pelo 
            estudo e despacho de todos os assuntos relativos ao ensino. 
            Retirado de: http://pt.wikipedia.org/wiki/Ministério_da_Educação_(Brasil) em 21/06/2015 às 7:49 
        </label>
    </div>
    
    
<span class="page-number">282 </span>
</div>
