<div class="book-content">
<div id="justificado">

<p class="no-indent">
    
    
     havia lecionado em uma faculdade e nem em um curso 

    em que eles próprios seriam os estruturadores, 

     executando todas as tarefas. 

    Os dias se passavam e a cada nova semana o volume de trabalho tendia a 

    aumentar, eram ementas e planos de curso que os docentes deveriam 

    elaborar, entre outras atividades. As pessoas do campus pareciam estranhas e 

    questionadoras sobre aquela nova Licenciatura em Música, que havia sido 

    implantada em uma Escola Agrícola. Quase “Estranhos no Ninho”.
</p>

<p>
    O curso de música, naquela época, não possuía 

    nada: não havia o

    espaço físico das salas para que 

    fossem ministradas as aulas, não havia sala 

    de professores, nem arquivos, nem equipe que secretariasse o curso, imagine 

    uma coordenação de música? Na verdade a única coisa com que os docentes 

    podiam contar era com a vontade de querer fazer, a vontade de que aquele 

    curso desse certo, e deu.
</p>


<p>
    Vários foram os dias em que o desânimo tomou


 <!-- Final da Página --> <a style="visibility:hidden"> ___________________________ </a> <!-- FIM -->
 
</p>

</div>
</div>
<span class="page-number">17</span>
