<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_13.png" width="360" height="325" />
    </center>
    <div id="credito-img-l">
        <label>
           Jadson Almeida 
           <br />
        </label>
    </div>
    
     <div id="credito-img">
        <label id="credito-img">
           Manassés Freitas
           <br />
           Tarciana Santos
           <br />
           Wesla Welba Cordeiro
           <br />
           Gustavo Bruno
        </label>
    </div>
    
    
<span class="page-number"> 346 </span>
</div>
