<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_29.png" width="360" height="190" />
    </center>
    <div id="credito-img" > 
        Thiago Gregorio – acervo Katarina Meneses
        <br />
        Vanessa Braga – acervo Katarina Meneses
    </div>
    <br />
    <iframe width="370" height="200" src="https://www.youtube.com/embed/j-Wb6lnG1t0" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Tortura Nunca Mais - acervo Katarina Meneses
    </div>
    
    
<span class="page-number">142 </span>
</div>
