<div class="book-content" id="justificado">
    
    <h3>* Julho</h3>

    <h2><u>Técnico em Música: Niraldo Melo</u></h2>

    <p>
        O IFPE Belo Jardim havia realizado um concurso para um profissional 
        da área técnica  (Técnico em Música), que pudesse ajudar nas 
        várias demandas do dia a dia do curso, assessorando os professores da 
        Licenciatura e preocupando-se com as várias atividades fora da sala de 
        aula. O técnico  <i>Niraldo Riann de Melo</i>, trompetista formado, 
        veio somar esforços ao restante do grupo em julho de 2014. 
    </p>
    
    <center><img class=" zoom-this" src="pics/ano2014/ano2014_05.png" width="140" height="165" /></center>
    <div id="credito-img" > 
        Niraldo Melo - acervo Niraldo
    </div>
<span class="page-number">81</span>
</div>
