<div class="book-content" id="justificado">
    
    <p>
        No projeto estavam previstos oficinas, capacitações, minicursos 
        e, ao término, um show, agregando todos os elementos vistos.
    </p>
    
    <p>
        Foram realizadas as seguintes oficinas:
        <ul>
            <li>
                1.Oficina de preparação Cênica com o professor <i>Quiercles 
                Santana</i> (setembro a dezembro de 2013).
            </li>
            <li>
                2.Oficina de Metodologia Científica, realizada em março 
                de 2013 - contou com a participação da professora 
                <i>Bernardina Araújo</i>, do professor <i>Jandson Silva</i> 
                e do próprio coordenador, prof. <i>Jaildo Gurgel</i>, 
                que ministrou parte dos conteúdos.
            </li>
        </ul>
    </p>
    
    <p>
        Como parte do projeto, também aconteceu a Caravana de Extensão, 
        realizada pelo PROEXT/MEC no dia 19/11/2013, com:
        
        <ul>
            <li>
                -Visita ao distrito de Xucuru, Sítio Palhas, com o Coco Raiz;
            </li>
            <li>
                -Visita a Santa Luzia: com os Bacamarteiros de Santa Luzia.
            </li>
        </ul>
    </p>
    
<span class="page-number">168 </span>
</div>
