<div class="book-content" id="justificado">
    
    <p class="no-indent">
         do Setor de Recursos 
        Humanos <i>Edineide Rodrigues Lopes</i>, 
        obteve a informação de que o mesmo havia sido removido. 
        Apenas a partir deste momento é que, cientes de que Belo Jardim 
        havia perdido o código do professor há quase um ano, e que, por 
        esta razão não havia como realizar outro concurso para um professor 
        efetivo de violão naquele momento, os professores passaram a brigar 
        por um novo código de vaga.
    </p>
    
    <p>
        Enquanto o código não chegava, ou enquanto a informação da 
        remoção era mantida em sigilo, o professor <i>Anderson Mariano</i>,
         da Universidade Federal da Paraíba e o aluno <i>Ronaldo França</i> 
         se revezavam com as aulas de violão para os alunos deste instrumento. 
    </p>
    
    <p>
        <i>Anderson</i> vinha ministrar as aulas de violão em módulos e,
        quando voltava para a Paraíba, <i>Ronaldo</i> assumia os alunos
        como monitor de Violão/Guitarra, e assim foi feito durante 2012 
        e início de 2013.
    </p>
    
    <p>
        Neste interim, também foram realizados dois  
        <a class="fim">____________________________</a>
    </p>
    
<span class="page-number">47</span>
</div>
