<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        <i>Francisco das 
        Chagas Lino</i>, sabiam que no item 
        estrutura física eles 
        perderiam pontuação, por terem muito pouco a oferecer. Pensando 
        nisso, algumas decisões foram tomadas, como, por exemplo, 
        transformar o Bloco B<sup>10</sup>  em um prédio exclusivo de 
        Música. Esta decisão pensada pelo diretor <i>Francisco das 
        Chagas</i>, por <i>Tatiana Valério</i> (DDE) e <i>João 
        Almeida</i> (CGE), tinha um propósito, que era a proximidade do 
        mini-auditório com o Bloco B.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/vismec/vismec_01.png" width="315" height="168" />
    </center>
    <div id="credito-img" > 
        <label>
           Bloco B da Licenciatura em Música - acervo Katarina Meneses
        </label>
    </div>
    
     <div id="dic">
        <hr />
        <label>
            <sup>10</sup> O Bloco B era um prédio já existente no 
            Campus, onde funcionava uma parte dos cursos do Ensino Médio. 
            Porém, com a aproximação da visita do MEC, ficou sendo 
            utilizado unicamente pelo curso de Música.
        </label>
    </div>
    
<span class="page-number">284 </span>
</div>
