<div class="book-content" id="justificado">

    <h1> Ano de 2012 </h1>


    <h2><u>Cantina</u></h2>

    <p>
        A cantina e o refeitório por algum tempo serviram como palco 
        para mostras musicais e aulas, findando por tornarem-se também 
        espaços para apresentações. 
    </p>
    
    <p>
        Por falta de local específico para ministrar as aulas, a cantina
         tornou-se um local de ensaio em algumas disciplinas, como 
         Prática de Conjunto, Regência, entre outras. Na ânsia por 
         espaços, os professores <i>Marinaldo Lourenço, Carlos Silva e 
         Evandro Sampaio</i> oferecerem algumas aulas neste ambiente, 
         tornando-o um palco de espetáculos para os transeuntes.
    </p>
    
    <img class="left-pic zoom-this" src="pics/ano2012/ano2012_01.jpg" width="165" height="91">
    <div id="credito-img"> <br /><br /><br />Foto Cantina - acervo Katarina Meneses  </div>

</div>
<span class="page-number">43</span>
