<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_25.png" width="160" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Folder retirado da página do IFPE Belo Jardim
        </label>
    </div>
    
    <p>
        O Renafor recebeu participantes de Garanhuns, Tacaimbó, além de 
        professores oriundos de Belo Jardim. As oficinas ofertadas foram: 
        Currículo e Prática Docente, ministrada pela professora 
        <i>Bernardina Araújo</i>, Tópicos em História da Música (que se 
        subdividia em Teoria da Música e História da Música), ministrada 
        pelos professores <i>Robson Ribeiro e Katarina Meneses</i>, e 
        Metodologia do Ensino da Música, ministrada pela professora 
        <i>Rejane Campelo</i>. O curso formou 16 alunos.
    </p>
<span class="page-number">179 </span>
</div>
