<div class="book-content" id="justificado">
    
    <p class="no-indent">
        os alunos de Canto uma visita técnica à casa da professora de 
        Canto <i>Geni Katz</i>, em Recife. A aula oportunizou aos alunos 
        vislumbrarem elementos do Canto com a visão de outro professor 
        da área.
    </p>
    
    <img class=" zoom-this" src="pics/ano2012/ano2012_09.jpg" width="380" height="335">
    <div id="credito-img"> Vista técnica à casa de Geni Katz - acervo Thiago Gregório   </div>
<span class="page-number">56</span>
</div>
