<div class="book-content" id="justificado">
   <center>
       <img class=" zoom-this" src="pics/eventos/eventos_21.png" width="360" height="380" />
    </center>
    <div id="credito-img" > 
        <label>
           Missa Nordestina no III Fórum Mundial - acervo Internet   
           <br />
          Acervo IFPE -  página do Fórum
           <br />
          Adjair Cavalcante (solista da Missa) e Andreza Cordeiro - acervo Andreza 
        </label>
    </div>
    
<span class="page-number">238 </span>
</div>
