<div class="book-content" id="justificado">
    
   <center><h3>Apresentação</h3></center>
   
   <p>
        Katarina Meneses organizou esta importante publicação 
        intitulada Memorial Musical dos Belos Jardins, que reúne sonhos, 
        lutas, frustações, muitas mãos e corações e uma volta por cima: 
        eis o caminho trilhado pela Licenciatura em Música Popular do IFPE 
        Campus Belo Jardim, nosso primeiro curso superior.
   </p>
   
   <p>
        Comumente, as lutas e conquistas que ocorrem numa instituição de 
        ensino ficam registradas em sua inevitável burocracia: portarias, 
        regimentos, planos de ação, avaliações institucionais e tudo 
        mais concernente ao fazer paradidático e administrativo, que não 
        desperta muito interesse de leitura, nem mesmo nos atores que as 
        constituem. Numa direção totalmente oposta, segue a proposta 
        desse memorial. Ele é dinâmico, interativo e apresenta ao leitor 
        as ações desenvolvidas desde a concepção e gestação do curso 
        (2007 – 2010) às atividades múltiplas realizadas por docentes, 
        discentes e colaboradores, nesses quatro anos de pleno 
        <a class="fim"> ___________________________________________ </a>
   </p>
   
    
<span class="page-number"> 08 </span>
</div>

