<div class="book-content" id="justificado">
    
    <img class="left-pic zoom-this" src="pics/ano2012/ano2012_06.jpg" width="295" height="450">
    <br /><br /><br /><br />
    <div id="credito-img"> Apresentação Cemo – acervo de Ronaldo França  </div>
    <br /><br />    <br /><br />    <br /><br />
    <div id="credito-img"> Visita ao Instituto Ricardo Brennand – acervo Ronaldo França  </div>
    
    
<span class="page-number">52</span>
</div>
