<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_22.png" width="360" height="410" />
    </center>
    <div id="credito-img" > 
        <label>
           Visita à Fundação Música e Vida de São Caetano - acervo Creusa Vieira<br />
           Enext 2013 – Claudio Zebarsy e Ivanar Santos - acervo Thiago Gregorio
           <br />
           Fundação Música e Vida - acervo Creusa Vieira
        </label>
    </div>
    
<span class="page-number">175 </span>
</div>
