<div class="book-content" id="justificado">
    
    <h1>Para que Tudo Aconteça</h1>
    
    <p>
            Chegamos ao final do livro, e é indispensável agradecer às pessoas que estão nos bastidores de toda esta história: a gestão, os professores, administrativos, o pessoal terceirizado da limpeza, o pessoal da cozinha, enfim, muitos personagens participantes diretamente ou indiretamente de todo este livro que  ora narramos.
    </p>
    
    <p>
            Aqui fica a nossa singela homenagem a todos os que fazem parte do IFPE Belo Jardim e que construíram esta história de muitas lutas.
    </p>
    
<span class="page-number"> 333 </span>
</div>
