<div class="book-content" id="justificado">
    
    <p class="no-indent">
        <i>
            colaboração dos integrantes 
            do Comitê Organizador e do Conselho Internacional.
            A expectativa de público foi de 20 mil 
            pessoas ao longo dos quatro dias de evento. ” <sup>*</sup> 
        </i>
    </p>
    
    
    <h2><u>A Missa Nordestina </u></h2>
    
    <p>
        A disciplina Prática Profissional, ministrada pelo professor 
        <i>Carlos Antônio da Silva</i>, tem por finalidade agregar os 
        instrumentistas e cantores, para coletivamente realizarem 
        apresentações, preparando peças musicais e canções onde todos os 
        discentes  participem. No segundo semestre de 2014, o professor 
        <i>Carlos</i> escolheu a “Missa Nordestina” de <i>Clóvis 
        Pereira</i> como peça a ser trabalhada. 
    </p>
    
    <p>
        <i>Clóvis Pereira</i> é um compositor pernambucano, nascido na 
        cidade de Caruaru, em 1932, que entre 
        <a class="fim">_________________</a>
    </p>
    
    <div id="dic">
        <hr />
        <label>
            <sup>*</sup> Texto fornecido pelo IFPE, página do Fórum
        </label>
    </div>
    
<span class="page-number">235 </span>
</div>
