<div class="book-content" id="justificado">
    
    <p class="no-indent">
        I aborda temas que vão da chegada da família Real  ao Brasil até o início do século XX, com o advento do choro. 
    </p>
    
    <p>
        Em Junho de 2012, a professora <i>Katarina Meneses</i> e os 
        alunos de História I realizaram uma visita técnica ao CEMO – 
        Centro de Educação Musical de Olinda, para apresentar a 
        culminância da referida disciplina com uma aula-espetáculo, onde 
        apresentaram, contando e cantando, os fatos importantes deste 
        período da História. 
    </p>
    
    <p>
        Nesta apresentação, além de solos vocais ocorreram vários 
        arranjos para os instrumentos de Sopro, elaborados pelo aluno 
        <i>Ronaldo França</i>. Após a apresentação, o grupo seguiu para 
        o Instituto Ricardo Brennand, onde puderam apreciar as pinturas 
        do período citado nas aulas.
    </p>
    
    
    
<span class="page-number">51</span>
</div>
