<div class="book-content">
  <div id="justificado">
  <p class="no-indent">
    material e de instrumentos. Em paralelo a isto, os docentes confeccionaram a bibliografia de 

   cada disciplina que seria usada já no ano seguinte e a obtenção destes 

   exemplares.
   </p>
   <img class="left-pic zoom-this" src="pics/ano2010/oInicio05.png" width="180" height="180">
   <div id="credito-img" > <br /> <br /> Katarina Meneses - acervo Katarina </div>

   <br />
   <br />
   <br />
   <br />
   <br />
   <p>
   O vestibular 2010-2011 foi realizado com sucesso. Os professores 

   compuseram a comissão de elaboração deste vestibular, bem como a correção 

   das provas. O número de alunos foi o esperado e, desta forma, estava dado o 

   “pontapé” inicial da Licenciatura em Música.
   </p>


  </div>
</div>
<span class="page-number">21</span>
