<div class="book-content" id="justificado">
    
    <h2><u>Expressão Cênica</u></h2>

    <p>
        "Tortura Nunca Mais" foi um espetáculo montado na disciplina de 
        Expressão Cênica, que envolvia teatro, multimídia  e 
        músicas que fizeram parte da época da Ditadura Militar no Brasil, 
        em um musical que abordou questões ligadas àquela temática, de 
        1964 a 1980. A pesquisa e o texto ficaram por conta da professora 
        <i>Katarina Meneses.</i> 
    </p>

    <p>
        Além dos participantes da disciplina: <i>Erisson Porto, Elias 
        Nascimento e Vanessa Braga</i>, o espetáculo ainda contou com a 
        colaboração da professora <i>Ana Paula Sá</i> (fazendo as récitas), 
        <i>Diego Pedro</i> (Flauta), <i>Austrigésilo de Souza</i> (Percussão), 
        <i>Gutenberg Alves</i> (Voz e Piano), <i>Marcos Gondim</i> (Violão), 
        <i>Thiago Gregorio</i> (Voz). A direção geral do espetáculo ficou 
        a cargo da professora <i>Katarina Meneses</i> e a edição das 
        imagens foi executada por <i>Marcílio Duarte</i>. Este espetáculo 
        foi apresentado no mini-auditório do IFPE (Campus Belo Jardim) e 
        na UFPE - Campus Caruaru.
    </p>
<span class="page-number">89</span>
</div>
