<div class="book-content" id="justificado">
    
    <img class="left-pic zoom-this" src="pics/ano2011/ano2011_03.jpg" width="345" height="170">
    <div id="credito-img"> Luis Ricardo - acervo UFPB  </div>
    
    <h3>* Novembro e Dezembro</h3>
    
    <h2><u> Cantata Natalina </u></h2>
    
    <p>
        Em novembro de 2011 foi realizada uma Cantata de Natal com os 
        alunos da disciplina Prática Profissional de Música II. Neste 
        processo houve um envolvimento de toda a turma de alunos 2011, 
        os quais estariam incumbidos da criação do repertório para a 
        Cantata, somente com ritmos nordestinos: baião, xote, frevo <a class="fim">___________________</a>
        
    </p>
<span class="page-number">35</span>
</div>
