<div class="book-content" id="justificado">
    
    
    
     <center>
       <img class=" zoom-this" src="pics/bandas/bandas_03.png" width="360" height="210" />
    </center>
    <div id="credito-img" > 
        <label>
           Imagem do Instrumento.
        </label>
    </div>
    
    <iframe width="375" height="220" src="https://www.youtube.com/embed/L6T5mflCdMA" frameborder="0" allowfullscreen></iframe>
    <br /><div id="credito-img" > <label> Acessado em 23/06/2015, às 21:11 </label>   </div>
<span class="page-number">248 </span>
</div>
