<div class="book-content" id="justificado">
    
    <p class="no-indent">
        Tecnologia e no projeto de PIBIC, com o aluno 
        <i>Marcílio Bezerra.</i>
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_02.png" width="360" height="250" />
    </center>
    <div id="credito-img" > 
        <label>
            João Almeida - acervo IFPE Belo Jardim
            <br />
            Marcílio Bezerra - acervo Marcílio 
        </label>
    </div>
    <br />
    <br />
    
    
<span class="page-number">149 </span>
</div>
