<div class="book-content" id="justificado">
    
    <h3>* Maio </h3>
    
    <h2><u>Visita Técnica </u></h2>
    <br />
    <br />
    <p>
        Em maio de 2014, as professoras <i>Ana Paula Sá</i> (Produção Musical), 
        <i>Katarina Meneses</i> (História da Música 1) e o professor 
        <i>Jandson da Silva</i>, unindo esforços, levaram  duas turmas da 
        Licenciatura em Música para realizar  uma visita técnica no 
        Marco Zero  do Recife Antigo, abordando temas importantes das 
        duas disciplinas. O percurso sugerido para a aula contava com 
        a caminhada pelos principais prédios daquela localidade (Marco 
        Zero), visita ao Paço do Frevo, e por fim uma visita guiada ao 
        Teatro de Santa Isabel, que culminou em uma explanação sobre aquela 
        casa de espetáculo, que existe desde o século XIX.
    </p>
    
<span class="page-number">74</span>
</div>
