<div class="book-content" id="justificado">
    
    <h2><u>Encontros de Pesquisa e Extensão - Jandson Ferreira (2011-2012)</u></h2>
    
    <p>
        O professor <i>Jandson Ferreira</i>, em 2011 e 2012, promoveu 
        encontros de Pesquisa e Extensão no Campus Belo Jardim, com os 
        representantes das duas Pró-Reitorias. Em 2011 o encontro 
        aconteceu em salas de aulas do Campus e, em 2012, no auditório da 
        escola.
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/pesext/pesext_01.png" width="197" height="250" />
    </center>
    <div id="credito-img" > 
        <label>Jandson Ferreira – acervo Jandson</label>
    </div>
<span class="page-number">146 </span>
</div>
