<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_01.png" width="360" height="325" />
    </center>
     <div id="credito-img-l">
        <label>
           Paulo Henrique Guedes
           <br />
           João Almeida e Silva 
           <br />
           Arlindo Pedro da Silva
           <br />
        </label>
    </div>
    
     <div id="credito-img">
        <label id="credito-img">
           José Gonçalves Neto
           <br />
           Carlos Alberto Campos
           <br />
           Ironaldo Valença dos Santos
           <br />
        </label>
    </div>
    
        
    
    
    
<span class="page-number"> 334 </span>
</div>
