<div class="book-content" id="justificado">
    
    <p class="no-indent">
        professor <i>Sandro Guimarães</i>, da Universidade Federal de 
        Pernambuco - Centro Acadêmico do Agreste/Caruaru, para os alunos 
        de violão do IFPE. A palestra foi sobre Patrimônio Material 
        e a Jurema Sagrada.
    </p>
    
    <p>
        O professor <i>Sandro Guimarães</i> é formado em Música pela Universidade 
        Federal de Pernambuco e Doutor em Antropologia, pela mesma instituição. Ao final 
        da sua fala, <i>Guimarães</i> fez uma pequena apresentação, com a 
        professora <i>Katarina Meneses</i>, sobre os ritmos andinos 
        existentes na América Latina.
    </p>
    
    
    <iframe width="370" height="165" src="https://www.youtube.com/embed/X1PYr6jlqV8" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Sandro Guimarães e Katarina Meneses - acervo Thiago Gregorio
    </div>
    
<span class="page-number">87</span>
</div>
