<div class="book-content" id="justificado">
    
    <p class="no-indent">
        professores do IFPE, e posteriormente uma aula-espetáculo 
        realizada pelo grupo francês.
    </p>
    
    <p>
         Na primeira parte da apresentação, a professora 
         <i>Katarina Meneses</i> e o aluno <i>Lucas Monteiro</i> 
         executaram um “boi” de domínio público. Após esta 
         canção, o professor <i>César Berton</i>, em parceria com o 
         docente <i>Evandro Sampaio</i> e o aluno <i>Thiago Gregorio</i>, 
         realizou a canção “Josefina” - uma cantoria do 
         compositor Elomar. Para encerrar esta primeira etapa, o 
         grupo de flauta do professor <i>Mozart Vieira</i> executou 
         uma mostra de músicas regionais, e depois os discentes 
         <i>Anderson Silva e Henrique Albino</i> abrilhantaram o 
         espetáculo com músicas de caráter também regional. 
         
         
         <br />
         
         <a href="http://www.belojardim.ifpe.edu.br/antigo.php?not=1003" target="_blank"> Veja mais aqui </a>
    </p>
<span class="page-number">220 </span>
</div>
