<div class="book-content" id="justificado">
    
    
    <h3><u>O Refeitório</u></h3>
    
    <p>
        Na visita do MEC, um dos espaços de convivência mais elogiados 
        pelos avaliadores foi o refeitório do Campus, onde os alunos 
        diariamente realizam as três refeições: café, almoço e janta, 
        sem que um único real seja pago de seus bolsos.
    </p>
    
    <p>
        Naquele espaço, as diversidades se faziam presentes com maior 
        afinco. Era nítida a divergência do comportamento dos discentes na 
        forma como se comportavam, nos gestos, nas maneiras de se portarem 
        à mesa ou de falarem. 
    </p>
    
    <p>
        Durante algum tempo foi realizada uma campanha para não haver 
        desperdício alimentar no refeitório, chegando até a oferecerem 
        uma premiação para os que não desperdiçassem. Além das campanhas 
        realizadas para a redução do desperdício, os docentes e 
        discentes por algum tempo realizaram almoços musicais, também 
        acontecendo récitas com poesias e repentes, tudo para 
        <a class="fim">____________________________________________</a>
    </p>
    
    
<span class="page-number">255 </span>
</div>
