<div class="book-content" id="justificado">
    
    <p>
        Uma das primeiras apresentações do professor <i>Marinaldo Lourenço</i>, 
        recente na casa, foi o coro de trombones. Esta foi a primeira 
        apresentação do grupo realizada na cantina do IFPE. 
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/semana/semana_01.png" width="360" height="325" />
    </center>
    <div id="credito-img" > 
        Marinaldo Lourenço – acervo Marinaldo 
        <br />
        Imagens da cantina – acervo Katarina Meneses
    </div>
    
<span class="page-number">106 </span>
</div>
