<div class="book-content" id="justificado">
    
    <h2><u>Sala de Bateria<sup>3</sup></u></h2>
    
    <p>
        Durante todo o ano de 2011 as aulas de bateria foram ministradas
         na Casa da Música. Porém, sem nenhuma proteção acústica, todos 
         os que adentravam aquele recinto podiam ouvir o “barulho” 
         ensurdecedor do instrumento.
    </p>
    
    <p>
        No ano seguinte, o docente <i>Jaildo Gurgel</i>, para solucionar
         o problema, pensou em criar uma sala somente para abrigar o 
         instrumento – bateria – e poder ministrar suas aulas sem
          tanto desconforto para os que estivessem naquele recinto. 
    </p>
    
    <p>
        O professor <i>Jaildo</i>, juntamente com <i>José Manuel Júnior</i> 
        (CGAF do IFPE na época), conseguiu contratar uma empresa, em 
        Recife, que vendia e aplicava espumas especiais para estúdio 
        (feita em material de “chama retardante” e com ótima resposta de
         frequência)<sup>*</sup>. 
    </p>
        <p>
            <div id="dic"><!-- Rodapé -->
                <hr>
                <SUP>3</SUP> Texto em colaboração com o professor Me. Jaildo Gurgel.
            </div>
        </p>
<span class="page-number">44</span>
</div>
