<div class="book-content" id="justificado">
    
    <p class="no-indent">
        IF, que não era possível uma turma ser composta por 
        apenas um aluno, porque o professor de um instrumento não 
        poderia ministrar aulas de outro instrumento. As respostas de 
        <i>Robson</i> eram sempre as mesmas, que um curso de Música 
        deveria ser naquele formato, pois em qualquer local do Brasil e 
        de outros países que fossem investigar era realizado naquele 
        formato, a não ser que a Licenciatura em Música fosse 
        transformada em uma Licenciatura no modelo da Universidade 
        Federal.
    </p>
    
    <p>
        Os problemas enfrentados foram de várias ordens: inexistência de 
        estrutura física para o curso, falta de pessoal humano para 
        secretariar o mesmo, falta de pessoas que informassem sobre os 
        documentos e papéis, enfim, um ambiente difícil de trabalhar.
    </p>
    
    <p>
        Fala do professor Robson Ribeiro:
    </p>
    
    <p>
        <i>
            “A sensação que eu tinha era que não havia ninguém para nos 
            ajudar, algumas pessoas me diziam: ‘-Você já 
            <a class="fim">____________________________________</a>
        </i>
    </p>
    
    
<span class="page-number">317 </span>
</div>
