<div class="book-content" id="justificado">

<p>
    Com a nova gestão, uma nova configuração

    administrativa começara a
    se delinear no Campus. Havia uma preocupação real para que as coisas
    acontecessem a contento.
</p>

<p>
    O diretor <i>Francisco das Chagas Lino Lopes</i> e sua equipe realmente se
    empenharam em ajudar o Curso de Música. Os projetos pendentes foram
    executados e muitas coisas seguiram seu curso normal, como deveria ser. A
    criação de um gabinete com quatro salinhas para os professores da
    Licenciatura, como era a exigência do MEC; um bloco com salas de aulas foi
    desocupado para o Curso; o LAPPEM (laboratório de música) foi criado; a afinação do piano
    do mini-auditório foi realizada; criou-se um concurso para técnico e TAE, através do qual
    vieram integrar a equipe <i>Niraldo de Melo e Jamires Pereira </i> nas respectivas funções;
    foi fornecido apoio ao pessoal da biblioteca para a compra dos livros que estavam registrados no
    ementário. Enfim, as questões mais complicadas 
    estavam sendo organizadas
    graças à boa vontade da nova gestão.
</p>

</div>
<span class="page-number">31</span>
