<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_08.png" width="360" height="325" />
    </center>
    <div id="credito-img">
        <label>
           Edna Maria de Paiva
           <br />
</label>
    </div>
    
     <div id="credito-img-l">
        <label>
           Cícero Valdemir da Silva
           <br />
           Maria da Conceição Silva Lima
           <br />
           Maria dos Santos Silva
           <br />
</label>
    </div>
    
    
    
<span class="page-number"> 340</span>
</div>
