<div class="book-content" id="justificado">
    
    <p class="no-indent">
        Jardim: avanços e perspectivas”, realizada no 
        auditório do IF para professores e alunos.
    </p>
    
    <img class=" zoom-this" src="pics/ano2012/ano2012_05.jpg" width="300" height="240">
    <div id="credito-img">Bernardina Araujo – acervo da própria Bernardina  </div>
    
    <h3> * Junho</h3>
    
    <h2><u>História da Música Popular Brasileira I</u></h2>
    
    <p>
        A disciplina de História da Música Popular Brasileira  <a class="fim">_____________________</a>
    </p>
    
    
<span class="page-number">50</span>
</div>
