<div class="book-content" id="justificado">
    
    <p>
        <i>Cacá Malaquias</i>, compositor pernambucano, nascido
         em Carnaíba, já tocou com renomados músicos como 
         <i>Dominguinhos, Ivan Lins e Raul Seixas. Cacá</i> fala que 
         recebeu a influência das bandas Filarmônicas de sua 
         cidade e das Bandas de Pífano.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_08.png" width="360" height="290" />
    </center>
    <div id="credito-img" > 
        <label>
           Oficina de Cacá Malaquias - acervo Ivanar Nunes
           <br />
           Cacá Malaquias - acervo Cacá
           <br />
           Workshop Cacá Malaquias - acervo Marinaldo Lourenço
        </label>
    </div>
    <br />
    
<span class="page-number">216 </span>
</div>
