<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_06.png" width="315" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Thiago Motta, acompanhado de sua madrinha de formatura e da madrinha da turma, Bernardina Araújo- acervo Marcos Nascimento
        </label>
    </div>
    
    
<span class="page-number">306 </span>
</div>
