<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/colegiado/colegiado_03.png" width="360" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Juraci Galindo-acervo Juraci
        </label>
    </div>
    
    <p>
        Também havia a exigência do MEC na contagem da carga horária e 
        como seriam distribuídas as disciplinas pedagógicas. Enfim, o 
        novo Projeto Político Pedagógico saiu a custa de muitos 
        encontros, esforços coletivos e de discussões infindáveis. O 
        rebento havia nascido, faltava a aprovação.
    </p>
    
    
    
    
    
<span class="page-number">262 </span>
</div>
