<style type="text/css">
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000000;
    }
</style>

<div class="book-content" id="justificado">
    
    
<label>

FONTOURA, Julian Silveira Diogo de Ávila e AMARAL, Joseane Carolina Soares Ramos de. 
    <b>A gestão dos institutos federais e a lei n° 11.892/08: a prática de gestão de uma nova institucionalidade. </b>
Disponível em: <http://www.lume.ufrgs.br/bitstream/handle/10183/113909/Poster_37232.pdf?sequence=2 >. Acesso em: 20 abr. 2015, 16:10. 
</label>  <br /><br />

<label>
    <b>Grupo francês “La Talvera" promoverá atividades no campus Belo Jardim. Página do Instituto Federal Ciência e Tecnologia de Pernambuco. </b>
Disponível em <http://www.belojardim.ifpe.edu.br/antigo.php?not=1003>. Acesso em: 19 outubro. 2015, 20:30. 
</label>  <br /><br />

<label>
HALL, Stuart. 
    <b>A identidade cultural na pós-modernidade.</b> 
1. ed. Rio de Janeiro:DP & A, 1992.
</label>  <br /><br />

<label>
    <b>Hospital de Belo Jardim leva música para pacientes Tv Asa Branca. </b>
Disponível em: <https://www.youtube.com/watch?v=HqGjfO0amC0>. Acesso em: 19 abr. 2015, 07:30. 
</label>  <br /><br />

<label>
INSTITUTO FEDERAL DE CIÊNCIA E TECNOLOGIA – IFPE. 
    <b>Projeto Pedagógico do Curso de Licenciatura em Música.</b> 
1. ed. Belo Jardim, 2015. 

</label>  <br /><br />

    
<span class="page-number"> 353 </span>
</div>
