<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_04.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
           Projeto Luiz a Cem, em Florianópolis - acervo Marcos Gondim
        </label>
    </div>
    <div id="dic"><!-- Rodapé -->
        <hr>
        * Este material, bem como os arranjos e DVD da apresentação, encontra-se na biblioteca do campus.
    </div>
    
<span class="page-number">210 </span>
</div>
