<div class="book-content" id="justificado">
    
    <h1> Ano de 2013</h1>
    
    <h2><u>Aulas de Violão</u></h3>
    
    <p>
        Durante todo o ano de 2013, o docente <i>César Berton</i>, 
        professor substituto de violão, realizou mini cursos com os 
        alunos daquele instrumento para suprir a falta de professor que 
        já se instalava desde 2012. Este ano foi marcado pela tentativa 
        do professor <i>César</i> de equalizar o nível dos alunos e 
        suprir a falta do professor de Violão/Guitarra.
    </p>
    
    <img class=" zoom-this" src="pics/ano2013/ano2013_01.jpg" width="165" height="165">
    <div id="credito-img"> Foto César Berton - acervo de César    </div>
<span class="page-number">57</span>
</div>
