<div class="book-content" id="justificado">
    <h2><u>Prática Profissional II </u></h2>
    <p>
        A professora <i>Rejane Campelo</i> desenvolveu um trabalho 
        interessante com os alunos da Prática Profissional II, com um 
        repertório voltado para canções da Música Popular Brasileira 
        (Regência de <i>Breno Novaes</i>).
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_21.png" width="360" height="265" />
    </center>
    <div id="credito-img" > 
        Coro da Prática Profissional II– acervo Flávio Lima.  
        Alunos de Prática Profissional II, com a regência de Rogério - 
        acervo Thiago Gregorio
    </div>
    <br />
    
<span class="page-number">129 </span>
</div>
