<div class="book-content" id="justificado">
    
    <h1>A Biblioteca</h1>
    
    <p>
        Um livro é só um acúmulo de palavras?
    </p>
    
    <p>
        "Não é possível refazer este país, democratizá-lo, humanizá-lo, 
        torná-lo sério, com adolescentes brincando de matar gente, 
        ofendendo a vida, destruindo o sonho, inviabilizando o amor. 
        Se a educação sozinha não transformar a sociedade, sem ela 
        tampouco a sociedade muda." (Paulo Freire)
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/biblioteca/biblioteca_01.png" width="208" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Imagens de Paulo Freire - acervo internet
        </label>
    </div>
    
    
    
<span class="page-number">269 </span>
</div>
