<div class="book-content" id="justificado">
    
    <p class="no-indent">
        nuances para professores e alunos daquele local de ensino. O evento foi 
        promovido pelo aluno <i>Adjair Cavalcante</i>, que naquela época 
        era professor do Conservatório de Olinda.
    </p>
    
    <p>
        Entre os temas abordados podemos citar os cuidados com a voz e 
        os seus abusos, tratamentos para os problemas vocais e alguns 
        exercícios oferecidos para os participantes. 
    </p>
    
    <img class="left-pic zoom-this" src="pics/ano2013/ano2013_09.png" width="302" height="210">
    <div id="credito-img"> <br /><br /><br /> Aula no CEMO - acervo de Joermison Melo    </div>
    
    
<span class="page-number">68</span>
</div>
