<div class="book-content" id="justificado">
    
    
    
    <p>
        Na chegada dos avaliadores, os professores contavam com os 
        seguintes espaços: o Bloco B (com 4 salas, uma coordenação 
        pedagógica e o gabinete dos professores), o Bloco de Informática 
        (com o uso do mini-auditório para eventos e aulas de piano, e o 
        laboratório de informática para aulas de editoração de 
        partituras), a Casa da Música (com a sala de bateria e mais 
        duas salas, uma que abrigava os instrumentos da banda e as 
        demais salas onde eram realizadas as aulas de Flauta, Clarinete 
        e Sax), o galpão e o LAPPEM. 
    </p>
    
    <p>
        Eram muitas demandas a serem realizadas e muitas delas não eram 
        de competência única dos professores. Os docentes, muitas vezes, 
        sentiam-se abandonados pela Reitoria, que apenas informava o que 
        eles deveriam fazer, mas não cedia pessoal nem para 
        secretariá-los. Os professores deviam se dividir entre ministrar 
        uma carga horária gigantesca, reformular o PPC, reorganizar o 
        Currículo Lattes e preocupar-se com tarefas que fugiam à  
        alçada deles, como preparação de atas, portfólio, entre outros 
        atributos de secretaria. O Curso de Música
        <a class="fim"> ________________________________________ </a> 
    </p>
    
<span class="page-number">288 </span>
</div>
