<div class="book-content" id="justificado">
    
     <center>
       <img class=" zoom-this" src="pics/aulasa/aulasa_03.png" width="315" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Acervo - Marcos Nascimento
        </label>
    </div>
    
<span class="page-number">299 </span>
</div>
