<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_10.png" width="360" height="325" />
    </center>
    <div id="credito-img">
        <label>
           Iraneide Laurentino da Silva
           <br />
        </label>
    </div>
    
     <div id="credito-img-l">
        <label>
           José Hélio de Freitas
           <br />
           Flávia Moreira Correia
           <br />
        </label>
    </div>
    
    
    
<span class="page-number"> 342 </span>
</div>
