<div class="book-content" id="justificado">
    
    <h2><u>Fisiologia – Colégio Frei Cassiano</u></h2>
    <br />
    <br />
    <p>
        A disciplina de Fisiologia da voz aborda elementos ligados ao 
        funcionamento da produção vocal (respiração, apoio, ressonância).
        Em Junho de 2012, a professora <i>Katarina Meneses</i> e os 
        alunos da disciplina apresentaram para alunos e professores do 
        Colégio Frei Cassiano (colégio estadual, nas imediações do IFPE)
        uma pequena aula sobre o funcionamento da voz, os abusos vocais 
        e o que estes acarretariam. A aula abordava questões práticas do
        dia a dia dos que fazem uso da voz, ensinando alguns exercícios 
        que poderiam ser realizados no cotidiano destes. Para ilustrar 
        todos estes conteúdos, os discentes criaram uma cena de teatro 
        com possíveis elementos dos abusos realizados em sala de aula.
    </p>
    
    
<span class="page-number">53</span>
</div>
