<div class="book-content" id="justificado">
    
    
    <p class="no-indent"> 
        demais professores sabiam que não dariam conta 
        de uma carga horária maior para instrumentos além da que já 
        existia, pois também ministravam outras disciplinas. As 
        discussões foram muitas, cada um com seu ponto de vista, porém, 
        como o tempo se extinguia, o processo urgia rapidez.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/colegiado/colegiado_02.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Reunião do colegiado - acervo Katarina Meneses
        </label>
    </div>
    
    <p>
        O momento da reformulação da matriz curricular talvez tenha sido 
        o mais cansativo de todo o processo. A pedagoga <i>Juraci 
        Galindo</i> lembrava ao grupo que a <a class="fim">_________</a>
    </p>
    
    
<span class="page-number">260 </span>
</div>
