<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/vismec/vismec_08.png" width="315" height="220" />
    </center>
    <div id="credito-img" > 
        <label>
           Marinaldo Lourenço e Fernanda Lopes - acervo Fernanda
        </label>
    </div>
    
    <p>
        Para recepcionar a chegada do MEC estavam presentes, entre outras 
        pessoas, <i>Edilene Guimarães</i>, o diretor do Campus Belo Jardim, 
        <i>Francisco das Chagas Lopes</i>, e o coordenador do curso, 
        <i>Marinaldo Lourenço</i>. A visita seguiu o seguinte roteiro: 
        sala do diretor <i>Francisco das Chagas Lino</i>, visita ao DAP, 
        observação das salas modulares (feitas na gestão de Chagas), o 
        Bloco de Música (Bloco B), Biblioteca, mini-auditório, Casa da 
        Música e, por fim, os avaliadores se 
        <a class="fim">+++++++++++++++</a>
    </p>
    
    
<span class="page-number">294 </span>
</div>
