<div class="book-content" id="justificado">
    
    <p>
        O ano de 2013 foi marcado pela reformulação do PPC, tarefa 
        árdua e extenuante. Os professores sabiam que precisavam 
        reformular o Plano e que havia um tempo para que este fosse 
        aprovado pelo Conselho, portanto o tempo era limitado. 
    </p>
    
    <p>
        A princípio, as reuniões do PPC foram mais espaçadas, porém, 
        com o avançar dos dias, os encontros para a reformulação ficaram 
        sendo quase que semanais e, no final de cada reunião, cada 
        docente saía com uma tarefa para executar e um prazo bem curto 
        para a entrega da atividade.
    </p>
    
    <p>
        Muitas discussões foram feitas, todas coordenadas pela pedagoga 
        <i>Juraci Galindo</i>, que se empenhou ao máximo na tarefa. O 
        professor <i>Robson Ribeiro</i> insistia que não poderiam fazer 
        um novo PPC sem saber qual era o perfil que gostariam para o 
        alunado e para o curso. Segundo ele, não adiantaria   
        excluir disciplinas e colocar outras. O professor 
        <i>Mozart Vieira</i> desejava que aumentassem as aulas de 
        instrumentos, os <a class="fim">__________________________</a>
    </p>
    
<span class="page-number">259 </span>
</div>
