<div class="book-content" id="justificado">
    
    <p class="no-indent">
        antigos, conhecidos como varandões, até canções mais recentes. 
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_04.png" width="310" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Alunos de extensão do professor Mozart Vieira – acervo Mozart Vieira
        </label>
    </div>
    <br />
    <br />
    
    <h2><u>Clarinete e Sax - Evandro Sampaio (2011 a 2015)</u></h2>
    
    <p>
        Ao longo dos anos de 2011 e 2012, o professor <i>Evandro Sampaio</i> 
        desenvolveu um curso de extensão em Clarinete e Sax, realizando 
        algumas apresentações  <a class="fim">___________________</a>
    </p>
<span class="page-number">152 </span>
</div>
