<div class="book-content">

<h1> O Início </h1>
<div id="justificado">
 <p>
 Em setembro de 2010, o Campus Belo Jardim recebia os novos
 professores que seriam os responsáveis pelo <i>“Curso de Licenciatura em 
 Música”</i> do IFPE, a primeira Licenciatura em Música Popular do Estado de 
 Pernambuco e também do IFPE.
</p>

<p>
Os cursos oferecidos eram: Clarinete, Sax, Violão, Guitarra, Trombone, 
Tuba, Trompete, Percussão, Bateria, Canto e Flauta, e os respectivos 
professores- <i>Evandro Sampaio, Frederico Andrade, Flávio Lima, Jaildo Gurgel, 
Katarina Meneses, Robson Ribeiro,</i> além do professor <i>Mozart Vieira</i>, que já 
fazia parte do quadro da instituição como professor de Arte.
</p>

<p>
O ano de 2010 representou um período de elaboração das ementas e
documentações que seriam o alicerce pedagógico norteador do curso, tudo isto 
só foi possível com a ajuda da pedagoga
 <i>Rosa Maria</i>
 
 <!-- Final da Página --> <a class="fim"> _________________________________________________ </a> <!-- FIM -->
 
</p>

</div>
</div>
<span class="page-number">15</span>
