<div class="book-content" id="justificado">
    
    <p class="no-indent">
        estudados e catalogados, o docente optou por dois deles: Music 
        School e o Solfege.
    </p>
    
    <p>
        <i>João</i> realizou junto os alunos um trabalho de divulgação 
        e esclarecimento sobre os softwares livres, colocando-os cientes 
        da importância de não piratear os softwares.
    </p>
    
    <h2><u>A modificação dos Software </u></h2>
    
    <p>
        O Music School é um dos softwares livres que o docente <i>João 
        Almeida</i> utiliza em suas aulas, ligado à 
        construção de partituras, o qual o professor <i>João</i> vem tentando 
        melhorar. O Solfege é outro software utilizado na pesquisa e 
        se refere a percepção.
    </p>
    
    <p>
        O software livre é disponibilizado na internet e o usuário não 
        paga para utilizá-lo, podendo inclusive modificá-lo, pois  
        pertence a uma comunidade mundial e não apenas a um órgão ou 
        entidade. As pesquisas do docente têm sido realizadas nas aulas 
        de Música e <a class="fim">_________________________________</a>
    </p>
<span class="page-number">148 </span>
</div>
