<div class="book-content" id="justificado">
    
    <p class="no-indent">
        livros possíveis dentro do 
        ementário, investigando junto aos professores os livros que 
        podiam ser trocados por outros títulos.
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/biblioteca/biblioteca_07.png" width="163" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Edneide Rodrigues - acervo Almerinda Diniz
        </label>
    </div>
    
    <p>
        Os recursos financeiros para a compra de livros foram chegando e 
        <i>Rodriggo</i> foi comprando. Porém, 
        <a class="fim"> ________________________________________ </a>
    </p>
    
    
<span class="page-number">278 </span>
</div>
