<div class="book-content" id="justificado">
    
    <iframe width="370" height="200" src="https://www.youtube.com/embed/J6t3NLpYnrY" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Coro de extensão Prof. Robson Ribeiro
    </div>
    
    <p>
        No ano de 2013, os professores <i>Robson Ribeiro e Rejane 
        Campelo</i> deram início ao “Pronatec” com Regência Coral. O 
        projeto envolvia técnica vocal, teoria musical, regência coral 
        e apreciação musical, e durou todo o ano de 2013. Neste ano, o 
        coro de extensão foi somado ao grupo do “Pronatec” para fazer um só 
        grupo, formando um coro bem diversificado, onde os dois 
        professores se revezavam ministrando aulas todas as semanas. 
        Como parte da programação do Pronatec, o grupo assistiu à ópera 
        “Don Giovanni”, no teatro de <a class="fim">_________________</a>
    </p>
    
<span class="page-number">157 </span>
</div>
