<div class="book-content" id="justificado">
    
    <img class="left-pic zoom-this" src="pics/ano2011/ano2011_08.jpg" width="400" height="420">
    <div id="credito-img"> Foto 1 - acervo de Thiago Gregorio. Foto 2 - acervo de Katarina Meneses  </div>
    
    
<span class="page-number">41</span>
</div>
