<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        função até 
        novembro de 2012. 
    </p>
    
    <p>
        Na gestão de <i>Jaildo</i> ocorreu uma continuidade dos 
        problemas ocorridos na coordenação anterior:  falta de 
        comprometimento dos gestores do Campus com o Curso e descaso 
        para com a visita do MEC que se aproximava. 
    </p>
    
    <p>
        Fala do professor <i>Jaildo Gurgel</i>
    </p>
    
    <p>
        <i>
            “Eu deveria emitir documentos, resolver problemas como, por 
            exemplo, uma sala que estivesse trancada,  descobrir quem 
            possuía a chave e abri-la, além de muitas outras demandas 
            que somadas à falta de apoio e de interesse da gestão do 
            Campus em ajudar agravavam os problemas. Não havia material 
            humano que me auxiliasse, secretária ou similar, e os 
            recursos eram sempre vetados.” 
        </i>
    </p>
    
    <p>
        No final de 2012 <i>Jaildo</i> saiu da função, deixando a 
        Coordenação do Curso de Música.
    </p>
    
    
<span class="page-number"> 319 </span>
</div>
