<div class="book-content" id="justificado">
    
    <h2><u>Quarteto de metais</u></h2>
    
    <p>
        O professor <i>Flávio Lima</i> sempre teve a preocupação em criar 
        quintetos e quartetos de metais, para dar maior fluência à 
        prática no instrumento. No ano de 2013 apresentou um trabalho 
        com um quarteto de Trompetes.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_15.png" width="360" height="270" />
    </center>
    
    <div id="credito-img" > 
          Lilian Danila, Marcelo Moura, Iago Rodrigues, Budião e Flávio Lima -
          acervo Flávio Lima
    </div>
    
    
    
<span class="page-number">122 </span>
</div>
