<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/vismec/vismec_07.png" width="315" height="220" />
    </center>
    <div id="credito-img" > 
        <label>
           Pedro Aurélio Persone - acervo Pedro
           <br />
           Alexandre Reche - acervo Alexandre
        </label>
    </div>
    
    <p>
        O coordenador do Curso, <i>Marinaldo Lourenço</i>, havia sondado 
        o Currículo Lattes dos dois avaliadores, e como estes 
        realizavam a avaliação. No dia esperado, os dois foram 
        recepcionados pela T.A.E. <i>Fernanda Lopes</i> no 
        aeroporto, seguindo para Belo Jardim.  
    </p>
    
     
    
<span class="page-number">293 </span>
</div>
