<div class="book-content" id="justificado">
    
    <p class="no-indent"> 
        em um variado repertório. Na Semana da 
        música, além dos eventos realizados no IFPE de Belo Jardim, o 
        Coro Comunitário ampliou suas apresentações com um recital na 
        Igreja Matriz de São Caetano, na matriz de Belo Jardim e na matriz de 
        Tacaimbó. O repertório constava de algumas músicas consagradas, 
        como “Eu Sei que Vou te Amar”, além de um repertório natalino, 
        tudo isto sob a regência do professor <i>Robson Ribeiro</i>, 
        além de alguns arranjos seus apresentados.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_12.png" width="360" height="210" />
    </center>
    <div id="credito-img" > 
        <label>
            Lucas Monteiro e Joermison Melo, apresentação no Enext - acervo Joermison Melo
        </label>
    </div>
    
<span class="page-number">161 </span>
</div>
