<div class="book-content" id="justificado">
    <p class="no-indent">
        esta formação teve que ser modificada.
    </p>
    
    <p>
        A segunda formação do NDE contava com o professor <i>Jandson 
        Ferreira</i> como presidente do Núcleo, a professora <i>Katarina 
        Meneses</i> como secretária, além dos docentes: <i>Flávio Lima, 
        Robson Ribeiro e Jaildo Gurgel</i>, quadro que estava instalado 
        na visita do MEC.
    </p>
    
    <p>
        Muitas vezes o NDE reuniu-se apenas com seus membros, outras, 
        com o Colegiado do Curso. Os membros do NDE sabiam que 
        este núcleo era importante e que precisavam estar afinados com 
        as deliberações exigidas pelo MEC, entre elas a veracidade da 
        existência do Núcleo, a comprovação de participação, com atas e 
        assinaturas deste grupo, além de propostas sugeridas pelo NDE ao 
        longo do curso de Música que viessem a contribuir para a 
        Licenciatura e que posteriormente seriam votadas pelo Colegiado.
    </p>
    
    
<span class="page-number">265 </span>
</div>
