<div class="book-content" id="justificado">
    
    <p class="no-indent">
        inúmeras peças musicais compostas criou a “Missa Nordestina”,  
        com texto em latim e 
        ritmos nordestinos. Escrita para piano e cordas, foi adaptada 
        pelo professor <i>Carlos Silva</i> para os instrumentos que o 
        curso de música de Belo Jardim abriga: Clarinete, Tuba, 
        Trombone, Flauta, Sax e Percussão.
    </p>
    
    <p>
        Somando-se aos esforços do professor <i>Carlos</i>, o professor 
        <i>Robson Ribeiro</i> e as professoras  <i>Rejane Campelo</i>, a 
        professora <i>Katarina Meneses e  Ana Paula Sá</i> levam o 
        projeto à vários outros espaços, como ao Teatro de  Santa Isabel, 
        em outubro de 2014, à Faculdade Marista, em novembro do mesmo 
        ano, nos  6  anos do IFPE.
    </p>
    
    <p>
         Nestes eventos, apesar de a iniciativa ter sido realizada na 
         disciplina do professor <i>Carlos</i>, a regência nos dias 
         mensurados ficou dividida entre o professor <i>Robson 
         Ribeiro, Carlos Antônio</i> e, em vários ensaios, com a 
         professora <i>Rejane Campelo</i>.
    </p>
    
   
    
    
<span class="page-number">236 </span>
</div>
