<div class="book-content" id="justificado">
    
    <p>
        <i>Robson Ribeiro e Rejane Campelo</i> eram os professores 
        responsáveis pela Regência de Coro, com aulas de regência, 
        apreciação musical, teoria musical, entre outros elementos.
    </p>
    <p>Mozart Vieira e Marinaldo Lourenço ficaram responsáveis pela Regência de Banda.</p>
     <center>
       <img class=" zoom-this" src="pics/pesext/pesext_24.png" width="300" height="190" />
    </center>
    <div id="credito-img" > 
        <label>
           Mozart Vieira no encerramento do Pronatec, em dezembro de 
           2013 - acervo Mozart Vieira
        </label>
    </div>
<span class="page-number">177 </span>
</div>
