<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        <i>Leopoldino</i> se 
        deparava com livros esgotados e alguns que eram de outra 
        nacionalidade - bibliografia estrangeira. Nas licitações 
        realizadas, algumas das empresas responsáveis pela compra de 
        livros não trabalhavam com livros importados.
    </p>
    
    <p>
        Várias vezes <i>Rodriggo</i> conversou com os professores sobre 
        a compra dos títulos, compareceu a algumas reuniões do Colegiado, 
        explicando sobre os livros esgotados que deveriam ser trocados, 
        e cogitou a possibilidade de os docentes oferecerem outros 
        títulos para a bibliografia estrangeira. Enfim, <i>Rodriggo</i> 
        e todos os que faziam parte da biblioteca, naquele momento, 
        fizeram o melhor possível.
    </p>
    
    <p>
        Outro problema enfrentado pelos funcionários da biblioteca era 
        sobre o dispositivo antifurto, equipamento que estava em uma 
        licitação coletiva com outros campi (que também precisavam do 
        dispositivo), porém ainda não havia sido realizada a compra.  
    </p>
    
    
    
<span class="page-number">279 </span>
</div>
