<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        matriz deveria ser formada a 
        partir do perfil do profissional que o grupo queria formar. A 
        pedagoga também lembrava a necessidade de rapidez no processo. 
        Então, para acelerar o andamento, <i>Juraci</i> realizou junto 
        aos docentes a divisão de grupos de trabalhos, definindo as 
        atividades a serem realizadas, bem como as datas e os 
        responsáveis por cada atividade, conforme descrito aqui: para 
        TCC - <i>Robson, Mozart, Marinaldo</i>, com entrega dos 
        trabalhos em 25/06/2013; Sistemática de estágios - <i>Juraci, 
        Bernardina, Rejane</i>, com entrega em 26/06 (manhã); AACC - 
        <i>Jandson, Jaildo, Katarina</i>, com entrega em 25/06 (noite); 
        Requisitos e Formas de acesso - <i>Evandro, Flávio</i>, com 
        entrega em 26/06; Ementários - <i>Flávio</i>/Todos, entre 
        19/06/2013 e 05/07/2013; Fundamentação Pedagógica - 
        <i>Bernardina, Juraci/Robson</i>, com entrega em 26/06.
    </p>
    
    <p>
        As alterações eram realizadas nos pequenos grupos, mas seriam 
        socializadas para o grande grupo, objetivando o acordo final 
        sobre as mudanças propostas. 
    </p>
    
     
    
<span class="page-number">261 </span>
</div>
