<div class="book-content" id="justificado">
    
    <h2><u>Oficinas da Semana da Música</u></h2>
    
    <p>
        Para contextualizar as atividades que aconteciam em sala, a 
        professora <i>Rejane Campelo</i>  envolveu  a comunidade externa 
        e alunos de sua disciplina “Metodologia do Ensino da Música” com 
        alguns elementos e práticas ocorridos em sala de aula. As aulas 
        de Metodologia oferecem elementos lúdicos para uma vivência em 
        sala de aula, sem necessariamente falar da teoria musical. Esta 
        prática é usada para a musicalização de crianças e leigos, e foi 
        desenvolvida por pensadores e estudiosos da música que ao longo 
        dos anos descobriram formas de musicalizar pessoas, sem 
        necessariamente abordar questões da teoria musical, são eles: 
        <i>Carl Orff, Zoltán Kodaly, Émile Jaques- Dalcroze, Edgar 
        Willems, Murray Schafer e Keith Swanwick</i>. 
    </p>
    
    <p>
        No ano de 2013, a professora <i>Rejane Campelo</i> trabalhou com 
        Dalcroze na oficina “O Corpo Musical”, e com Schafer nas “Oficinas 
        de Música” na Semana da Música.
    </p>
    
<span class="page-number">123 </span>
</div>
