<div class="book-content" id="justificado">
    
    <h3>*   Maio </h3>
    
    <h2><u>História da Música I </u></h2>

    <p>
        Em maio de 2013 os discentes da disciplina de História da Música
        I, juntamente com a professora <i>Katarina Meneses</i>, 
        realizaram uma visita técnica ao castelo de Ricardo Brennand, à 
        tarde, porém pela manhã apresentaram uma aula concerto na 
        Reitoria do IFPE, a pedido do professor <i>Marcos Valença</i>, 
        do Campus Recife, onde os alunos sucintamente tocaram e cantaram 
        em um concerto-aula, demonstrando os principais elementos da 
        <a class="fim">___</a>       História da Música Popular, 
    </p>
    
    <img class=" zoom-this" src="pics/ano2013/ano2013_03.png" width="375" height="140">
    <div id="credito-img"> Apresentação Auditório Reitoria - acervo Thiago Gregorio    </div>
<span class="page-number">59</span>
</div>
