<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/coordenacao/coordenacao_02.png" width="226" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Jaildo Gurgel - acervo Jaildo
        </label>
    </div>
    
    <br />
    
    <h2><u>Coordenador 2013 - 2015</u></h2>
    
    <p>
        Em fevereiro de 2013 o professor <i>Marinaldo Lourenço </i>deu 
        início à sua gestão como Coordenador do Curso, e é nesta que 
        ocorre a visita do MEC.
    </p>
    
    <p>
        As dificuldades relatadas pelo professor <i>Marinaldo</i> dizem 
        respeito às mesmas questões narradas pelos professores <i>Robson 
        e Jaildo</i>, com relação à falta de entendimentos dos 
        profissionais da Reitoria sobre o 
        <a class="fim">______________________________________</a>
    </p>
    
<span class="page-number"> 320 </span>
</div>
