<div class="book-content" id="justificado">
    
    <h2><u> I Recital Sacro </u></h2>
    
    <p>
        As professoras <i>Katarina Meneses e Rejane Campelo</i> 
        idealizaram um “Recital Sacro” que tinha o intuito de prestigiar 
        outros estilos musicais que não os abordados no programa da 
        Licenciatura em Música, e juntamente com os alunos do curso de 
        Canto e demais instrumentistas foi possível executar esta 
        atividade. Participaram, ainda, o professor <i>Robson Ribeiro, 
        Ronaldo França e Gutenberg Alves</i>, que executaram algumas 
        peças ao piano, e <i>Allan Leandro</i> ao violão.
    </p>
    
    <p>
        O recital foi apresentado no mini-auditório do IFPE e na Matriz 
        de São Caetano, em Dezembro de 2011. Professores e alunos 
        tocaram e cantaram no Recital Sacro. Na época, o curso contava 
        com apenas quatro discentes de Canto, porém os alunos de 
        extensão também participaram do evento.
    </p>
<span class="page-number">38</span>
</div>
