<div class="book-content" id="justificado">
    
    <p>
        O projeto do Renafor no ano de 2014 possibilitou a implementação 
        do LAPPEM, por solicitação do docente <i>Jaildo Gurgel</i>, 
        que, com o consentimento e verba do comitê gestor do Renafor, 
        na pessoa de <i>Edilene Guimarães</i>, oportunizou a criação do 
        laboratório. 
    </p>
    
    <p>
        O LAPPEM localiza-se por trás da Casa da Música, abriga 
        computadores, mesas e material de escritório, lá acontecem 
        algumas aulas e reuniões, como as do PIBID. 
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_26.png" width="360" height="190" />
    </center>
    <div id="credito-img" > 
        <label>
           LAPPEM - acervo Katarina Meneses
        </label>
    </div>
    
<span class="page-number">180 </span>
</div>
