<div class="book-content" id="justificado">
    
      
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_09.png" width="315" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Júnior Ston, Gutenberg Alves, Tiago Mota, Adjair Cavalcante e Francisco José (da esquerda para a direita)- Acervo Marcos Nascimento.
        </label>
    </div>
    
    <p>
        Após a colação de grau foi servido um jantar no refeitório do 
        campus,  com direito a muita música. Entre vários 
        instrumentistas, participaram <i>Cláudio Zerbasy</i>  (violão), 
        <i>Tiago Motta</i> (percussão), <i>Deneil Laranjeira</i> (piano). 
        Foi uma festa descontraída e alegre. 
        <a class="fim">___________________________________________</a>
    </p>
    
    
<span class="page-number">309 </span>
</div>
