<div class="book-content" id="justificado">
    
    
    <img class=" zoom-this" src="pics/ano2012/ano2012_07.jpg" width="319" height="214">
    <div id="credito-img"> Escola Frei Cassiano - acervo Internet  </div>
    
    <h3> * Julho</h3>
    
    <p>
    Em julho de 2012 o professor de trombone <i>Marinaldo Lourenço</i>
     vem somar seus conhecimentos ao grupo da Licenciatura em Música de 
     Belo Jardim, se tornando posteriormente coordenador do Curso.
    </p>
<span class="page-number">54</span>
</div>
