<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        <i>Medeiros</i> 
        (atualmente no Campus Garanhuns), que na chegada dos docentes de 
        Música os acolheu e recepcionou, mostrando aos professores 
        novatos alguns dos caminhos a serem percorridos naquela nova 
        jornada.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/impres/impres_03.png" width="136" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Romero Araújo Medeiros - acervo Marcílio Bezerra
        </label>
    </div>
    
    <p>
        Agradecimento especial a <i>Fernanda Pereira Lopes</i>, que no 
        ano de 2012 entrou para secretariar o curso, saindo para o 
        Campus Ipojuca em novembro de 2014. <i>Fernanda</i> foi um braço 
        forte quando o curso não tinha 
        <a class="fim"> ___________________________________________ </a>
    </p>
    
    <p class="no-indent">    
        
        <a class="fim">___________________________________________</a>
    </p>
    
<span class="page-number"> 326 </span>
</div>
