<div class="book-content" id="justificado">
    
    <center>
    <img class=" zoom-this" src="pics/semana/semana_11.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        Acervo do Professor Jaildo Gurgel
    </div>

    
<span class="page-number">117 </span>
</div>
