<div class="book-content" id="justificado">
    
    <p>
        <i>Adjair Cavalcante Costa</i>, orientando de <i>Robson 
        Ribeiro</i>, realizou um estudo sobre os grupos de corais na 
        Educação de Jovens e Adultos - EJA. O título do trabalho de 
        <i>Adjair</i> foi: Aprendizado e Desenvolvimento dos 
        Conhecimentos Musicais Pertinentes ao Canto Coral em Turmas da 
        EJA. A banca do TCC de <i>Adjair</i> foi: <i>Robson Ribeiro</i>, 
        a professora convidada  <i>Valdiene Carneiro Pereira</i> 
        (Seminário Batista) e <i>Bernardina Araújo</i>.
    </p>
    
    <p>
        <i>Edvaldo Valença Cavalcante Júnior</i>, orientando de 
        <i>Jaildo Gurgel</i>, realizou o seu TCC sobre os trios 
        elétricos. Seu título foi: O Trio Elétrico e Banda Asas da 
        América - Esforços e Resistência pela Manutenção da Cultura 
        Musical Pernambucana. Como banca de seu TCC, participaram: 
        <i>Marinaldo Lourenço, José do Rego Barreto Filho (UFPE) e 
        Jaildo Gurgel</i>.
    </p>
    
    <p>
        <i>Francisco José Ferreira de Araújo</i>, orientando de 
        <i>Marinaldo Lourenço</i>, optou por um tema que envolvesse a 
        performance no instrumento, e seu título
        <a class="fim">_____</a>
    </p>
    
    
<span class="page-number">314 </span>
</div>
