<div class="book-content" id="justificado">
     
     <p class="no-indent">
         em 2014, coletou os dados de sua pesquisa de mestrado, em Belo 
         Jardim, sobre as Bandas de Música da cidade  (Sociedade Cultural 
         e Filarmônica São Sebastião). 
    </p>
    
    <p>
        O objetivo da visita foi iniciar uma parceria com a UFPE e a 
        Universidade de Aalborg para a realização de pesquisas 
        colaborativas em Psicologia Cultural. Entre as atividades 
        realizadas durante a visita de 3 dias a Belo Jardim, destacamos: 
        a palestra "Psicologia Cultural e Música", proferida pelos 
        pesquisadores dinamarqueses à comunidade do Campus Belo Jardim; 
        a visita às bandas de música da cidade; a apresentação de dois 
        projetos de pesquisa desenvolvidos pelos grupos de estudo dos 
        professores <i>Tatiana Valério e Jandson Ferreira</i>, cujo 
        aporte teórico é a Psicologia Cultural.
    </p>
    
   <center>
       <img class=" zoom-this" src="pics/ano2010/oInicio033.jpg" width="360" height="130" />
    </center>
    
<span class="page-number"> 331</span>
</div>
