<div class="book-content" id="justificado">
    
    <h3><u>Os Alunos</u></h3>
    
    <p>
        Em 2015 o estado de Pernambuco possuia três cursos  
        superiores de música: um em Recife, na UFPE, um em Petrolina, no IFPE e 
        outro no IFPE Belo Jardim. Para os alunos que habitam esta 
        região do Agreste e para os que vivem na capital torna-se 
        inviável fazer a licenciatura em Petrolina pela distância da 
        cidade, restando as duas outras opções.
    </p>
    
    <p>
        A diferença entre a licenciatura em música oferecida na capital 
        e a oferecida no Agreste está na estrutura dos cursos. O curso 
        da UFPE é uma Licenciatura Plena, porém não havia formação no 
        instrumento. Já no IFPE Belo Jardim, os alunos saiam habilitados 
        também no instrumento.
    </p>
    
    <p>
        O alunado do curso no IFPE Campus Belo Jardim era o mais variado 
        possível, vindo das diversas regiões do estado, recebendo alunos 
        de Belo Jardim, Tacaimbó, Agrestina, Garanhuns, Santa Cruz do 
        Capibaribe, <a class="fim">______________________________</a>
    </p>
    
<span class="page-number">250 </span>
</div>
