<div class="book-content" id="justificado">
    
    <h3>* Março</h3>
    
    <p>
        O I Encontro de Estágio da Licenciatura em Música, 
        proporcionado pela docente <i>Bernadina Araújo</i>, aconteceu em 
        março de 2015, onde estavam presentes os  alunos do 5° e 7° 
        períodos do Curso.
    </p>
    
   
    
    <h3>* Maio/Junho</h3>
    
    <p>
        A disciplina “Seminários Temáticos III”, ministrada pelo professor 
        <i>João Alberto (João Ventura)</i> em 2015, abordou temas ligados 
        a Música Popular Brasileira e suas nuances. Para melhor retratar 
        os conteúdos oferecidos pelo docente, <i>João</i> realizou dois 
        espetáculos em formato de “Concertos aula”, com os conteúdos em 
        questão.    
    </p>
    
    <p>
        O primeiro espetáculo foi sobre <i>Noel Rosa e Ismael Silva</i>, 
        a vida e a eterna disputa entre os dois compositores, que em suas 
        canções retratavam os sentimentos 
        <a class="fim">______________________________________ </a>
    </p>
<span class="page-number">93</span>
</div>
