<div class="book-content" id="justificado">
    
   <center><h3> <u>Eventos - 2015</u> </h3></center>
   <br />
   <h3>*<u>Março</u></h3>
   <br />
   <h2><u>Expressão Cênica</u></h2>
   <br />
   <p>
        O “Tortura Nunca mais”, espetáculo montado pela professora 
        <i>Katarina Meneses</i> em 2014, na disciplina de Expressão 
        Cênica, foi reapresentado em 2015 no Ciclo de Música de Câmara promovido 
        pelo Sesc. A abertura aconteceu com a fala da professora 
        <i>Bernardina Araújo</i> sobre o que foi o Golpe Militar, a 
        repercussão ocasionada por este ato e suas consequências. Após 
        a fala da professora, o espetáculo teve início. 
   </p>
    
<span class="page-number">231 </span>
</div>
