<div class="book-content" id="justificado">
    
    <img class=" zoom-this" src="pics/ano2012/ano2012_04.jpg" width="360" height="220">
    <div id="credito-img"> Anderson e os discentes de violão e guitarra: Eduardo Espíndola, Marcos Gondim, Anderson Mariano, Robson Cavalcante e Renan Melo (da esquerda para a direita) - acervo Anderson Mariano.  </div>
    
    <h3> * Maio</h3>
    
    <p>
        A docente <i>Bernardina Araújo</i> já fazia parte do quadro de 
        professores há muito tempo e, como tal, bastante conhecedora do
        processo histórico do campus. Nessa ótica, em maio de 2012, 
        resolve proferir uma palestra sobre a “Trajetória Histórica no 
        Campus Belo  <a class="fim">___________</a>
    </p>
    
<span class="page-number">49</span>
</div>
