<div class="book-content" id="justificado">
    
    <h2><u> A Visita do MEC </u></h2>
    <br />
    <p>
        Quando os avaliadores chegaram ao Campus, um dos primeiros 
        espaços visitados foi a biblioteca. Sabiamente, <i>Rodriggo</i> 
        se antecipou às solicitações dos professores avaliadores. 
        Apresentou a biblioteca, os títulos, os folders que foram 
        preparados para este evento (um folder da biblioteca e o outro 
        da semana da biblioteca em 2013), apresentou a biblioteca 
        virtual, os eventos culturais que ocorreram naquele espaço, a 
        compra de duas bibliotecas virtuais - “Pearson e a mais recente 
        Ebrey”, relatou as duas capacitações para o uso do portal Capes, 
        realizado também por eles. Tudo que o bibliotecário narrou estava 
        arquivado em pastas que comprovavam toda a fala do mesmo.
    </p>
    
    <p>
        Em um curto espaço de tempo não se monta completamente uma 
        biblioteca com um acervo enorme, como era o do curso de Música, 
        porém os livros solicitados pelos avaliadores estavam inclusos 
        nas <a class="fim">________________________________________</a> 
    </p>
    
    
<span class="page-number">280 </span>
</div>
