<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_04.png" width="315" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Gutenberg Alves e Mozart Vieira- acervo Marcos Nascimento
        </label>
    </div>
   
    
<span class="page-number">304 </span>
</div>
