<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_05.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
           Projeto Luiz a Cem, em Florianópolis - acervo Marcos Gondim
        </label>
    </div>
    
<span class="page-number">211 </span>
</div>
