<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_14.png" width="360" height="325" />
    </center>
    <div id="credito-img">
        <label>
           Joseana Alves de Santana
           <br />
</label>
    </div>
    
     <div id="credito-img-l">
        <label id="credito-img">
           Cláudio Costa 
           <br />
           Evandro Benevides
        </label>
    </div>
    
    
<span class="page-number"> 347 </span>
</div>
