<div class="book-content" id="justificado">
    <label>classificados e tornaram-se alunos da 
        Licenciatura em Música.</label>
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_03.png" width="120" height="170" />
    </center>
    <div id="credito-img" > 
        <label>
            Flávio Lima a acervo Flávio Lima
        </label>
    </div>
    <br />
    <br />
    <h2><u>Grupo de Choro Todas as Segundas - Mozart Vieira (2011-2015)</u></h2>
    
    <p>
        A partir do ano de 2011 o professor <i>Mozart Vieira</i> criou 
        um grupo de Choro que acontecia todas as segundas-feiras na casa 
        da Música. O projeto vislumbrava agregar alunos de flautas, além 
        de discentes de outros instrumentos que pudessem somar ao projeto. 
        O repertório do grupo variava de choros 
        <a class="fim">____________________________________________</a>    
    </p>
<span class="page-number">151 </span>
</div>
