<div class="book-content" id="justificado">
    
    <h2><u>PIBID - Jaildo (2014 - 2015)</u></h2>
    
    <p>
        O PIBID é um Programa Institucional de Bolsas de Iniciação à 
        Docência, instituído pela CAPES em parceria com o MEC, sendo 
        implementado pelas licenciaturas em toda rede nacional - pública 
        e privada - como o maior programa de fomento nas escolas de 
        educação básica. 
    </p>
    
    <p>
        Cada projeto do PIBID abrange a sua área específica. Dessa 
        maneira, o docente <i>Jaildo Gurgel</i>, coordenador do PIBID em 
        música, coordena a temática na Licenciatura em Música, podendo 
        ajudar os alunos do curso a praticarem o que aprenderam na sala
        de aula. 
    </p>
    
    <p>
        As escolas beneficiadas pelo programa foram a Tomás Alves e a 
        EREM. Nestas escolas, 10 discentes da Licenciatura em Música 
        fazem parte do programa. Os planos de trabalhos são elaborados, 
        ocorre a discussão do que é pertinente sobre a dinâmica e, após 
        isto, os discentes colocam em prática nas referidas
        <a class="fim">___________________</a>
    </p>
    
    
    
<span class="page-number">197 </span>
</div>
