<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_20.png" width="360" height="250" />
    </center>
    <div id="credito-img" > 
        <label>
           Marcílio Duarte - acervo Marcílio  <br />
           Eduardo Espíndola - acervo Eduardo
        </label>
    </div>
    <br />
    <br />
    <h2><u>Formação continuada de Professores e Professoras de Música: 
    aproximando Teoria e Prática na perspectiva da diversidade – 
    Bernardina Araújo e Mozart Vieira, em 2013</u></h2>
    
<span class="page-number">173 </span>
</div>
