<div class="book-content" id="justificado">
    
    <h3>* Dezembro</h3>
    
    <h2><u> Prática Profissional VI </u></h2>
    
    <p>
        O Maestro <i>Ulisses Lima</i>, músico de grande importância para 
        a sociedade Musical de Belo Jardim, passou por orquestras em 
        diversos municípios, como em São José do Egito e Sertânia. 
        Deixou grande legado para a cultura do estado, com mais de 300 
        peças de sua autoria, entre valsas, frevos, marchas e cirandas. 
    </p>
    
    <p>
        O professor <i>Evandro Sampaio</i>, em uma homenagem mais que 
        merecida ao maestro, resolve resgatar algumas de suas obras, 
        realizando uma apresentação no auditório e adaptando os
        arranjos<sup>*</sup> de Ulisses para os alunos de sopro do curso de música.
    </p>
    
    <p>
        Este evento fez parte da disciplina de Prática Profissional VI, 
        realizado no Auditório do IFPE, contando com a presença da esposa 
        do senhor <i>Ulisses </i>
        <a class="fim"> __________________________________________ </a>
    </p>
    
    <div id="dic">
        * Este material se encontra na biblioteca do Campus
    </div>
<span class="page-number">70</span>
</div>
