<div class="book-content" id="justificado">
    
    <iframe width="370" height="260" src="https://www.youtube.com/embed/-JfkVT5OG_M" frameborder="0" ></iframe>
    <div id="credito-img"> Interpretação da professora Katarina Meneses - acervo Thiago Gregorio </a>  </div>

    <h2><u>Produção Musical </u></h2>

    <p>
        A disciplina de Produção Musical foi criada no intuito de 
        estimular os discentes a buscar meios de se inserir no mercado 
        artístico, conhecendo um pouco dos mecanismos do mundo da Produção 
        Musical. Durante os anos de 2014 e 2015 a disciplina foi 
        ministrada pela professora <i>Ana Paula Sá</i>.
    </p>
<span class="page-number">79</span>
</div>
