<div class="book-content" id="justificado">
     <p>
        Em 2015 foi desenvolvido um projeto de pesquisa colaborativa 
        envolvendo as três instituições (IFPE/ UFPE / Aalborg), com a 
        previsão da vinda de dois alunos do Centro em Psicologia 
        Cultural de Aalborg, para o Brasil, no ano de 2016.<sup>*</sup>
        <a href="https://aalborg.academia.edu/BradyWagoner">https://aalborg.academia.edu/BradyWagoner</a>
        
        <br />
        
    </p>
    <br /><br />
    <center>
       <img class=" zoom-this" src="pics/intercambio/intercambio_01.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            O grupo todo no mini-auditório - acervo Thiago Gregorio
        </label>
    </div>
    <br />
    <label id="dic">
            <sup>*</sup>
            Texto construído com a colaboração da professora 
            Tatiana Valério.
    </label>
    
<span class="page-number"> 332 </span>
</div>
