<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_04.png" width="360" height="325" />
    </center>
    <div id="credito-img">
        <label>
           Jailson de Arruda Almeida
           <br />
        </label>
    </div>
    
     <div id="credito-img-l">
        <label id="credito-img">
           Cíntia Karine
        </label>
    </div>
    
    
<span class="page-number"> 336 </span>
</div>
