<div class="book-content" id="justificado">
    
    <h3>Semana da Música 2014</h3>
    
    <p>
        Em 2014, a Semana da Música promoveu eventos como oficinas de 
        música, apresentação do Coro Comunitário, apresentações no Sesc, 
        ensaio aberto da Missa Nordestina e encenação do Tortura Nunca 
        Mais, espetáculo realizado na disciplina de Expressão Cênica, 
        entre outros espetáculos.
    </p>
    
    <h2><u>O Clarinete e a Música Brasileira</u></h2>
    
    <p>
        O professor <i>Carlos Silva</i>, no intuito de abrilhantar a 
        Semana da Música, realizou uma apresentação com seu grupo de 
        Clarinete, com repertório voltado para músicas brasileiras.
    </p>
    <img class="left-pic zoom-this" src="pics/ano2010/oInicio033.jpg" width="360" height="171">
    
<span class="page-number">136 </span>
</div>
