<div class="book-content" id="justificado">
    
    <img class=" zoom-this" src="pics/ano2012/ano2012_08.jpg" width="500" height="300">
    <div id="credito-img"> Marinaldo Lourenço – acervo Marinaldo   </div>
    
    <h3> * Outubro</h3>
    
    <h2><u>Visita Técnica dos alunos de Canto </u></h2>
    
    <p>
        Saindo dos muros do IFPE, as professoras <i>Katarina Meneses e Rejane Campelo</i> realizaram juntamente com <a class="fim">____________</a>
    </p>
<span class="page-number">55</span>
</div>
