<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_19.png" width="360" height="375" />
    </center>
    <div id="credito-img" > 
        <label>
           Jean Márcio UFCG - acervo Jean
        </label>
    </div>
    <br />
    
<span class="page-number">230 </span>
</div>
