<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_17.png" width="360" height="250" />
    </center>
    
    <div id="credito-img" > 
         Coro de Extensão no mini-auditório, sob a regência do professor Robson Ribeiro - acervo Joermison Melo
    </div>
    
    <h2><u>Semana da Música e Semana da Biblioteca</u></h2>
    
    <p>
        A Semana da Biblioteca foi realizada paralela ao evento da 
        Semana da Música, da qual professores e alunos fizeram parte,
        promovendo uma ação naquele espaço, que integraria música, 
        dramaturgia e leitura. Várias apresentações aconteceram na 
        biblioteca, entre elas as dos alunos de Instrumento Complementar, 
        <a class="fim">_______________________</a>
        
    </p>
    
<span class="page-number">125 </span>
</div>
