<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        prateleiras, bem como o uso destes pelos alunos era real.
    </p>
    
     <center>
       <img class=" zoom-this" src="pics/biblioteca/biblioteca_08.png" width="315" height="255" />
    </center>
    <div id="credito-img" > 
        <label>
           Wilson Braz, Rodriggo Leopoldino - acervo Katarina Meneses
           <br />
           Edson Lucena - acervo Edson Lucena
        </label>
    </div>
    
    <p>
        Ao término da visita os avaliadores ficaram encantados com o 
        trabalho daquela equipe, o desempenho de todos, sendo um dos 
        pontos positivos para a avaliação do curso de Música.
    </p>
    
        
    
<span class="page-number">281 </span>
</div>
