<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_07.png" width="360" height="325" />
    </center>
    <div id="credito-img-l">
        <label>
           Sandra Maria Casiano
           <br />
</label>
    </div>
    
     <div id="credito-img">
        <label>
           Jozevaldo Augusto da Silva
           <br />
           Zayle Monteiro
           <br />
           Maria José Silva Santos
           <br />
           Italo Rodrigues
           <br />
           Eliane Cordeiro
           <br />
           Erivan Claudino
           <br />
           Samuel Santana
</label>
    </div>
    
    
    
<span class="page-number"> 339 </span>
</div>
