<div class="book-content" id="justificado">
    
    <iframe width="370" height="240" src="https://www.youtube.com/embed/0dS1x6F0cGs" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Música na comunidade quilombola do Barro Branco
    </div>
    
    <h2><u> Software livre - João Almeida (2012-2015)</u></h2>
    <h2><u>*    A Catalogação</u></h2>
    
    <p>
        As pesquisas do professor <i>João Almeida</i> com os softwares 
        ligados a música começaram no ano de 2012 e foram até o ano de 
        2015. O projeto se divide em duas partes: a primeira de 
        catalogação dos softwares e a segunda a de modificação destes. 
        Dentre os softwares <a class="fim">_________________________</a>
    </p>
<span class="page-number">147 </span>
</div>
