<div class="book-content" id="justificado">
    
    
    <p class="no-indent">
        que é o Curso de Música.
    </p>
    
    <p>
        Contemporaneamente, ocorre a troca de diretores do Campus - 
        <i>Geraldo Vieira para Francisco das Chagas Lino Lopes </i>. Com 
        a mudança dos gestores se dá uma sensível transformação no 
        Campus, de uma forma geral, e era notório que naquele momento o novo diretor possuía 
        interesse em ajudar o Curso de Música a superar os problemas que 
        a Licenciatura enfrentava.
    </p>
       
    <center>
       <img class=" zoom-this" src="pics/coordenacao/coordenacao_03.png" width="226" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Marinaldo Lourenço - acervo Marinaldo
        </label>
    </div>
    
    
    
    
<span class="page-number"> 321 </span>
</div>
