<div class="book-content" id="justificado">
    
    <h2><u>Trombone e Trompete - Marinaldo Lourenço (2012-2015)</u></h2>
    
    <p>
        O professor <i>Marinaldo Lourenço</i> ingressou no IFPE em julho 
        de 2012 e desde sua chegada realizou projetos de extensão com 
        alunos de trompete e trombone. O grupo do professor participou de várias 
        apresentações, pelo Sesc, em outros IFs e em outros estados.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_15.png" width="200" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Marinaldo Lourenço - acervo Marinaldo 
        </label>
    </div>
    
<span class="page-number">165 </span>
</div>
