<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/pqta/pqta_05.png" width="360" height="325" />
    </center>
    <div id="credito-img-l">
        <label>
           Geraldo de Andrade Arruda
           <br />
           Alexandre Kleud
           <br />
</label>
    </div>
    
     <div id="credito-img">
        <label>
           Maria Cecília da Silva
           <br />
           Laudineide Maria Freitas 
           <br />
            Carla Michelle Sousa
           <br />
</label>
    </div>
    
    
<span class="page-number"> 337 </span>
</div>
