<div class="book-content" id="justificado">
    
    <h2>
        <u>
            Quinteto de Metais
        </u>
    </h2>
    
    <p>
        O professor <i>Flávio Lima</i>, no ano de 2012, apresentou um 
        quinteto de metais formado por três alunos de Trompete, um de 
        Trombone e um de Tuba, em um repertório variado.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_03.png" width="360" height="300" />
    </center>
    
    <div id="credito-img" > 
        Quinteto de metais, professor Flávio Lima – acervo Flávio Lima
    </div>
    
<span class="page-number">108 </span>
</div>
