<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_33.png" width="360" height="400" />
    </center>
    <div id="credito-img" > 
        <label>
           Alunos e professores do grupo - acervo de Maelda
           <br />
           Idosas do CRAES - acervo Maelda Lacerda
           <br />
          
        </label>
    </div>
    
<span class="page-number">194 </span>
</div>
