<div class="book-content" id="justificado">
    
    <h1>Ano de 2015</h1>
   
    <h3>* Fevereiro</h3>
    
    <h2><u>Palestra com a professora Bernardina Araújo</u></h2>
    
    <p>
    “Os Desafios de Aprender e Ensinar na Contemporaneidade” foi o tema 
    da palestra ministrada pela docente <i>Bernardina Araújo</i> para 
    professores de três campi diferentes: Belo Jardim, Paulista e 
    Pesqueira.    
    </p>
    
     <center><img class=" zoom-this" src="pics/ano2015/ano2015_01.png" width="280" height="150" /></center>
    <div id="credito-img" > 
        Bernardina Araújo - acervo Bernardina Araújo
    </div>
    
<span class="page-number">92</span>
</div>
