<div class="book-content">

<h1> A Cidade e o Curso de Música </h1>
<div id="justificado"> 
  <p>
    A cidade de Belo Jardim está localizada a 180 km de Recife, em
    Pernambuco, e é conhecida como “Terra dos Músicos”. Este nome se dá pela
    existência de bandas sinfônicas na localidade, com lugar de destaque na vida
    daquela comunidade. Tais bandas anteriormente eram as responsáveis pelo
    ensino de música aos seus participantes, faziam o entretenimento da
    população e, há quem diga, ainda eram rivais umas das outras. Foi nesta
    disputa acirrada entre os maestros e os membros das bandas que a cidade
    adquiriu o título “Terra dos Músicos”.
  </p>
  <p>
    Esta possuía uma Escola Agrícola, que entre 2008 e 2009 passou pela
    &nbsp;Ifetização<SUP>1</SUP>, &nbsp;vindo a se chamar <a class="fim">_</a>IFPE
  </p>
  
  <p>
    <div id="dic">
        <hr>
        <SUP>1</SUP>
        Ifetização- é um termo usado no IFPE para explicar a reforma da Educação
        (Lei 11.892/08) ocorrida no governo do presidente
        Luiz Inácio Lula da Silva, que transformou as antigas Escolas Agrícolas em Institutos Federais. 
        Muitos destes Institutos criaram faculdades e assim interiorizaram as graduações.
    </div>
  </p>  
</div>
</div>
<span class="page-number">13</span>
