<div class="book-content" id="justificado">
    
    <h2><u>Aulas de técnica vocal - Katarina Meneses (2012 a 2015)</u></h2>
    <br />
    <p>
        A professora de Canto <i>Katarina Meneses</i> iniciou o trabalho 
        de técnica vocal no ano de 2012, dando continuidade ao projeto 
        até o ano de 2015. Ministrou aulas de Canto para a comunidade 
        externa que quisesse melhorar a técnica vocal. Muitos dos que 
        chegavam eram participantes de alguma Igreja e vinham com vozes 
        desgastadas e viciosas, conforme o que ouviam nas rádios.
    </p>
    <br />
    <p>
        O trabalho realizado ao longo dos anos foi grande para modificar 
        os hábitos adquiridos pelos discentes. Alguns destes alunos de 
        extensão tornaram-se alunos do curso de Canto.
    </p>
<span class="page-number">163 </span>
</div>
