<div class="book-content" id="justificado">
    
    <h2><u>Missa Nordestina, de Clóvis Pereira</u></h2>
    
    <p>
        Entre os eventos apresentados de forma elaborada, ainda ocorreram 
        apresentações que estavam por ser concluídas e que foram 
        apresentadas em forma de ensaio aberto. Neste formato, a missa de 
        <i>Clóvis Pereira</i>, estudada na disciplina do professor 
        <i>Carlos Antônio Silva</i>, teve seu destaque, sendo executada 
        no auditório do IFPE, com regência do professor <i>Robson Ribeiro</i>, 
        e tendo como solista o aluno <i>Adjair Cavalcante</i>. Os arranjos 
        ficaram a cargo do professor <i>Carlos Silva</i>. A missa, pensada 
        por <i>Clóvis Pereira</i> para cordas, recebeu nova roupagem, com 
        arranjos para instrumentos de sopro e percussão. Esta missa, além 
        de ser apresentada na Semana da Música no IFPE, também fez uma 
        mostra em Outubro de 2014 no Teatro de <i>Santa Isabel</i>, a 
        convite do senhor <i>Quiercles Santana</i>, gerente em exercício 
        no <i>Santa Isabel</i> naquela época.
    </p>
<span class="page-number">139 </span>
</div>
