<div class="book-content" id="justificado">
    
    
    <center>
       <img class=" zoom-this" src="pics/impres/impres_01.png" width="226" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
            Professor Henrique - acervo Professor Henrique
        </label>
    </div>
    
    <p>
        Um agradecimento mais que especial ao antigo diretor <i>Geraldo 
        Vieira da Costa</i>, que na formação do Curso de Música, no ano 
        de 2010, lutou pelos códigos de vagas, propiciando a chegada dos 
        docentes que seriam os futuros professores do curso.
        
        A gestão do professor <i>Geraldo</i> foi difícil, com alguns 
        profissionais que após assumirem alguns cargos tiveram que se 
        ausentar para estudo ou por motivos pessoais. Era perceptível 
        que havia um certo despreparo daquela equipe em gerir a dinâmica 
        do Campus, porém <i>Geraldo</i> 
        <a class="fim">________________________________________</a>
    </p>
    
<span class="page-number"> 324 </span>
</div>
