<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_23.png" width="360" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Gutenberg Alves, Marcos Gondim, Diego Batista e All Souza, imagem superior  
           e
           Erisson Porto, Vanessa Braga, Thiago Gregorio e Katarina Meneses - Acervo Katarina Meneses.
        </label>
    </div>
    <iframe width="370" height="200" src="https://www.youtube.com/embed/y-hV3l6Bsuk" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Vídeo de Gutenberg cantando Geni, de Chico Buarque
    </div>
    <br />
    
    
<span class="page-number">233 </span>
</div>
