<div class="book-content" id="justificado">
    
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_03.png" width="315" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Marinaldo Lourenço (Coordenador do Curso) e Fernanda Lopes (Técnica em Assuntos educacionais)- acervo Marcos Nascimento
        </label>
    </div>
    
    
<span class="page-number">303 </span>
</div>
