<div class="book-content" id="justificado">
    
    <h3>* <u>Setembro</u></h3>
    
    <h2><u>Grupo de Flauta,  em Vitória de Santo Antão</u></h2>
    
    <p>
        O grupo de Flauta do professor <i>Mozart Vieira</i> recebeu um 
        convite no ano de 2014 para participar do Fórum das 
        Licenciaturas, em Vitória de Santo Antão, apresentando um 
        repertório brasileiro.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_15.png" width="292" height="179" />
    </center>
    <div id="credito-img" > 
        <label>
           Acervo - site do IFPE Vitória
        </label>
    </div>
    <br />
    
<span class="page-number">225 </span>
</div>
