
<div class="book-content" id="justificado">
<div id="letras">
<h1> Construção do Curso de Música </h1>

<i>
<p>
    Durante aproximadamente três anos (2007 a 2009), vários debates 
    surgiram dentro da comunidade belo-jardinense sobre a necessidade da 
    criação de cursos superiores no IFPE Campus Belo Jardim. Estes 
    questionamentos foram encampados pela iniciativa privada, em conjunto com 
    as representações populares e a comunidade docente da Instituição, sendo 
    que os debates ocorreram em vários locais e o último deles foi realizado no 
    IFPE Campus Belo Jardim. Observou-se que, dentre todas as propostas 
    apresentadas e discutidas, a criação de um curso superior de Música obteve 
    unanimidade, além de que, a região da cidade de Belo Jardim possui uma forte 
    tradição musical, caracterizada, sobretudo, pela prática instrumental no campo 
    das orquestras populares e no tradicional movimento de bandas de música. 
</p>

<p>
É importante mencionar o relevante trabalho

<!-- Final da Página --> <a class="fim"> ___________________________ </a> <!-- FIM -->
</p>
</i>

</div></div>
<span class="page-number">24</span>
