<div class="book-content" id="justificado">
    
    <iframe width="360" height="220" src="https://www.youtube.com/embed/G1GIfTMBmks" frameborder="0" allowfullscreen></iframe>
    <br />
     <center>
       <img class=" zoom-this" src="pics/bandas/bandas_02.png" width="360" height="210" />
    </center>
    <div id="credito-img" > 
        <label>
           Acervo site do IFPE Belo Jardim
        </label>
    </div>
    
<span class="page-number">245 </span>
</div>
