<div class="book-content" id="justificado">
    
    <p>
        A nota do MEC demorou cerca de duas semanas para ser divulgada,
        porém o resultado foi surpreendente:  o curso ficou com nota 4,0 
        (quatro), em um esforço coletivo, recebido com muita felicidade 
        e comemorado no restaurante Cuba Libre, na semana, seguinte onde 
        estava inclusive o diretor, <i>Francisco das Chagas Lopes</i>.
    </p>

    
    
    
<span class="page-number">296 </span>
</div>
