<div class="book-content" id="justificado">
    
    <h2>* <u>Outubro</u></h2>

    <h2><u>Seu Geraldo em São Paulo</u></h2>
    
    <p>
        A III Semana Seu Geraldo em São Paulo é um curso 
        de capacitação que acontece anualmente para 
        músicos de bandas e para aqueles 
        instrumentistas que participam de rodas de choro. O 
        professor <i>Evandro Sampaio</i>, no ano de 2013, participou 
        deste evento  juntamente com o discente <i>Alexandre Rodrigues</i>.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_09.png" width="360" height="185" />
    </center>
    <div id="credito-img" > 
        <label>
           Alexandre Rodrigues - acervo Alexandre 
           &
           Evandro Sampaio - acervo Evandro 
        </label>
    </div>
    <br />
    
<span class="page-number">217 </span>
</div>
