<div class="book-content" id="justificado">
    
    <p class="no-indent">
        Nesta disciplina estavam presentes os 
        
        alunos: <i>Adjair Cavalcante, Gilmara Francisca, Gutenberg Alves e Thiago Gregorio</i>.</p></p>
    
    <img class=" zoom-this" src="pics/ano2014/ano2014_03.png" width="380" height="360" />
    <div id="credito-img" > 
        Adjair e Gilmara em Cênicas II-Acervo de Gilmara Sousa
    </div>
<span class="page-number">78</span>
</div>
