<div class="book-content" id="justificado">
    
    <p class="no-indent">
        apresentadas, como a poesia e o teatro.
    </p>
    
    <p>
        Entre o repertório do coro de trombones estavam: 
        My Way, De Volta Pro Aconchego, Hey Jude. 
    </p>
    
    <p>
        O grupo de flauta do professor <i>Mozart Vieira</i> também 
        realizou uma belíssima apresentação com algumas músicas do 
        repertório de flauta. O evento contou ainda com a participação 
        do professor <i>Evandro Sampaio</i>, levando o espetáculo 
        realizado no Fórum de Florianópolis: Luiz a Cem, com arranjos de 
        alguns alunos e regência do professor <i>Evandro Sampaio</i>.
    </p>
    <br />
    <center>
        <h3><u> Eventos - 2013</u></h3>
    </center>
    <br />
    <h2><u>Encontro de Saxofonista</u></h2>
    
<span class="page-number">213 </span>
</div>
