<div class="book-content" id="justificado">
    
    <p class="no-indent">
        com o grupo, entre elas: apresentação no 
        auditório do IFPE Campus Belo Jardim e uma apresentação em Caruaru, na 
        Caravana de Extensão, realizada em novembro do mesmo ano. Neste 
        mesmo ano - 2012 - os alunos do professor <i>Evandro</i> também 
        realizaram uma apresentação no refeitório, tornando aquele 
        momento um almoço musical.
    </p>
    
    <p>
        Com a chegada do professor <i>Carlos Silva classificados e tornaram-se alunos da 
        Licenciatura em, o docente <i>Evandro</i> passa 
        a dedicar-se aos alunos de Sax, de 2013 a 2015.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_05.png" width="275" height="165" />
    </center>
    <div id="credito-img" > 
        <label>
            Um almoço musical em 2011 - acervo Evandro Sampaio
        </label>
    </div>
    <br />
    <br />
<span class="page-number">153 </span>
</div>
