<div class="book-content" id="justificado">
    
    <h2>* <u>Novembro</u></h2>
    <br />
    <p>
        Os alunos de Trompete da turma 2013 do professor <i>Flávio Lima</i> 
        participaram do Quarteto de Trompetes no Encontro Nacional de 
        Trompetistas, realizado em Goiana-PE. 
    </p>
    
    
    <center>
       <img class=" zoom-this" src="pics/eventos/eventos_10.png" width="274" height="200" />
    </center>
    <div id="credito-img" > 
        <label>
           Flávio Lima - acervo Flávio 
        </label>
    </div>
    <br />
<span class="page-number">218 </span>
</div>
