<div class="book-content" id="justificado">
    
        
    <p class="no-indent">
        quando não temos o solo preparado para a plantação. A 
        colheita foi feita, vocês verão!
   </p>
   
   <p>
        Resta-nos agradecer à Professora Katarina Meneses pelo seu 
        empenho e alegria em desenvolver esse projeto.
   </p>
   <br />
   <center>
       <p>
        Francisco das Chagas Lino Lopes
         <br />
        Diretor Geral 2013 ~ 2015
       </p>
    </center>    
    
<span class="page-number"> 10 </span>
</div>
