<div class="book-content" id="justificado">
    
    <iframe width="370" height="200" src="https://www.youtube.com/embed/ouvB4MoBfhE" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Música no Refeitório Prof. Evandro Sampaio
    </div>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_06.png" width="360" height="190" />
    </center>
    <div id="credito-img" > 
        <label>
            Apresentação em Caruaru em 2011, grupo de extensão do professor Evandro Sampaio - acervo Evandro &
            Apresentação de alguns alunos do docente Evandro no ENEXT /2014 - acervo imagens do Campus Belo Jardim
        </label>
    </div>
<span class="page-number">154 </span>
</div>
