<div class="book-content" id="justificado">
    
    
    <h1>Nos Bastidores</h1>
    
    <p>
        Essa história exigiu grande esforço de quatro pessoas, para coletar vídeos, fotos e histórias de muitas músicas e lutas. Aproveitem e divirtam-se. A equipe - <i>Ana Paula Sá, Gilmara Sousa, Katarina Meneses e Wilson Braz</i>.
    </p>
    
    <iframe width="370" height="225" src="https://www.youtube.com/embed/go7Uo1TyP3E" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Ana Paula e Katarina Meneses - Acervo Katarina Meneses
    </div>
    
<span class="page-number"> 349 </span>
</div>
