<div class="book-content">
<div id="justificado">

<p class="no-indent">  
    <i> Vasconcelos</i>, que 
    contribuiu para que os docentes 
    conseguissem elaborar os documentos
    necessários para o início da Licenciatura.
</p>

<img class="zoom-this" src="pics/ano2010/oInicio01.png" width="400" height="260">
<div id="credito-img" > Evandro Sampaio e Flávio Lima – acervo dos próprios</div>

<p>
Aqueles foram dias difíceis, os professores pouco sabiam sobre o que

deveriam fazer, pois apesar de todos estarem no exercício da docência há 

anos, nenhum deles  <a class="fim">___________________</a>

</p>


 <!-- Final da Página --> <a style="visibility:hidden"> ___________________________ </a> <!-- FIM -->
 
 </p>
</div>
</div>
<span class="page-number">16</span>
