<div class="book-content" id="justificado">
    
    <p class="no-indent">
    
        O IFPE comprou o revestimento e o serviço vinha  incluso. 
        Isso foi possível com certa rapidez e sem passar pelas licitações, 
        pois o valor não excedia R$ 8.000,00. (oito mil reais). A partir
         daí a bateria migrou para a sala, que ficou conhecida como 
         “Sala de Bateria”.
    </p>
    
    <p>
        O mesmo ocorreu com uma bateria “top de linha” Gretsch, modelo 
        Renown Maple, que foi obtida por menos de R$ 8.000,00. A 
        sensibilidade e a colaboração do CGAF foram fundamentais no 
        processo de aquisição de vários instrumentos e equipamentos 
        musicais para o Curso de Licenciatura em Música, entre os anos 
        de 2011 e 2012. 
    </p>
    
    <img class="left-pic zoom-this" src="pics/ano2012/ano2012_02.jpg" width="265" height="141">
    <div id="credito-img"> <br /><br /><br />Sala de Bateria – acervo Katarina Meneses  </div>
    
<span class="page-number">45</span>
</div>
