<style type="text/css">
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000000;
    }
</style>

<div class="book-content" id="justificado">
    
    
<label>
MENEZES,Juliane. 
    <b>IFPE de Jaboatão terá aula inaugural nesta terça feira. </b>
Disponível em: <http://www.jaboatao.pe.gov.br/jaboatao/secretarias/secretaria-municipal-de-planejamento%20-gestao-e-desenvolvimento-economico/2014/10/13/NWS,417832,52,552,JABOATAO,2132-IFPE-JABOATAO-TERA-AULA-INAUGURAL-TERCA-FEIRA.aspx>. Acesso em: 21 jun. 2015, 10:00. 
</label>  <br /><br />

<label>

    <b>Ministério da Educação (Brasil). </b>
Disponível em: <https://pt.wikipedia.org/wiki/Minist%C3%A9rio_da_Educa%C3%A7%C3%A3o_%28Brasil%29>. Acesso em: 21 jun. 2015, 07:49. 
</label>  <br /><br />

<label>
    <b>Morreu o maestro Ulisses Lima. </b>
Disponível em: <http://cidadebelojardim.blogspot.com.br/2010/09/morreu-o-maestro-ulisses-lima.html>. Acesso em: 23 jun. 2015, 17:43.
</label>  <br /><br />

<label>
    <b>Mundos Musicais do Agreste Pernambucano. </b>
Disponível em: < http://map-mundosmusicais.blogspot.com.br/p/videos.html>. Acesso em: 17 outubro. 2015, 21:33.

</label>  <br /><br />

<label>
NASCIMENTO, Arlindo Mozart Vieira do; SILVA JÚNIOR, José Davison da; RIBEIRO, Robson Rodrigues; VASCONCELOS, Rosa Maria Oliveira Teixeira de. 
    <b>Licenciatura em música no instituto federal de educação, ciência e tecnologia de pernambuco (IFPE) - campus Belo Jardim: um exemplo de interiorização das políticas públicas em educação musical. </b>
Disponível em: <http://www.abemeducacaomusical.com.br/sistemas/anais/congressos/Anais_nordesteabem_2011_1.pdf#page=375>. Acesso em: 18 out. 2015, 21:55. 
</label>  <br /><br />

    
    
<span class="page-number"> 354 </span>
</div>
