<div class="book-content" id="justificado">
    
    
    
    <center>
       <img class=" zoom-this" src="pics/colagrau/colagrau_01.png" width="315" height="300" />
    </center>
    <div id="credito-img" > 
        <label>
           Acervo - Marcos Nascimento
           <br />
           Andreza Cordeiro - acervo Andreza
        </label>
    </div>
    
    <p>
        Ao longo da colação, várias falas aconteceram, entre elas a do 
        orador da Turma 2011, o aluno <i>Adjair Cavalcante</i>, que fez 
        um discurso emocionado. Todas as falas foram traduzidas em 
        libras pela intérprete <i>Tarciana Ramos</i> e pelo professor 
        <i>Silas dos Santos</i>. 
        <a class="fim">__________________________________________</a>
    </p>
    
    
<span class="page-number">301 </span>
</div>
