<div class="book-content" id="justificado">
    
     <h2>
        <u>
           Grupo de Clarinete
        </u>
    </h2>
    
    <p>
       O professor <i>Evandro Sampaio</i> apresentou uma pequena mostra 
       do trabalho que vinha realizando com os alunos de Clarinete no 
       IFPE.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_05.png" width="360" height="300" />
    </center>
    
    <div id="credito-img" > 
        Dia da Cultura: Grupo de Clarinete do professor Evandro Sampaio - 
        acervo de Thiago Gregorio
    </div>
    
<span class="page-number">110 </span>
</div>
