<div class="book-content" id="justificado">
    
    <p>
        Em 2015 o projeto continuou, porém com os extensionistas 
        <i>Joermison Melo (Técnica Vocal) e Antônio Marcos (Violão)</i>. 
    </p>
    
    <iframe width="370" height="200" src="https://www.youtube.com/embed/9s_LYSJ4lKs" frameborder="0" ></iframe>
    <div id="credito-img"> 
        Coral de extensão
    </div>
    
    <center>
       <img class=" zoom-this" src="pics/pesext/pesext_13.png" width="230" height="140" />
    </center>
    <div id="credito-img" > 
        <label>
            Antônio Marcos - acervo Marcos
        </label>
    </div>
<span class="page-number">162 </span>
</div>
