<div class="book-content" id="justificado">
    
    <h2>
        <u>
            Grupo de Sopro
        </u>
    </h2>
    
    <p>
       O professor <i>Evandro Sampaio</i> levou um pouco do que realizava 
       em sala de aula para a semana da música de 2013, com o grupo de 
       Sax e Clarinete.
    </p>
    
    <center>
       <img class=" zoom-this" src="pics/semana/semana_04.png" width="360" height="240" />
    </center>
    
    <div id="credito-img" > 
        Dia da Cultura: Grupo de Sopro do professor Evandro Sampaio - 
        acervo Thiago Gregorio.
    </div>
    
<span class="page-number">109 </span>
</div>
